﻿@{
    Layout = "";
}

@model Nop.Plugin.Payments.Ogone.ConfigurationModel
@using Nop.Plugin.Payments.Ogone.Models;
@using Nop.Web.Framework;

@*@Html.action("storescopeconfiguration", "setting", new { area = "admin" })*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PSPID)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.PSPID)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AdditionalFee)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFee)
                @Html.ValidationMessageFor(model => model.AdditionalFee)
            </td>
        </tr>
        
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AcceptUrl)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.AcceptUrl)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CancelUrl)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.CancelUrl)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CatalogUrl)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.CatalogUrl)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DeclineUrl)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.DeclineUrl)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ExceptionUrl)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.ExceptionUrl)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.HomeUrl)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.HomeUrl)
            </td>
        </tr>
        
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Alias)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.Alias)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AliasOperation)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.AliasOperation)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AliasUsage)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.AliasUsage)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CN)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.CN)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.COM)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.COM)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.COMPLUS)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.COMPLUS)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Currency)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.Currency)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Language)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.Language)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.OwnerAddress)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.OwnerZIP)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SHASign)
            </td>
            <td class="adminData">
                @Html.EditorFor(Model =>Model.SHASign)
            </td>
        </tr>


        <tr>
            <td colspan="2" width="100%">
                <button type="submit" name="save" value="save" class="t-button">
                    Save</button>
            </td>
        </tr>
    </table>
    
}