﻿@model Nop.Plugin.Payments.Ogone.OgoneUrl
@{
    ViewBag.Title = "OgoneCancel";
    Layout = "";    
    }
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>

    

<script type="text/javascript">
    $(document).ready(function () {
        window.top.location.href = "@Model.Url";
    });
</script>
