﻿@model Nop.Plugin.Payments.Ogone.OgoneUrl
@{
    ViewBag.Title = "OgoneResult";
    Layout = "";    
    }
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>   


<script type="text/javascript">
    $(document).ready(function () {
        debugger;//checkout/completed?orderid=20171191985
        @*window.top.location.href = "@Model.Url";*@
        document.getElementById("form2").submit();
        @*//window.top.location.href = "@Model.storeurl" + "/checkout/Confirm?orderId=" + "@Model.orderId";*@
    });
</script>

<form id="form2" action="@Model.Url" method="post" novalidate="novalidate">

    <div class="buttons">
        <input type="hidden" name="nextstep" value="Next">
    </div>
</form>