.coupon-box-panel input[type="text"],
.giftcard-box-panel input[type="text"],
.coupon-box-panel .coupon-code button,
.giftcard-box-panel .coupon-code button {
	float: right;
}
.shipping-results,
.shipping-method .method-list, 
.payment-method .method-list,
.payment-info .info p {
	text-align: right;
}
*{
	direction: rtl;
}
.inputs > span.required{
	left: 0px;
	right: auto;
}
.ropc .message-error {
    text-align: left;
}
.payment-method .payment-logo{
	margin: 0 0 0 15px !important;
}
.coupon-box-panel input[type="text"],
.giftcard-box-panel input[type="text"]{
	margin: 0 0 0 5px;
}
.total-info button{
	margin-left: -10px;
	margin-right: 0;
}
.ropc .section {
    text-align: center;
}
.checkout-page .page-title {
    text-align: center !important;
}
.ropc .cart td {
    text-align: center !important;
}
.ropc .order-summary-content .cart td.product {
    text-align: center !important; 
}

@media all and (max-width: 768px) {

     .section-title {
        background-position: right center, left center;
    }

}

@media all and (min-width: 769px) {

    .fieldset .title, .section .title {
        text-align: right;
    }
    .shipping-method .method-list, 
    .payment-method .method-list {
        text-align: right;
    }    

}

@media all and (min-width: 560px) and (max-width: 980px){
    .ropc .cart tr {
        float: right;
    }
}

@media all and (min-width: 981px) {

    .ropc .panel-group-right-top, 
    .ropc .panel-group-right-middle, 
    .ropc .panel-group-right-bottom {
        float: left;
    }
    .inputs label {
        text-align: right;
    }
	.checkout-page .selected-checkout-attributes {
		text-align: left !important;
	}
	.order-totals-panel {
        text-align: left;
        float: left;
    }
	.payment-info .info tr {
        text-align: right;
    }
	.payment-info .info td:first-child {
        text-align: right !important;
    }
    .order-confirm,
    .terms-of-service,
    .complete-button {
        text-align: left !important;
    }
    .ropc .section {
        text-align: right;
    }
    .inputs > span {
        top: -3px;
    }

    .ropc .addon-buttons {
    text-align: left;
    }

    .ropc .addon-buttons > * {
         margin: 0 5px 5px 0;
    }
    

}
