
input.ng-invalid.ng-dirty, 
textarea.ng-invalid.ng-dirty, 
.has-error {
    border: 1px solid red !important;
}

.ropc .section {
	margin: 0 0 20px;
}
.ropc .section-title {
	background-image: url('toggle.png'),url('toggle.png');
	background-position: left center, right center;
	background-repeat: no-repeat;
}
.ropc .section-title strong {
	min-width: 250px;
}
.ropc .section-body {
	display: none;
	padding: 0 10px 10px;
}

.choose-address {
	margin: 0 10px 25px;
	padding: 5px 0 25px;
	border-bottom: 1px solid #ccc;
}
.checkout-page select {
	width: 350px;
	max-width: 100%;
	background: #f6f6f6;
	height: 36px;
	line-height: 30px; /* safari fix */
}
.ship-to-same-address {
	margin: 15px 0 0;
	text-align: center;
	font-size: 14px;
}
.pickup-in-store .options {
	margin: 0 0 10px;
}
.checkout-page .pickup-points {
	margin: 20px 0 0;
	border: none;
	padding: 0;
}
.checkout-page .pickup-points-map {
	width: 100% !important;
	height: 300px !important;
	margin: 25px 0 5px;
}
.estimate-shipping .hint {
	margin: -10px 0 0;
	font-size: 0;
}
.shipping-options button {
	display: inline-block;
	margin: 5px 0 0;
	padding: 8px 16px;
	font-size: 16px;
}
.shipping-options button:disabled {
	opacity: 0.5;
    cursor: default;
}
.shipping-results {
	margin: 20px 0 0;
}
.shipping-results li {
    margin: 0 0 8px;
}

.method-list {
	margin: 0 !important;
	border: 0 !important;
	padding: 0 !important;
	border-radius: 0 !important;
}
.method-name {
  	text-align: left;
}
.use-reward-points {
    margin: 0 0 20px;
}
.payment-logo, 
.payment-details {
  	display: inline-block;
  	vertical-align: middle;
}
.payment-method .method-list li {
    margin: 0 0 20px;
}
.payment-info td {
 	min-width: 125px;
  	text-align: left;
 	padding: 5px 0;
}
.payment-info .info {
    max-width: none !important;
    border: 0;
    margin: 25px 0 0;
    padding-top: 20px;
    padding-bottom: 0;
    border-top: 1px solid #ccc !important;
    border-radius: 0 !important;
}
#CreditCardType {
  	width: 166px;
}
#ExpireMonth, 
#ExpireYear {
  	width: 90px;
}
.cart .sku,
.unit-price label,
.quantity label {
    display: none;
}
.quantity input,
.quantity select {
	line-height: 24px;
    height: 30px;
    width: 50px;
}
.checkout-page .product-name {
    font-size: 14px;
}
td.remove-from-cart {
    min-width: 0;
}
.remove-product {
    display: block;
    margin: auto;
    font-size: 0;
    width: 16px;
    height: 16px;
	border: 1px solid #ccc;
    background: #fff url('delete.png') no-repeat center;
    cursor: pointer;
}
.checkout-page .checkout-attributes {
	padding: 0;
	border-width: 0;
    text-align: center;
}
.attribute-list > li {
	display: block;
	margin: 0 10px 15px;
}
.attribute-list select {
    width: auto;
}
.coupon-code {
	display: inline-block;
	width: 300px;
	text-align: center;
}
.coupon-box .hint,
.giftcard-box .hint {
 	 margin: 0 0 5px;
}
input.discount-coupon-code,
input.gift-card-coupon-code {
	display: inline-block;
	border-radius: 30px;
	position: relative;
	z-index: 2;
	margin: 0 auto 5px;
	border-color: #aaa;
	vertical-align: middle;
}
.coupon-box button,
.giftcard-box button {
	display: inline-block;
	height: 36px;
	font-size: 14px;
	line-height: 1;
	line-height: 12px;
	background: #aaa;
	position: relative;
	z-index: 1;
	padding: 10px 15px 10px 40px;
	margin: 0 0 5px -35px;
	vertical-align: middle;
}
.current-code .ng-binding {
	display: inline-block !important;
	vertical-align: middle !important;
}
.current-code button {
    width: 30px !important;
    height: 30px !important;
    border: 1px solid #ccc !important;
    background: url(close.png) no-repeat center;
    border-radius: 50%;
    font-size: 0;
    margin: 0 0 0 5px !important;
    padding: 0 !important;
}

.order-totals-panel {
	margin: 50px auto 0 !important;
}
.cart-total {
  	text-align: left;
  	margin: 0 0 20px;
}
.complete-button button {
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
}
.complete-button button[disabled=disabled] {
	opacity: .5;
	cursor: default;
}
.cart-total button {
  	width: 28px !important;
  	height: 28px !important;
 	border: 1px solid #ccc !important;
	background: #f6f6f6 url(close.png) no-repeat center;
 	border-radius: 50%;
	font-size: 0;
 	margin: 0 -17px 0 0 !important;
 	padding: 0 !important;
 	vertical-align: middle;
  	position: relative;
}
.error-list {
    margin: 0 0 20px;
}
.error-list li {
    margin: 0 0 10px;
    color: #c00;
}

.ropc .addon-buttons {
    margin-top: 20px;
    text-align: right;
}

.ropc .addon-buttons > * {
    display: inline-block;
    margin: 0 0 5px 5px;
}


@media all and (max-width: 1000px) {

.panel {
	display: block;
	max-width: 550px;
	margin: auto;
}
.cart {
	display: block;
	border: none;
}
.cart colgroup,
.cart thead {
	display: none;
}
.cart tbody {
	display: block;
	overflow: hidden;
}
.cart tr {
	display: block;
	float: left;
	width: 100%;
	margin: 25px 0 0;
	border: 1px solid #ccc;
	border-radius: 16px;
	overflow: hidden;
}
.cart tr:first-child {
	margin: 0;
}
.cart td {
	display: block;
	border: none;
	padding: 10px;
	text-align: center;
}
.cart td.remove-from-cart {
    margin: 0 0 -1px;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
	padding: 10px;
}
.cart td.product-picture {
	border-top: 1px solid #ddd;
	padding: 15px 10px 5px;
}
.cart td.product {
	min-width: 0;
	border-bottom: 1px solid #ddd;
	padding: 5px 10px 15px;
	text-align: center;
}
.cart td.quantity {
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
}
.cart td.unit-price,
.cart td.subtotal {
	display: inline-block;
	width: 40%;
	padding: 20px 10px;
	vertical-align: middle;
}

.ropc .addon-buttons {
    text-align: center;
}

.ropc .addon-buttons > * {
    margin: 0 5px 5px;
}
	
}

@media all and (min-width: 769px) {

.ropc .section {
	margin: 0 0 40px;
}
.ropc .section-title {
	background-image: none;
}
.ropc .section-title strong {
	min-width: 180px;
}
.ropc .section-body {
	display: block !important;
	padding: 0;
}
.billing-address .section-body,
.shipping-address-panel .section-body,
.estimate-shipping-panel .section-body {
	padding: 20px 10px;
  	border: 1px solid #ccc;
  	border-radius: 16px;
}
.order-summary-content.section .title,
.coupon-box.section .title,
.giftcard-box.section .title {
	margin: 0 0 20px;
	border-bottom: 1px solid #ccc;
}
.pickup-in-store {
	text-align: center;
}
.estimate-shipping .shipping-options .inputs,
.estimate-shipping .shipping-options .buttons {
    margin: 10px;
}
.section.shipping-method {
	margin: 0 0 20px;
}
.section.shipping-method .section-body {
  	border: 1px solid #ccc;
  	border-radius: 16px;
  	padding: 20px 15px;
}
.section.shipping-method .method-list {
	margin: 0 !important;
	border-bottom: 0 !important;
	padding: 0 !important;
}
.payment-method .method-list li {
	margin: 20px 0 0;
}
.payment-method .method-list li:first-child {
	margin: 0;
}
.checkout-page .checkout-attributes {
	padding: 0 0 5px;
	border-width: 0 0 1px;
}
.coupon-box, .giftcard-box {
	text-align: center;
}
.coupon-code {
	width: auto;
}
input.discount-coupon-code,
input.gift-card-coupon-code {
	width: 40%;
}
.payment-method .section-body {
  	border: 1px solid #ccc;
  	border-radius: 16px;
  	padding: 20px 15px;
}
.attributes-panel .section-title {
	margin: 0 0 20px;
	border-bottom: 1px solid #ccc;
}
.order-totals-panel {
 	max-width: 480px;
    width: 84%;
}
.terms-of-service {
  	text-align: center;
}

}

@media all and (min-width: 1001px) {

.td-title {
    display: none !important;
}
.ropc .cart .unit-price,
.ropc .cart .subtotal {
    white-space: normal;
}
.checkout-page .inputs {
    margin: 10px 10px 15px;
}
.checkout-page .inputs label {
    display: block;
    width: 100%;
    margin: 0 0 5px;
    text-align: center;
    font-size: 12px;
}
.estimate-shipping .shipping-options .inputs,
.estimate-shipping .shipping-options .buttons {
    display: block;
	width: auto;
    max-width: none;
	text-align: center;
}
.checkout-page .selected-checkout-attributes {
	margin: 0;
	text-align: left;
}
.checkout-page .checkout-attributes {
	text-align: left;
}
.attribute-values li {
	margin: 0 10px 0 0;
}
input.discount-coupon-code,
input.gift-card-coupon-code {
	width: 160px;
}
.coupon-box button,
.giftcard-box button {
	padding: 10px 15px 10px 45px;
}
.order-totals-panel {
	width: 48%;
	margin: 50px 0 20px auto !important;
}
.terms-of-service,
.complete-button,
.error-list {
	text-align: right;
}

}