
.with-icon .ajax-cart-button-wrapper {
	margin: 0 0 0 1px; 
}
.items-per-row-four .picture .add-to-wishlist-button {
	right: auto;
	left: 23.5%;
}
.items-per-row-four .with-text .quick-view-button {
	right: 23.5%;
	left: auto;
}
.items-per-row-four .category-page .picture .add-to-wishlist-button {
	right: auto;
	left: 23.4%;
}
.items-per-row-four .category-page .with-text .quick-view-button {
	right: 23.4%;
	left: auto;
}

.productAddedToCartWindowTitle,
.miniProductDetailsView .product-name {
	left: 40px;
	right: 370px;
}
.ajaxCart .k-window-titlebar.k-header {
	right: auto;
	left: 0;
}
.productAddedToCartWindowImage {
	margin: 0;
}
.productAddedToCartWindowSummary {
	text-align: right;
}
.miniProductDetailsView .product-essential .gallery {
	margin: 0;
}
.miniProductDetailsView .product-details-page .overview {
	float: left;
	text-align: right;
}
.miniProductDetailsView .rental-attributes dt {
	float: right;
}
.miniProductDetailsView .attribute-squares {
	text-align: right;
}
.miniProductDetailsView .add-to-cart > *,
.miniProductDetailsView .add-button-wrap {
	float: right;
	margin: 0;
}
.miniProductDetailsView .message-error {
	text-align: right;
}
.productAddedToCartWindowSummary div {
    float: right;
}
