﻿@model Nop4you.Plugin.MarketingAutomation.Models.BannerModel

@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;
@using Nop.Services;

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <div id="contactattribute-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Nop4You.MarketingAutomation.Banner.Info"), true)
                @Html.RenderBootstrapTabHeader("tab-Conditions", @T("Nop4You.MarketingAutomation.Banner.Conditions"))
                @Html.RenderBootstrapTabHeader("tab-history", @T("Nop4You.MarketingAutomation.Banner.History"))
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
                @Html.RenderBootstrapTabContent("tab-Conditions", @TabConditions())
                @Html.RenderBootstrapTabContent("tab-history", @TabHistory())
            </div>
        </div>
    </div>
</div>

@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(Html.GetSelectedTabName())">

@helper TabInfo()
{

    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.Name)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.ActionId)
        </div>
        <div class="col-md-9">
            @if (Model.Id > 0)
            {
                @Html.NopDropDownListFor(model => model.ActionId, ((Nop4you.Plugin.MarketingAutomation.Domain.ActionType)Model.ActionId).ToSelectList(), new { @disabled = "disabled" })
            }
            else
            {
                @Html.NopDropDownListFor(model => model.ActionId, ((Nop4you.Plugin.MarketingAutomation.Domain.ActionType)Model.ActionId).ToSelectList())
            }
            @Html.ValidationMessageFor(model => model.ActionId)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            @T("nop4you.marketingautomation.banner.actiontype.urlreferrer") <br/>
            @T("Nop4you.MarketingAutomation.banner.actiontype.UrlCurrent") <br />
            @T("Nop4you.MarketingAutomation.banner.actiontype.Register") <br />
            @T("Nop4you.MarketingAutomation.banner.actiontype.Order") <br />
            @T("Nop4you.MarketingAutomation.banner.actiontype.AddToCart") 
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.ConditionId)
        </div>
        <div class="col-md-9">
            @Html.NopDropDownListFor(model => model.ConditionId, ((Nop4you.Plugin.MarketingAutomation.Domain.ConditionEnum)Model.ConditionId).ToSelectList())
            @Html.ValidationMessageFor(model => model.ConditionId)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.StoreId)
        </div>
        <div class="col-md-9">
            @Html.NopDropDownListFor(model => model.StoreId, Model.AvailableStores)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.Active)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>
    </div>

    @(Html.LocalizedEditor<Nop4you.Plugin.MarketingAutomation.Models.BannerModel, Nop4you.Plugin.MarketingAutomation.Models.BannerLocalizedModel>("banner-localized",
            @<div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Locales[item].Body)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Locales[item].Body, "RichEditor")
                        @Html.ValidationMessageFor(model => model.Locales[item].Body)
                    </div>
                </div>
                @Html.HiddenFor(model => model.Locales[item].LanguageId)
            </div>
        ,
            @<div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Body)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Body, "RichEditor")
                        @Html.ValidationMessageFor(model => model.Body)
                    </div>
                </div>
            </div>
        ))

    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.StartDateOnUtc)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.StartDateOnUtc)
            @Html.ValidationMessageFor(model => model.StartDateOnUtc)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.EndDateOnUtc)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.EndDateOnUtc)
            @Html.ValidationMessageFor(model => model.EndDateOnUtc)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.DisplayOrder)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.DisplayOrder)
            @Html.ValidationMessageFor(model => model.DisplayOrder)
        </div>
    </div>

}
@helper TabConditions()
{
if (Model.Id > 0)
{
    if (Model.ActionId == 1)
    {
            @Html.Partial("~/Plugins/Nop4you.MarketingAutomation/Views/Admin/Banner/_ConditionUrlReferrer.cshtml", Model)
    }
    if (Model.ActionId == 2)
    {
            @Html.Partial("~/Plugins/Nop4you.MarketingAutomation/Views/Admin/Banner/_ConditionUrlReferrer.cshtml", Model)
    }
    if (Model.ActionId == 3)
    {
            @Html.Partial("~/Plugins/Nop4you.MarketingAutomation/Views/Admin/Banner/_ConditionRegister.cshtml", Model)
    }
    if (Model.ActionId == 4)
    {
            @Html.Partial("~/Plugins/Nop4you.MarketingAutomation/Views/Admin/Banner/_ConditionOrder.cshtml", Model)
    }
    if (Model.ActionId == 5)
    {
            @Html.Partial("~/Plugins/Nop4you.MarketingAutomation/Views/Admin/Banner/_ConditionProduct.cshtml", Model)
    }
}
else
{
        @T("Nop4You.MarketingAutomation.Banner.SaveBeforeEdit")
}
}

@helper TabHistory()
{
if (Model.Id > 0)
{
        <div id="history-grid"></div>

        <script>
                $(document).ready(function () {
                    $("#history-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("History", "Banner", new { Id = Model.Id }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: 15,
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                                  field: "CreateDate",
                                  title: "@T("Nop4You.MarketingAutomation.Banner.Field.CreateDate")",
								  width: 150,
                                  type: "date",
                                  format: "{0:G}"
                                },{
                                  field: "User",
                                  title: "@T("Nop4You.MarketingAutomation.Banner.Field.User")"
                               }]
                    });
                });
        </script>


}
else
{
        @T("Nop4You.MarketingAutomation.Banner.SaveBeforeEdit")
}
}