﻿@{
    Layout = "";
}

@model Nop.Plugin.Payments.Ogone.Models.PaymentInfoModel
@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;

<div>
    <div>

        @******************************************************************@

        @*@if (ViewBag.PaymentMethod == "KBC Online" || ViewBag.PaymentMethod == "ING HomePay")
            {
                <form id="form2" target="_top" action='https://secure.ogone.com/ncol/prod/orderstandard.asp'
                      method='post'>
                    <script language="javascript" type="text/javascript">

                        /*
                        * A JavaScript implementation of the Secure Hash Algorithm, SHA-1, as defined
                        * in FIPS PUB 180-1
                        * See http://pajhome.org.uk/crypt/md5 for details.
                        */


                        var hexcase = 0;  /* hex output format. 0 - lowercase; 1 - uppercase        */
                        var b64pad = "="; /* base-64 pad character. "=" for strict RFC compliance   */
                        var chrsz = 8;  /* bits per input character. 8 - ASCII; 16 - Unicode      */

                        /*
                        * These are the functions you'll usually want to call
                        * They take string arguments and return either hex or base-64 encoded strings
                        */
                        function hex_sha1(s) { return binb2hex(core_sha1(str2binb(s), s.length * chrsz)); }
                        function b64_sha1(s) { return binb2b64(core_sha1(str2binb(s), s.length * chrsz)); }
                        function str_sha1(s) { return binb2str(core_sha1(str2binb(s), s.length * chrsz)); }
                        function hex_hmac_sha1(key, data) { return binb2hex(core_hmac_sha1(key, data)); }
                        function b64_hmac_sha1(key, data) { return binb2b64(core_hmac_sha1(key, data)); }
                        function str_hmac_sha1(key, data) { return binb2str(core_hmac_sha1(key, data)); }


                        /*
                        * Calculate the SHA-1 of an array of big-endian words, and a bit length
                        */
                        function core_sha1(x, len) {
                            /* append padding */
                            x[len >> 5] |= 0x80 << (24 - len % 32);
                            x[((len + 64 >> 9) << 4) + 15] = len;

                            var w = Array(80);
                            var a = 1732584193;
                            var b = -271733879;
                            var c = -1732584194;
                            var d = 271733878;
                            var e = -1009589776;

                            for (var i = 0; i < x.length; i += 16) {
                                var olda = a;
                                var oldb = b;
                                var oldc = c;
                                var oldd = d;
                                var olde = e;

                                for (var j = 0; j < 80; j++) {
                                    if (j < 16) w[j] = x[i + j];
                                    else w[j] = rol(w[j - 3] ^ w[j - 8] ^ w[j - 14] ^ w[j - 16], 1);
                                    var t = safe_add(safe_add(rol(a, 5), sha1_ft(j, b, c, d)),
                                        safe_add(safe_add(e, w[j]), sha1_kt(j)));
                                    e = d;
                                    d = c;
                                    c = rol(b, 30);
                                    b = a;
                                    a = t;
                                }

                                a = safe_add(a, olda);
                                b = safe_add(b, oldb);
                                c = safe_add(c, oldc);
                                d = safe_add(d, oldd);
                                e = safe_add(e, olde);
                            }
                            return Array(a, b, c, d, e);

                        }

                        /*
                        * Perform the appropriate triplet combination function for the current
                        * iteration
                        */
                        function sha1_ft(t, b, c, d) {
                            if (t < 20) return (b & c) | ((~b) & d);
                            if (t < 40) return b ^ c ^ d;
                            if (t < 60) return (b & c) | (b & d) | (c & d);
                            return b ^ c ^ d;
                        }

                        /*
                        * Determine the appropriate additive constant for the current iteration
                        */
                        function sha1_kt(t) {
                            return (t < 20) ? 1518500249 : (t < 40) ? 1859775393 :
                            (t < 60) ? -1894007588 : -899497514;
                        }

                        /*
                        * Calculate the HMAC-SHA1 of a key and some data
                        */
                        function core_hmac_sha1(key, data) {
                            var bkey = str2binb(key);
                            if (bkey.length > 16) bkey = core_sha1(bkey, key.length * chrsz);

                            var ipad = Array(16), opad = Array(16);
                            for (var i = 0; i < 16; i++) {
                                ipad[i] = bkey[i] ^ 0x36363636;
                                opad[i] = bkey[i] ^ 0x5C5C5C5C;
                            }

                            var hash = core_sha1(ipad.concat(str2binb(data)), 512 + data.length * chrsz);
                            return core_sha1(opad.concat(hash), 512 + 160);
                        }

                        /*
                        * Add integers, wrapping at 2^32. This uses 16-bit operations internally
                        * to work around bugs in some JS interpreters.
                        */
                        function safe_add(x, y) {
                            var lsw = (x & 0xFFFF) + (y & 0xFFFF);
                            var msw = (x >> 16) + (y >> 16) + (lsw >> 16);
                            return (msw << 16) | (lsw & 0xFFFF);
                        }

                        /*
                        * Bitwise rotate a 32-bit number to the left.
                        */
                        function rol(num, cnt) {
                            return (num << cnt) | (num >>> (32 - cnt));
                        }

                        /*
                        * Convert an 8-bit or 16-bit string to an array of big-endian words
                        * In 8-bit function, characters >255 have their hi-byte silently ignored.
                        */
                        function str2binb(str) {
                            var bin = Array();
                            var mask = (1 << chrsz) - 1;
                            for (var i = 0; i < str.length * chrsz; i += chrsz)
                                bin[i >> 5] |= (str.charCodeAt(i / chrsz) & mask) << (32 - chrsz - i % 32);
                            return bin;
                        }

                        /*
                        * Convert an array of big-endian words to a string
                        */
                        function binb2str(bin) {
                            var str = "";
                            var mask = (1 << chrsz) - 1;
                            for (var i = 0; i < bin.length * 32; i += chrsz)
                                str += String.fromCharCode((bin[i >> 5] >>> (32 - chrsz - i % 32)) & mask);
                            return str;
                        }

                        /*
                        * Convert an array of big-endian words to a hex string.
                        */
                        function binb2hex(binarray) {
                            var hex_tab = hexcase ? "0123456789ABCDEF" : "0123456789abcdef";
                            var str = "";
                            for (var i = 0; i < binarray.length * 4; i++) {
                                str += hex_tab.charAt((binarray[i >> 2] >> ((3 - i % 4) * 8 + 4)) & 0xF) +
                                    hex_tab.charAt((binarray[i >> 2] >> ((3 - i % 4) * 8)) & 0xF);
                            }
                            return str;
                        }

                        /*
                        * Convert an array of big-endian words to a base-64 string
                        */
                        function binb2b64(binarray) {
                            var tab = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwx  yz0123456789+/";
                            var str = "";
                            for (var i = 0; i < binarray.length * 4; i += 3) {
                                var triplet = (((binarray[i >> 2] >> 8 * (3 - i % 4)) & 0xFF) << 16)
                                    | (((binarray[i + 1 >> 2] >> 8 * (3 - (i + 1) % 4)) & 0xFF) << 8)
                                    | ((binarray[i + 2 >> 2] >> 8 * (3 - (i + 2) % 4)) & 0xFF);
                                for (var j = 0; j < 4; j++) {
                                    if (i * 8 + j * 6 > binarray.length * 32) str += b64pad;
                                    else str += tab.charAt((triplet >> 6 * (3 - j)) & 0x3F);
                                }
                            }
                            return str;
                        }


                        function PutHtmlHiddenFieldValue(strPassWord) {
                            //alert(strPassWord);
                            var hidden = document.getElementById('SHASign');
                            var strPass = strPassWord;
                            if (hidden != null) {

                                hidden.value = hex_sha1(strPass);
                            }


                            document.forms["form2"].action = "https://secure.ogone.com/ncol/prod/orderstandard.asp";
                            document.forms["form2"].method = "POST";
                            document.forms["form2"].submit();
                        }
                    </script>
                    <div id="divForm1">
                        @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
                        @Html.ValidationSummary(false)
                    </div>
                </form>

            }
            else
            {*@
        </form>
        <style>
            .PaymentMethods {
                position: absolute;
                width: 103px;
                height: 65px;
                opacity: 0;
                cursor: pointer;
            }

            .payment-info .info td img {
                padding: 0 20px;
            }
            .spinner:before {
                content: '';
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 30px;
                height: 30px;
                margin-top: -15px;
                margin-left: -15px;
                border-radius: 50%;
                border: 1px solid #ccc;
                border-top-color: #07d;
                animation: spinner .6s linear infinite;
            }

            .payment-info .info td:first-child {
                width: 13% !important;
                float: left;
            }
             .payment-info .info td:last-child {
                width: 16% !important;
                margin-top:15px !important;
            }

            .payment-info .info td {
                width: 13% !important;
                float: left;
            }

            @@keyframes spinner {
                to {
                    transform: rotate(360deg);
                }
            }

            .iframeFader {
                left: 0;
                right: 0;
                z-index: 1;
                display: block;
                -webkit-filter: blur(5px);
                -moz-filter: blur(5px);
                -o-filter: blur(5px);
                -ms-filter: blur(5px);
                filter: blur(5px);
            }

            @@media only screen and (max-width: 400px) and (min-width: 320px) {
                .payment-info .info td {
                    width: 50% !important;
                    min-height: 80px;
                    margin: 0 !important;
                }

                    .payment-info .info td:first-child {
                        width: 50% !important;
                        float: left;
                    }

                #myframe1 {
                    width: 100%;
                    height: 400px;
                }
            }

            @@media only screen and (max-width: 650px) and (min-width: 401px) {
                .payment-info .info td {
                    width: 33% !important;
                    min-height: 80px;
                    margin: 0 !important;
                }

                    .payment-info .info td:first-child {
                        width: 33% !important;
                        float: left;
                    }

                #myframe1 {
                    width: 100%;
                    height: 400px;
                }
            }

            @@media only screen and (max-width: 767px) and (min-width: 651px) {
                .payment-info .info td {
                    width: 13% !important;
                    min-height: 80px;
                    margin: 0 !important;
                    float: left;
                }

                    .payment-info .info td:first-child {
                        width: 12% !important;
                        float: left;
                    }
                    .payment-info .info td:last-child {
                        width: 16% !important;margin-top: 15px;
                    }

                #myframe1 {
                    width: 100%;
                    height: 400px;
                }
                 .payment-info .info td img {
                     width:100% !important;
                padding: 0 10px;
            }
                           }
        </style>

        <table style="width:100%;text-align:center;">
            <tr>
                <td style="text-align:center;"><input type="radio" value="MasterCard" class="PaymentMethods" name="Card" /><img class="img-responsive" src="/Plugins/Payments.Ogone/Images/mastercard.jpg" style="height: 80px;" /></td>
                <td style="text-align:center;"><input type="radio" value="Visa" class="PaymentMethods" name="Card" /><img class="img-responsive" src="/Plugins/Payments.Ogone/Images/visa.jpg" style="height: 65px;" /></td>
                <td style="text-align:center;"><input type="radio" value="American Express" class="PaymentMethods" name="Card" /><img class="img-responsive" src="/Plugins/Payments.Ogone/Images/amex.jpg" style="height: 65px;" /></td>
                <td style="text-align:center;"><input type="radio" value="BCMC" class="PaymentMethods" name="Card" /><img class="img-responsive" src="/Plugins/Payments.Ogone/Images/bankContact.jpg" style="height: 65px;" /></td>
                <td style="text-align:center;"><input type="radio" value="iDEAL" class="PaymentMethods" name="Card" /><img class="img-responsive" src="/Plugins/Payments.Ogone/Images/ideal_logo.gif" style="height: 65px;" /></td>

                @*-----------------------------*@
                <td style="text-align:center;"><input type="radio" value="GIROPAY" class="PaymentMethods" name="Card" /><img class="img-responsive" src="/Plugins/Payments.Ogone/Images/giropay.png" style="height: 65px;" /></td>
                <td style="text-align:center;">
                    <img id="payPalExpressCheckoutImage" alt="" src="https://www.paypalobjects.com/en_GB/i/btn/btn_xpressCheckout.gif" style="cursor:pointer;" />
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#payPalExpressCheckoutImage').click(function () {
                                setLocation('/Plugins/PaymentPayPalExpressCheckout/SubmitButton');
                            });
                        });
                    </script>
                </td>
                @*<td style="text-align:center;"><input type="radio" value="PAYPAL" class="PaymentMethods" name="Card" /><img class="img-responsive" src="/Plugins/Payments.Ogone/Images/paypal.png" style="height: 65px;" /></td>*@
            </tr>
        </table>
        <div id="iframeFader">
            <iframe scrolling="yes" id="myframe1" frameborder="0" width="850px" height="450px" name="my-iframe1"></iframe>
        </div>
        <div class="spinner" style="display:none;">
        </div>
        <form id="form2" target="my-iframe1" action='https://secure.ogone.com/ncol/prod/orderstandard.asp'
              method='post'>
            <input type="hidden" name="PSPID" value="@Model.pspId">
            <input type="hidden" name="orderID" value="@Model.orderid">
            <input type="hidden" name="amount" value="@Model.amount">
            <input type="hidden" name="currency" value="@Model.curr">
            <input type="hidden" name="language" value="@Model.lang">
            <input type="hidden" name="PM" value="creditcard">
            @*<input type="hidden" name="TP" value="StandardMobileTemplate.htm">*@
            <!-- lay out information -->
            <!-- post-payment redirection -->
            @{
                var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation(); //"https://www.streekmarkt.be/";//
                var vCancel = storeLocation + "OgoneCancel";
                var vComplete = storeLocation + "OgoneResult?ogonereferenceid=" + Model.orderid;
                var pmval = "creditcard";
            }
            <input type="hidden" name="accepturl" value="@vComplete">

            <input type="hidden" name="cancelurl" value="@vCancel">
            <!-- miscellanous -->
            <input type="hidden" name="SHASign" value="<%=strHash%>" id="SHASign">
            <input type="hidden" name="SHATEST1" value="@Model.HTMLHiddenField" id="SHATEST1">
            <input type="hidden" name="SHATEST" value="@Model.HTMLHiddenField" id="SHATEST">
            @*@if (Model.brand.ToLower() == "ideal")
                {
                    <input type="hidden" name="PM" value="iDEAL" />
                }
                else if (Model.brand.ToLower() == "ing homepay")
                {
                    <input type="hidden" name="PM" value="ING HomePay" />
                }
                else if (Model.brand.ToLower() == "kbc online")
                {
                    <input type="hidden" name="PM" value="KBC Online" />

                }
                else
                {
                    <input type="hidden" name="PM" value="creditcard" />
                }
            *@
            <input type="hidden" name="BRAND" value="@Model.brand">

            @*<div id="divForm1">
                    @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
                    @Html.ValidationSummary(false)
                </div>*@
        </form>
        @*}*@

        @******************************************************************@

    </div>
</div>

<script language="javascript" type="text/javascript">

    /*
    * A JavaScript implementation of the Secure Hash Algorithm, SHA-1, as defined
    * in FIPS PUB 180-1
    * See http://pajhome.org.uk/crypt/md5 for details.
    */

    var hexcase = 0;  /* hex output format. 0 - lowercase; 1 - uppercase        */
    var b64pad = "="; /* base-64 pad character. "=" for strict RFC compliance   */
    var chrsz = 8;  /* bits per input character. 8 - ASCII; 16 - Unicode      */

    /*
    * These are the functions you'll usually want to call
    * They take string arguments and return either hex or base-64 encoded strings
    */
    function hex_sha1(s) { return binb2hex(core_sha1(str2binb(s), s.length * chrsz)); }
    function b64_sha1(s) { return binb2b64(core_sha1(str2binb(s), s.length * chrsz)); }
    function str_sha1(s) { return binb2str(core_sha1(str2binb(s), s.length * chrsz)); }
    function hex_hmac_sha1(key, data) { return binb2hex(core_hmac_sha1(key, data)); }
    function b64_hmac_sha1(key, data) { return binb2b64(core_hmac_sha1(key, data)); }
    function str_hmac_sha1(key, data) { return binb2str(core_hmac_sha1(key, data)); }


    /*
    * Calculate the SHA-1 of an array of big-endian words, and a bit length
    */
    function core_sha1(x, len) {
        /* append padding */
        x[len >> 5] |= 0x80 << (24 - len % 32);
        x[((len + 64 >> 9) << 4) + 15] = len;

        var w = Array(80);
        var a = 1732584193;
        var b = -271733879;
        var c = -1732584194;
        var d = 271733878;
        var e = -1009589776;

        for (var i = 0; i < x.length; i += 16) {
            var olda = a;
            var oldb = b;
            var oldc = c;
            var oldd = d;
            var olde = e;

            for (var j = 0; j < 80; j++) {
                if (j < 16) w[j] = x[i + j];
                else w[j] = rol(w[j - 3] ^ w[j - 8] ^ w[j - 14] ^ w[j - 16], 1);
                var t = safe_add(safe_add(rol(a, 5), sha1_ft(j, b, c, d)),
                    safe_add(safe_add(e, w[j]), sha1_kt(j)));
                e = d;
                d = c;
                c = rol(b, 30);
                b = a;
                a = t;
            }

            a = safe_add(a, olda);
            b = safe_add(b, oldb);
            c = safe_add(c, oldc);
            d = safe_add(d, oldd);
            e = safe_add(e, olde);
        }
        return Array(a, b, c, d, e);

    }

    /*
    * Perform the appropriate triplet combination function for the current
    * iteration
    */
    function sha1_ft(t, b, c, d) {
        if (t < 20) return (b & c) | ((~b) & d);
        if (t < 40) return b ^ c ^ d;
        if (t < 60) return (b & c) | (b & d) | (c & d);
        return b ^ c ^ d;
    }

    /*
    * Determine the appropriate additive constant for the current iteration
    */
    function sha1_kt(t) {
        return (t < 20) ? 1518500249 : (t < 40) ? 1859775393 :
        (t < 60) ? -1894007588 : -899497514;
    }

    /*
    * Calculate the HMAC-SHA1 of a key and some data
    */
    function core_hmac_sha1(key, data) {
        var bkey = str2binb(key);
        if (bkey.length > 16) bkey = core_sha1(bkey, key.length * chrsz);

        var ipad = Array(16), opad = Array(16);
        for (var i = 0; i < 16; i++) {
            ipad[i] = bkey[i] ^ 0x36363636;
            opad[i] = bkey[i] ^ 0x5C5C5C5C;
        }

        var hash = core_sha1(ipad.concat(str2binb(data)), 512 + data.length * chrsz);
        return core_sha1(opad.concat(hash), 512 + 160);
    }

    /*
    * Add integers, wrapping at 2^32. This uses 16-bit operations internally
    * to work around bugs in some JS interpreters.
    */
    function safe_add(x, y) {
        var lsw = (x & 0xFFFF) + (y & 0xFFFF);
        var msw = (x >> 16) + (y >> 16) + (lsw >> 16);
        return (msw << 16) | (lsw & 0xFFFF);
    }

    /*
    * Bitwise rotate a 32-bit number to the left.
    */
    function rol(num, cnt) {
        return (num << cnt) | (num >>> (32 - cnt));
    }

    /*
    * Convert an 8-bit or 16-bit string to an array of big-endian words
    * In 8-bit function, characters >255 have their hi-byte silently ignored.
    */
    function str2binb(str) {
        var bin = Array();
        var mask = (1 << chrsz) - 1;
        for (var i = 0; i < str.length * chrsz; i += chrsz)
            bin[i >> 5] |= (str.charCodeAt(i / chrsz) & mask) << (32 - chrsz - i % 32);
        return bin;
    }

    /*
    * Convert an array of big-endian words to a string
    */
    function binb2str(bin) {
        var str = "";
        var mask = (1 << chrsz) - 1;
        for (var i = 0; i < bin.length * 32; i += chrsz)
            str += String.fromCharCode((bin[i >> 5] >>> (32 - chrsz - i % 32)) & mask);
        return str;
    }

    /*
    * Convert an array of big-endian words to a hex string.
    */
    function binb2hex(binarray) {
        var hex_tab = hexcase ? "0123456789ABCDEF" : "0123456789abcdef";
        var str = "";
        for (var i = 0; i < binarray.length * 4; i++) {
            str += hex_tab.charAt((binarray[i >> 2] >> ((3 - i % 4) * 8 + 4)) & 0xF) +
                hex_tab.charAt((binarray[i >> 2] >> ((3 - i % 4) * 8)) & 0xF);
        }
        return str;
    }

    /*
    * Convert an array of big-endian words to a base-64 string
    */
    function binb2b64(binarray) {
        var tab = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwx  yz0123456789+/";
        var str = "";
        for (var i = 0; i < binarray.length * 4; i += 3) {
            var triplet = (((binarray[i >> 2] >> 8 * (3 - i % 4)) & 0xFF) << 16)
                | (((binarray[i + 1 >> 2] >> 8 * (3 - (i + 1) % 4)) & 0xFF) << 8)
                | ((binarray[i + 2 >> 2] >> 8 * (3 - (i + 2) % 4)) & 0xFF);
            for (var j = 0; j < 4; j++) {
                if (i * 8 + j * 6 > binarray.length * 32) str += b64pad;
                else str += tab.charAt((triplet >> 6 * (3 - j)) & 0x3F);
            }
        }
        return str;
    }


    function PutHtmlHiddenFieldValue(strPassWord) {
        document.getElementById("SHATEST").value = strPassWord;
        var hidden = document.getElementById('SHASign');
        var strPass = strPassWord;
        if (hidden != null) {
            hidden.value = hex_sha1(strPass);
        }


        document.getElementById("form2").action = "https://secure.ogone.com/ncol/prod/orderstandard.asp";
        document.getElementById("form2").method = "POST";
        document.getElementById("form2").submit();
        //$(".spinner").css("display", "none");




    }
    // alert(window.location.href);
    var formexists = -1;
    var x = setInterval(function () {

        if (formexists >= 0 && formexists < 10)
            formexists = formexists + 1;

        if (formexists >= 10 && formexists <= 17) {

            if ($('#myframe1').contents().find('#confirm-order-form').length == 0) {
                $(".spinner").css("display", "block");
                $("#iframeFader").addClass("iframeFader");
                formexists = formexists + 1;

                window.top.location.href = "/checkout/cart/";
            }
            else {
                $(".spinner").css("display", "block");
                $("#iframeFader").addClass("iframeFader");
                formexists = formexists + 1;
                // var url = window.location.href;
                //  alert(url);
                debugger;
                //if (url.contains("cancel"))
                //    window.top.location.href = "/cart/";
                //else

                window.top.location.href = "/checkout/confirm/";
            }

        }
    }, 1000);


    $(document).ready(function () {


        $(".buttons").css("display", "none");
        $(".PaymentMethods").click(function () {

            //$(".spinner").css("display", "block");
            var brand = $(this).attr('value');
            document.getElementsByName("BRAND")[0].value = brand;


            if (brand == 'iDEAL') {
                var storelocation = "@storeLocation";
                var url = "ACCEPTURL=@storeLocation" + "OgoneResult?ogonereferenceid=@Model.orderid" + "@Model.shaSign" + "AMOUNT=@Model.amount" + "@Model.shaSign" + "BRAND=iDEAL" + "@Model.shaSign" + "CANCELURL=@storeLocation" + "OgoneCancel" + "@Model.shaSign" + "CURRENCY=@Model.curr" + "@Model.shaSign" + "LANGUAGE=@Model.lang" + "@Model.shaSign" + "ORDERID=@Model.orderid" + "@Model.shaSign" + "PM=iDEAL" + "@Model.shaSign" + "PSPID=@Model.pspId" + "@Model.shaSign";
                document.getElementById("SHATEST").value = url;
                document.getElementsByName("PM")[0].value = 'iDEAL';
                PutHtmlHiddenFieldValue(url);
            }
                @*else if (brand == 'PAYPAL') {
                var storelocation = "@storeLocation";
                var url = "ACCEPTURL=@storeLocation" + "OgoneResult?ogonereferenceid=@Model.orderid" + "@Model.shaSign" + "AMOUNT=@Model.amount" + "@Model.shaSign" + "BRAND=PAYPAL" + "@Model.shaSign" + "CANCELURL=@storeLocation" + "OgoneCancel" + "@Model.shaSign" + "CURRENCY=@Model.curr" + "@Model.shaSign" + "LANGUAGE=@Model.lang" + "@Model.shaSign" + "ORDERID=@Model.orderid" + "@Model.shaSign" + "PM=PAYPAL" + "@Model.shaSign" + "PSPID=@Model.pspId" + "@Model.shaSign";
                document.getElementById("SHATEST").value = url;
                document.getElementsByName("PM")[0].value = 'PAYPAL';
                PutHtmlHiddenFieldValue(url);
            }*@
            else if (brand == 'GIROPAY') {
                var storelocation = "@storeLocation";
                var url = "ACCEPTURL=@storeLocation" + "OgoneResult?ogonereferenceid=@Model.orderid" + "@Model.shaSign" + "AMOUNT=@Model.amount" + "@Model.shaSign" + "BRAND=GIROPAY" + "@Model.shaSign" + "CANCELURL=@storeLocation" + "OgoneCancel" + "@Model.shaSign" + "CURRENCY=@Model.curr" + "@Model.shaSign" + "LANGUAGE=@Model.lang" + "@Model.shaSign" + "ORDERID=@Model.orderid" + "@Model.shaSign" + "PM=GIROPAY" + "@Model.shaSign" + "PSPID=@Model.pspId" + "@Model.shaSign";
                document.getElementById("SHATEST").value = url;
                document.getElementsByName("PM")[0].value = 'GIROPAY';
                PutHtmlHiddenFieldValue(url);
            }
            else {
                var sendvalue = document.getElementById("SHATEST").value;
                document.getElementsByName("PM")[0].value = 'creditcard';
                PutHtmlHiddenFieldValue(document.getElementById("SHATEST1").value.replace('{Brand}', brand));
            }
            formexists = 0;

            //fbq('track', 'AddPaymentInfo');
            @*@{
                 @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
                    @Html.ValidationSummary(false)
            }*@
        });

    });

</script>