﻿@model CategoryNavigationModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Infrastructure;

@functions{
    public bool BreadCrumbContainsCurrentCategoryId(CategorySimpleModel category)
    {
        if (Model.CurrentCategoryId == 0)
            return false;

        if (category.Id == Model.CurrentCategoryId)
            return true;

        foreach (var subCategory in category.SubCategories)
        {
            if (BreadCrumbContainsCurrentCategoryId(subCategory))
            {
                return true;
            }
        }

        return false;
    }
}
@helper RenderCategoryLine(CategorySimpleModel category)
{
    // additional check on whether to set an active class on the parents of the current categories and above. Meaning all categories from the 
    // breadcrumb will have an "active" class
    bool active = false;
    if (category.Id == Model.CurrentCategoryId || category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0)
    {
        active = true;
    }    
     
    <li class="@(active ? "active" : "inactive")">
        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name
            @if (category.NumberOfProducts.HasValue)
            {
                <text> </text>@T("Categories.TotalProducts", category.NumberOfProducts.Value)
            }
        </a>
        @{
            if (category.Id == Model.CurrentCategoryId ||
                category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0)
            {
                if (category.SubCategories.Count > 0)
                {
                    <ul class="sublist">
                        @foreach (var subCategory in category.SubCategories)
                        {
                            @RenderCategoryLine(subCategory)
                        }
                    </ul>
                }
            }
        }
    </li>
}
@if (Model.Categories.Count > 0)
{

if (Model.CurrentCategoryId == 43 || Model.CurrentCategoryId == 44 || Model.CurrentCategoryId == 45 || Model.CurrentCategoryId == 46 || Model.CurrentCategoryId == 47 || Model.CurrentCategoryId == 48 || Model.CurrentCategoryId == 49 || Model.CurrentCategoryId == 50 || Model.CurrentCategoryId == 51 || Model.CurrentCategoryId == 52)
{
    <div class="block block-category-navigation">
        <div class="title">
            <strong>@T("Women.Collections")</strong>
        </div>
        <div class="listbox">
            <ul class="list">
              @foreach (var category in Model.Categories)
        		{
				if(category.Name == "Dames Blouses" || category.Name == "Women blouses" || category.Name == "Chemisiers femme" || category.Name == "Damenblusen")
				{	
                    @RenderCategoryLine(category)
			
				}
				}
					
            </ul>
        </div>
    </div>
}
else if (Model.CurrentCategoryId == 29 || Model.CurrentCategoryId == 30 || Model.CurrentCategoryId == 31 || Model.CurrentCategoryId == 32 || Model.CurrentCategoryId == 33 || Model.CurrentCategoryId == 43 || Model.CurrentCategoryId == 35 || Model.CurrentCategoryId == 36 || Model.CurrentCategoryId == 37 || Model.CurrentCategoryId == 38 || Model.CurrentCategoryId == 39 || Model.CurrentCategoryId == 40 || Model.CurrentCategoryId == 41 || Model.CurrentCategoryId == 42 || Model.CurrentCategoryId == 55 || Model.CurrentCategoryId == 56 || Model.CurrentCategoryId == 57 || Model.CurrentCategoryId == 58 || Model.CurrentCategoryId == 59 || Model.CurrentCategoryId == 60 || Model.CurrentCategoryId == 61 || Model.CurrentCategoryId == 62 || Model.CurrentCategoryId == 63 || Model.CurrentCategoryId == 64 || Model.CurrentCategoryId == 65 || Model.CurrentCategoryId == 66 || Model.CurrentCategoryId == 67 || Model.CurrentCategoryId == 68 || Model.CurrentCategoryId == 69 || Model.CurrentCategoryId == 70 || Model.CurrentCategoryId == 71 || Model.CurrentCategoryId == 72 || Model.CurrentCategoryId == 73 || Model.CurrentCategoryId == 74 || Model.CurrentCategoryId == 75 || Model.CurrentCategoryId == 76 || Model.CurrentCategoryId == 77)
{
    <div class="block block-category-navigation">
        <div class="title">
            <strong>@T("Men.Collections")</strong>
        </div>
        <div class="listbox">
            <ul class="list">
              @foreach (var category in Model.Categories)
        		{
				if(category.Name == "Heren Overhemden" || category.Name == "men's shirts" || category.Name == "Chemises Homme" || category.Name == "Herrenhemden")
				{	
                    @RenderCategoryLine(category)
			
				}
				}
					
            </ul>
        </div>
    </div>
}
}

<!--Start Google Analytics-->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100731918-1', 'auto');
    ga('send', 'pageview');

</script>
<!--End Google Analytics--> 

