
.ropc .section-title {
	border-bottom: 2px solid #eee;
	background-image: url('toggle.png'),url('toggle.png');
	background-position: left center, right center;
	background-repeat: no-repeat;
	padding: 10px 0;
}
.ropc .section-body {
	display: none;
	padding: 10px;
}

input.ng-invalid.ng-dirty, 
textarea.ng-invalid.ng-dirty, 
.has-error {
    border: 1px solid red !important;
}
.ropc .choose-address {
	margin: 10px 0 20px;
}
.ropc .choose-address select {
	width: 350px;
	max-width: 100%;
}

.ropc .pickup-in-store .description {
	margin: 5px 0;
}
.ropc .pickup-points .address-select {
    margin: 0 0 10px;
}
.ropc .pickup-points-map.ng-scope {
    width: 100% !important;
}
.ropc .estimate-shipping .hint {
	margin: 0 0 15px;
}
.ropc .estimate-shipping .buttons {
	margin: 0 0 10px;
}
.ropc .estimate-shipping button {
	display: inline-block;
	width: 350px;
	max-width: 100%;
	border: 2px solid #eee;
	background-color: #f9f9f9;
	padding: 12px 30px;
    font-size: 14px;
    font-weight: bold;
	color: #cc8a97;
    text-transform: uppercase;
	-webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.ropc .estimate-shipping button:hover {
	background-color: #eee;
}
.ropc .estimate-shipping button:disabled {
	background-color: #f9f9f9 !important;
	opacity: 0.5;
    cursor: default;
}
.ropc .estimate-shipping .shipping-results {
	margin: 20px 0 0;
}
.ropc .estimate-shipping .option-name {
	color: #444;
}

.ropc .method-list {
	text-align: left;
}
.ropc .use-reward-points {
	margin: 0 0 15px;
}
.ropc .payment-method .method-name > div {
	display: inline-block;
	vertical-align: middle;
}
.ropc .payment-method .method-name img {
	display: block;
	margin: 0 10px 0 0;
}
.ropc .payment-method #CreditCardType,
.ropc .payment-method #CardholderName,
.ropc .payment-method #CardNumber {
	width: 300px !important;
}

.ropc .cart {
	margin: 0;
	box-shadow: none;
}
.ropc .cart .sku,
.ropc .quantity label {
    display: none;
}
.ropc .cart .qty-input {
	height: auto;
	border-color: #eee;
	line-height: 32px;
}
.ropc .cart .quantity input,
.ropc .cart .quantity select {
    height: 34px;
    padding: 3px;
}
.ropc .cart .attributes {
	margin: 10px 0;
}
.ropc .remove-product {
    display: inline-block;
	width: 25px;
	height: 25px;
	background: url('delete.png') center no-repeat;
	vertical-align: middle;
    font-size: 0;
	cursor: pointer;
    border: none;
}

.ropc .attribute-list .attribute-name {
	margin: 0 0 10px;
	font-weight: bold;
	color: #444;
}
.ropc .attribute-list .option-list li {
    display: inline-block;
    margin: 0 5px;
}

.ropc .coupon-box .hint,
.ropc .giftcard-box .hint {
	margin: 0 0 5px;
}
.ropc .coupon-code {
	font-size: 0;
}
.ropc .coupon-code input {
	display: inline-block;
	height: 40px;
	margin: -1px;
	vertical-align: middle;
}
.ropc .coupon-code button {
	display: inline-block;
	height: 40px;
	margin: -1px;
	border: 2px solid #eee;
	background-color: #f9f9f9;
	padding: 0 20px;
	vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
	color: #cc8a97;
    text-transform: uppercase;
	-webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.ropc .coupon-code button:hover {
	background-color: #eee;
}
.ropc .current-code {
	margin: 10px 0 0;
}
.ropc .current-code button {
	width: 16px;
	height: 16px;
	margin: 0 0 0 5px;
	border: none;
	background: url('delete.png') no-repeat center;
	vertical-align: middle;
	font-size: 0;
}
.ropc .coupon-box .message,
.ropc .giftcard-box .message {
	margin: 10px 0 0;
}

.ropc .order-totals-panel {
	width: 390px;
	margin: 50px auto 20px;
	box-shadow: 0 1px 12px 2px rgba(0, 0, 0, 0.17);
    padding: 20px 30px;
    text-align: right;
	font-size: 16px;
}
.ropc .cart-total button {
	position: relative;
	width: 16px;
	height: 16px;
	margin: 0 -5px 0 5px;
	border: none;
	background: #fff url('delete.png') no-repeat center;
	vertical-align: middle;
	font-size: 0;
}
.ropc .error-list {
	margin: 0 0 15px;
	text-align: center;
	color: red;
}
.ropc .complete-button button {
	width: 390px;
	max-width: 100%;
	margin: 0 0 80px;
	border: none;
	background-color: #cc8a97;
    padding: 16px 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
    text-transform: uppercase;
	-webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.ropc .complete-button button:hover {
	opacity: 0.9;
}

.ropc .addon-buttons {
    text-align: center;
}

.ropc .addon-buttons > * {
     margin: 0 5px 5px;
}



@media all and (max-width: 1000px) {

.panel {
	display: block;
	max-width: 390px;
	margin: auto;
}
.cart {
	display: block;
}
.cart colgroup,
.cart thead {
	display: none;
}
.cart tbody {
	display: block;
	overflow: hidden;
}
.cart tr {
	display: block;
	float: left;
	width: 100%;
	margin: 25px 0 0;
	border: 2px solid #eee;
}
.cart tr:first-child {
	margin: 0;
}
.cart td {
	display: block;
	border: none;
	padding: 10px;
	text-align: center;
}
.cart td.remove-from-cart {
    margin: 0 0 -2px;
	border-bottom: 2px solid #eee;
	background-color: #f9f9f9;
	padding: 10px;
}
.cart td.product-picture {
	border-top: 2px solid #eee;
	padding: 15px 10px 5px;
}
.cart td.product {
	min-width: 0;
	border-bottom: 2px solid #eee;
	padding: 5px 10px 15px;
	text-align: center;
}
.cart td.quantity {
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
}
.cart td.unit-price,
.cart td.subtotal {
	display: inline-block;
	padding: 20px 10px;
	vertical-align: middle;
}
	
}

@media all and (min-width: 769px) {

.ropc .panel {
	max-width: none;
}
.ropc .section-title {
	margin: 0 0 -2px;
	border: none;
	background-image: none;
	padding: 0;
}	
.ropc .section-title strong {
	display: inline-block;
	min-width: 225px;
	border: 2px solid #eee;
	padding: 10px;
}
.ropc .section-body {
	display: block !important;
	border: 2px solid #eee;
	padding: 20px 15px;
}
.ropc .choose-address {
	margin-top: 5px;
}
.ropc .method-list li {
	width: auto;
	margin: 5px 0;
	border: none;
	padding: 5px;
}
.ropc .use-reward-points {
	text-align: left;
}
.ropc .payment-info .info {
	margin: 20px 0 -10px;
	border-width: 2px 0 0;
	padding: 10px 0 0;
	text-align: left;
}
.ropc .order-summary-panel .section-body {
	border-width: 2px 0 0;
	padding: 20px 0;
}
.ropc .coupon-box-panel,
.ropc .giftcard-box-panel {
	width: 100%;
}
.ropc .coupon-code input,
.ropc .coupon-code button {
	margin-bottom: 5px;
}
.ropc .terms-of-service {
	text-align: center;
}
	
}

@media all and (min-width: 1001px) {

.ropc .section-body {
	padding: 20px;
}
.ropc .inputs label {
	display: block;
	width: auto;
	margin: 0 0 5px;
	text-align: center;
}
.ropc .payment-logo {
	position: static;
}
.ropc .payment-details label {
	margin: 0 !important;
}
.ropc .order-summary-panel .section-body {
	border-width: 2px;
	padding-top: 0;
}
.ropc .cart .product {
	min-width: 0;
}
.ropc .cart .td-title {
	display: none;
}
.ropc .cart .unit-price,
.ropc .cart .subtotal {
    white-space: normal;
}
.ropc .remove-product {
	width: 15px;
	height: 15px;
}
.ropc .coupon-box-panel,
.ropc .giftcard-box-panel {
	width: 305px;
}
.ropc .coupon-box .hint,
.ropc .giftcard-box .hint {
	margin: 0;
}
.ropc .coupon-code input {
	width: 200px;
	border-width: 0 0 2px;
}
.ropc .coupon-code button {
	width: 305px;
	margin: 10px 0 0 -22px;
}
	
}

@media all and (min-width: 1281px) {

.ropc .section-title strong {
	min-width: 250px;
}
.ropc .coupon-box-panel,
.ropc .giftcard-box-panel {
	width: 375px;
}
.ropc .coupon-code input {
	width: 275px;
	border-width: 0 0 2px;
}
.ropc .coupon-code button {
	width: 375px;
	margin: 10px 0 0 -22px;
}
.ropc .order-totals-panel {
	width: 375px;
	margin: 0 0 20px auto;
}
.ropc .error-list,
.ropc .terms-of-service,
.ropc .complete-button {
	text-align: right;
}
.ropc .terms-of-service label {
    display: inline-block;
    max-width: 350px;
    vertical-align: top;
}
.ropc .complete-button button {
	width: 375px;
}


.ropc .addon-buttons {
    text-align: right;
}

.ropc .addon-buttons > * {
     margin: 0 0 5px 5px;
}

}