﻿@using SevenSpikes.Nop.Framework.MVCExtensions
@using SevenSpikes.Nop.Plugins.MegaMenu.Models

@model MenuItemCategoryModel

@{
    var areCategoriesInASingleItem = Model.Item.EntityId == 0;
    var hasSubCategories = Model.Categories.Count > 0;
    var hasSublistClass = hasSubCategories ? "has-sublist" : string.Empty;
    var withSubcategoriesClass = hasSubCategories ? "with-subcategories" : string.Empty;
}

<li class="@hasSublistClass @Model.Item.CssClass">

    @if (areCategoriesInASingleItem)
    {
        <span class="@withSubcategoriesClass labelfornextplusbutton">@Model.Item.Title</span>
    }
    else
    {
        <a class="@withSubcategoriesClass" href="@Model.Item.Url"><span>@Model.Item.Title</span></a>
    }

    @if (hasSubCategories)
    {
        <div class="dropdown categories fullWidth boxes-@Model.Categories.Count">
            <div class="row-wrapper">
                @(Html.DataTable<MegaMenuCategoryModel>(Model.Categories, Model.Item.NumberOfBoxesPerRow, "row", "box",
                @<text>
                    <div class="picture">
                        <a href="@Url.RouteUrl("Category", new {item.CategoryModel.SeName})" title="@item.CategoryModel.PictureModel.Title">
                            <img class="lazy" alt="@item.CategoryModel.PictureModel.AlternateText" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="@item.CategoryModel.PictureModel.ImageUrl" />
                        </a>
                    </div>
                    <div class="details">
                        <div class="title">
                            <a href="@Url.RouteUrl("Category", new {item.CategoryModel.SeName})" title="@item.CategoryModel.Name"><span>@item.CategoryModel.Name</span></a>
                        </div>
                        <ul class="subcategories">
                            @foreach (var subCategory in item.SubCategories)
                            {
                                <li>
                                    <a href="@Url.RouteUrl("Category", new {subCategory.CategoryModel.SeName})" title="@subCategory.CategoryModel.Name">@subCategory.CategoryModel.Name</a>
                                </li>
                            }

                            @if (item.ShouldShowViewAllLink)
                            {
                                <li>
                                    <a class="view-all" href="@Url.RouteUrl("Category", new {item.CategoryModel.SeName})" title="@T("SevenSpikes.MegaMenu.ViewAllCategories")">
                                        @T("SevenSpikes.MegaMenu.ViewAllCategories")
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </text>
            ))
            </div>
            @if (areCategoriesInASingleItem)
            {
                @Html.Widget("mega_menu_categories_before_dropdown_end")
            }
            else
            {

                @Html.Widget(string.Format("mega_menu_categories_before_dropdown_end_{0}", Model.CategoryMenuItemIndex))
            }
        </div>
    }
</li>