﻿@{
    Layout = "";
}
@model DC.Nop.Plugin.Misc.GoogleShoppingContentApi.Models.ConfigurationModel
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.CurrentLicence)
                    </div>
                    <div class="col-md-9">
                        @Model.CurrentLicence
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.LicenceKey_OverrideForStore, model => model.LicenceKey, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.LicenceKey)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.LicenceKey)
                        @Html.ValidationMessageFor(model => model.LicenceKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MerchantId_OverrideForStore, model => model.MerchantId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MerchantId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MerchantId)
                        @Html.ValidationMessageFor(model => model.MerchantId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ClientId_OverrideForStore, model => model.ClientId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ClientId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ClientId)
                        @Html.ValidationMessageFor(model => model.ClientId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ClientSecret_OverrideForStore, model => model.ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ClientSecret)
                        @Html.ValidationMessageFor(model => model.ClientSecret)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        Request Access to Google Shopping
                        <a href="/DCGoogleShoppingContentApi/AuthRequest">Request Access...</a><br />
                        Current tokens:
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        Access Token
                    </div>
                    <div class="col-md-9">

                        <pre>@Model.AccessToken</pre>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        Refresh Token
                    </div>
                    <div class="col-md-9">

                        <pre>@Model.RefreshToken</pre>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ProductIdPrefix_OverrideForStore, model => model.ProductIdPrefix, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ProductIdPrefix)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ProductIdPrefix)
                        @Html.ValidationMessageFor(model => model.ProductIdPrefix)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AllowCustomGoods_OverrideForStore, model => model.AllowCustomGoods, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AllowCustomGoods)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AllowCustomGoods)
                        @Html.ValidationMessageFor(model => model.AllowCustomGoods)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.CurrencyId_OverrideForStore, model => model.CurrencyId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.CurrencyId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.CurrencyId, Model.AvailableCurrencies)
                        @Html.ValidationMessageFor(model => model.CurrencyId)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.TargetCountryId_OverrideForStore, model => model.TargetCountryId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TargetCountryId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.TargetCountryId, Model.AvailableCountries)
                        @Html.ValidationMessageFor(model => model.TargetCountryId)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PricesConsiderPromotions_OverrideForStore, model => model.PricesConsiderPromotions, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PricesConsiderPromotions)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.PricesConsiderPromotions)
                        @Html.ValidationMessageFor(model => model.PricesConsiderPromotions)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ProductsToUpload_OverrideForStore, model => model.ProductsToUpload, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ProductsToUpload)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.ProductsToUpload, Model.ProductsToUploadOptions)
                        @Html.ValidationMessageFor(model => model.ProductsToUpload)
                        <p class="text-danger">@T("Plugin.Misc.GoogleShoppingContentApi.ProductsToUpload.Warning")</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
