﻿@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout";
}
@model DC.Nop.Plugin.Misc.GoogleShoppingContentApi.Models.ProductCategoryMapModel
@using Nop.Core.Infrastructure
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

@using (Html.BeginForm())
{
    //@Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ProductId)
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.GoogleCategory)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.GoogleCategory, Model.AvailableGoogleCategories, new { style = "width:100%; max-width:1400px" })
                            @Html.ValidationMessageFor(model => model.GoogleCategory)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <p class="help-block">
                                @Model.OverrideGlobalSettingDefaultMessage
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.OverrideGlobalSetting)
                        </div>
                        <div class="col-md-9">
                            @Html.CheckBoxFor(model => model.OverrideGlobalSetting)
                            @Html.ValidationMessageFor(model => model.OverrideGlobalSetting)
                            <p class="help-block" style="display: inline-block">
                                @Model.OverrideGlobalSettingMessage
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-9">
                            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
