
.ropc .section {
	margin: 0 0 10px;
	border: 1px solid #e9e9e9;
	background-color: #fff;
}
.ropc .section.shipping-method,
.ropc .section.payment-method,
.ropc .section.payment-info,
.ropc .section.confirm-order,
.ropc .section.order-completed {
	padding: 0;
}
.ropc .section .title {
	position: relative;
	border-bottom: 3px solid #e9e9e9;
	background-color: #fff;
	padding: 15px 30px 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.2s ease;
}
.ropc .section .title.active {
	border-bottom-color: #f74258;
}
.ropc .section .title:after {
	content: "";
    position: absolute;
    top: 20px;
    right: 15px;
    width: 10px;
    height: 10px;
    background: #f74258 url('images/toggle.png') no-repeat center;
}
.ropc .section-body {
	display: none;
    padding: 30px;
}
.order-summary-panel .section-body {
	padding: 0 !important;
} 
.ropc .has-error,
 input.ng-invalid.ng-dirty, 
 textarea.ng-invalid.ng-dirty {
    border: 1px solid red !important;
}

.ropc input[type="radio"] {
	margin: 0 5px 0 0;
}

.ropc .choose-address {
    margin: -30px -30px 30px;
	background-color: #f9f9f9;
	padding: 30px;
}
.ropc .choose-address select {
    max-width: 100%;
    height: 36px;
}
.ropc .pickup-in-store {
    padding: 0;
}
.ropc .pickup-in-store .options {
	margin: 0 0 10px;
}
.ropc .pickup-points {
	margin: 10px 0 0;
}
.ropc .pickup-points-map {
	width: 100% !important;
}
.ropc .estimate-shipping .hint {
    margin: 0 0 20px;
}
.ropc .estimate-shipping .buttons {
    margin: 20px 0 0;
}
.ropc .estimate-shipping button {
    border: none;
	background-color: #f74258;
	padding: 12px 20px;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.2s ease;
	outline: 1px solid transparent;
}
.ropc .estimate-shipping button:hover {
	outline-color: #f74258;
}
.ropc .estimate-shipping button[disabled] {
    opacity: 0.3;
    cursor: default;
	outline-color: transparent !important;
}
.ropc .shipping-results {
    margin: 30px 0 0;
}
.ropc .shipping-results li {
	margin: 15px 0 5px;
}
.ropc .shipping-results li strong {
	display: block;
	margin: 0 0 5px;
	font-size: 13px;
	color: #333;
}

.ropc .shipping-method .method-list,
.ropc .payment-method .method-list {
    margin: 0;
}
.ropc .shipping-method .method-list li {
	margin: 20px 0 0;
}
.ropc .shipping-method .method-list li:first-child,
.ropc .payemnt-method .method-list li:first-child {
	margin-top: 0;
}
.ropc .payment-method .use-reward-points {
    margin: 0 0 20px;
}
.ropc .payment-method .method-list {
	display: inline-block;
	padding: 0 0 20px;
	text-align: left;
}
.ropc .payment-method .method-list li {
	margin: 20px 0;
}
.ropc .payment-info {
	border-top: 1px solid #e9e9e9;
    padding: 30px 0 0;
}
.ropc .payment-info .info {
	margin: 0;
}

.ropc .cart .sku,
.ropc .quantity label {
    display: none;
}
.ropc .cart td.quantity input,
.ropc .cart td.quantity select {
    height: 36px;
	border: 1px solid #e9e9e9;
}

.ropc .attribute-list {
}
.ropc .attribute-list .attribute-name {
	margin: 0 0 10px;
}
.ropc .attribute-list .attribute-values li {
	margin: 5px 0;
}

.ropc .coupon-box-panel .hint,
.ropc .giftcard-box-panel .hint {
    margin: 0 0 10px;
}
.ropc .coupon-box-panel .coupon-code,
.ropc .giftcard-box-panel .coupon-code {
	width: 300px;
	max-width: 100%;
	margin: auto;
	font-size: 0px;
}
.ropc .coupon-box-panel input[type="text"],
.ropc .giftcard-box-panel input[type="text"] {
	display: block;
	width: 100%;
    height: 40px;
	margin: 0 0 -1px;
}
.ropc .coupon-box-panel .coupon-code button,
.ropc .giftcard-box-panel .coupon-code button {
    display: block;
	width: 100%;
	height: 40px;
	border: none;
	background-color: #f74258;
	padding: 0px 20px;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	outline: 1px solid transparent;
	transition: all 0.2s ease;
}
.ropc .coupon-box-panel .message,
.ropc .giftcard-box-panel .message {
    margin: 10px 0 0;
	/*add color only if success/error class names are present*/
}
.ropc .coupon-box-panel .current-code {
    margin: 10px 0 0;
	color: #4fbb41;
}
.ropc .coupon-box-panel .current-code span {
    display: inline-block;
    vertical-align: middle;
}
.ropc .coupon-box-panel .current-code button,
.ropc .total-info .cart-total button {
	display: inline-block;
    width: 24px;
    height: 24px;
	margin: 0 -12px 0 0;
	border: 0;
    background: url('images/delete.png') no-repeat center;
	vertical-align: middle;
    font-size: 0;
}

.ropc .panel.order-totals-panel,
.ropc .panel.complete-order-panel {
	border: 1px solid #e9e9e9;
	background-color: #fff;
	padding: 40px 0px;
}
.ropc .total-info {
	width: 300px;
	max-width: 80%;
	margin: 0px auto;
}
.ropc .total-info .cart-total button {
	position: relative;
	z-index: 1;
    margin: -2px -5px 0 0;
    background-color: #fff;
}
.ropc .error-list {
	margin: -42px 0px 80px;
	background-color: #fff;
	line-height: 24px;
    color: #f74258;
}
.ropc .terms-of-service {
	margin: -42px 0 0;
}
.ropc .terms-of-service div {
	width: 300px;
	max-width: 80%;
	margin: auto;
	line-height: 24px;
}
.ropc .complete-button,
.ropc .addon-buttons {
	margin: 40px 0 0;
}
.ropc .complete-button button {
	min-width: 150px;
	border: none;
	background-color: #f74258;
	padding: 15px 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	outline: 1px solid transparent;
	transition: all 0.2s ease 0s;
}
.ropc .complete-button button:hover {
	outline-color: #f74258;
}

.ropc .addon-buttons {
    text-align: center;
}

.ropc .addon-buttons > * {
    margin: 0 5px 5px;
}


@media all and (max-width: 1000px) {

.ropc .panel {
	max-width: 600px;
	margin: auto;
}
.ropc .order-summary-content {
	border: none;
	background-color: transparent;
}
.ropc .order-summary-content .section-title {
	border-top: 1px solid #e9e9e9 !important;
	border-left: 1px solid #e9e9e9 !important;
	border-right: 1px solid #e9e9e9 !important;
}
.ropc .cart {
	display: block;
	border: none;
	background-color: transparent;
}
.ropc .cart colgroup,
.ropc .cart thead {
	display: none;
}
.ropc .cart tbody {
	display: block;
	overflow: hidden;
}
.ropc .cart tr {
	display: block;
	margin: 15px 0;
	border: 1px solid #e9e9e9;
	overflow: hidden;
	background-color: #fff;
}
.ropc .cart td {
	display: block;
	border: none;
	padding: 10px;
	text-align: center;
}
.ropc .cart td.remove-from-cart {
	border-bottom: 1px solid #e9e9e9;
	padding: 10px 20px;
}
.ropc .cart .remove-product {
	display: inline-block;
	border: none;
	background: url('images/product-remove.png') no-repeat left center;
	padding: 10px 15px 10px 35px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.2s ease;
	outline: 1px solid transparent;
}
.ropc .cart .remove-product:hover {
	color: #f74258;
}
.ropc .cart td.product-picture {
	padding: 15px 20px 5px;
}
.ropc .cart td.product {
	min-width: 0;
	box-shadow: 0 100px 0 100px #f9f9f9;
	padding: 5px 20px 15px;
	text-align: center;
}
.ropc .cart td.quantity {
	display: inline-block;
	vertical-align: middle;
}
.ropc .cart td.unit-price,
.ropc .cart td.subtotal {
	display: inline-block;
	width: 40%;
	vertical-align: middle;
}
	
}

@media all and (min-width: 481px) {

.ropc .section-body {
	padding: 30px 45px;
}
.ropc .choose-address {
	margin: -30px -45px 30px;
}
.ropc .choose-address select {
    height: 40px;
}	

}

@media all and (min-width: 769px) {

.ropc .panel-group-left {
	width: 44%;
}
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom {
	width: 54%;
}

.ropc .section {
	margin: 0 0 30px;
}
.ropc .section .title {
	border-bottom-color: #f74258;
	cursor: auto;
}
.ropc .section .title:after {
	display: none;
}
.ropc .section-body {
	display: block !important;
	padding: 30px;
}

.ropc .choose-address {
	margin: -30px -30px 20px;
	padding: 30px;
}
.ropc .choose-address select,
.ropc .inputs input[type="text"],
.ropc .inputs select {
	width: 100%; /*theme specific*/
}
	
.ropc .shipping-method .method-list li, 
.ropc .payment-method .method-list li {
	display: block;
}
.ropc .payment-method .payment-logo,
.ropc .payment-method .payment-details {
	display: inline-block;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.ropc .coupon-box-panel,
.ropc .giftcard-box-panel {
	width: 100%;
}

}

@media all and (min-width: 1001px) {

.ropc .panel-group-left {
	width: 33%;
}
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom {
	width: 65%;
}

.ropc .shipping-method .method-description {
	padding-left: 22px;
}
.ropc .payment-method .use-reward-points {
    margin: 0 0 30px;
}
.ropc .payment-method .method-list {
	display: block;
}

.ropc .cart {
	border: none;
}
.ropc .cart td {
	min-width: 70px;
	padding: 15px;
	vertical-align: middle;
}
.ropc .cart img {
	width: 50px;
}
.ropc .cart .remove-from-cart {
	font-size: 0;
}
.ropc .cart th.remove-from-cart {
	background: url('images/product-remove.png') no-repeat center;
}
.ropc .cart .remove-product {
	display: inline-block;
	border: none;
	width: 16px;
	height: 16px;
	background: url('images/product-remove.png') no-repeat center;
	font-size: 0;
	cursor: pointer;
}
.ropc .cart .subtotal {
	white-space: normal;
}
.ropc .cart .td-title {
	display: none !important;
}

.ropc .coupon-box-panel .coupon-code,
.ropc .giftcard-box-panel .coupon-code {
	width: auto;
	max-width: 490px;
	margin: 0;
}
.ropc .coupon-box-panel input[type="text"],
.ropc .giftcard-box-panel input[type="text"] {
	display: inline-block;
	width: 58%;
	margin: 0 2% 0 0;
	vertical-align: middle;
}
.ropc .coupon-box-panel .coupon-code button,
.ropc .giftcard-box-panel .coupon-code button {
	display: inline-block;
	width: 40%;
	vertical-align: middle;
}
.ropc .coupon-box-panel .coupon-code button:hover,
.ropc .giftcard-box-panel .coupon-code button:hover {
	outline-color: #f74258;
}

.ropc .order-totals-panel {
	float: right;
	width: 50%;
}
.ropc .complete-order-panel {
	float: right;
	clear: both;
	width: 50%;
	text-align: center;
}
.ropc .pickup-in-store {
    text-align: left;
}

}

@media all and (min-width: 1281px) {

.ropc .choose-address select,
.ropc .inputs input[type="text"],
.ropc .inputs select {
	height: 45px;
}
.ropc .cart col:first-child {
	display: table-column !important;
}
.ropc .cart th:first-child,
.ropc .cart td:first-child {
	display: table-cell !important;
}
.ropc .cart td {
	padding: 20px;
}
.ropc .cart img {
	width: auto;
}

}