
input.ng-invalid.ng-dirty, 
textarea.ng-invalid.ng-dirty, 
.has-error {
    border: 1px solid #c00 !important;
}

.ropc .section {
    margin: 0 0 25px;
}
.ropc .section-title {
    margin: 0;
	border-bottom: 1px dashed #ccc;
	padding: 5px 0;
}
.ropc .section-title strong {
	background-image: url('toggle.png'),url('toggle.png');
	background-position: left center, right center;
	background-repeat: no-repeat;
	padding: 0 40px;
}
.ropc .section-body {
	display: none;
	border-width: 0 1px 1px;
	border-style: dashed;
	border-color: #ccc;
    padding: 25px 15px;
}
.ropc .form-fields {
    background: none;
    border: 0;
    padding: 0;
}

.ropc .inputs {
	display: block;
	max-width: none;
	margin: 10px auto;
	overflow: visible;
    text-align: center;
	white-space: nowrap;
}
.ropc .inputs label {
	display: block;
}
.ropc .inputs input[type="text"] {
	width: 300px !important;
	max-width: 100%;
}
.ropc .inputs select,
.ropc .choose-address select {
	width: 300px;
    max-width: 100%;
}
.ropc .inputs span {
	padding: 0 !important;
}
.ropc .inputs .required {
	position: static;
	margin: 0 -6px 0 0;
}
.ropc .choose-address {
    margin: 5px 0 20px;
}
.ropc .ship-to-same-address {
	padding: 10px 0;
	font-size: 13px;
}
.ropc .pickup-in-store {
	font-size: 13px;
}
.ropc .pickup-in-store .options {
	margin: 0 0 5px;
}

.ropc .estimate-shipping .hint {
    margin: 0 0 10px;
	font-size: 13px;
}
.ropc .estimate-shipping .buttons {
    margin: 20px 0 0;
}
.ropc .estimate-shipping button {
    display: inline-block;
    height: auto;
    margin: 3px 0;
    border: 2px solid #eee;
    border-radius: 18px;
    background: #eee;
    padding: 7px 14px;
    font-size: 14px;
    text-transform: none;
    color: #555;
}
.ropc .estimate-shipping button:hover {
    background: #f9f9f9;
}
.ropc .estimate-shipping button[disabled] {
    opacity: 0.5;
    cursor: auto;
}
.ropc .estimate-shipping button[disabled]:hover {
    background: #eee;
}
.ropc .shipping-results {
    margin: 30px 0 0;
}
.ropc .shipping-results li {
	margin: 5px 0;
}
.ropc .pickup-points-map {
    max-width: 100%;
    margin: 15px auto;
}

.ropc .shipping-method .method-list,
.ropc .payment-method .method-list {
    margin: 0;
    padding: 0;
    border: none;
}
.ropc .shipping-method .method-list li,
.ropc .payment-method .method-list li {
	display: inline-block;
	width: 100% !important;
}
.ropc .shipping-method .method-list {
	text-align: center;
}
.ropc .shipping-method .method-name {
    padding: 0;
    background: none !important;
}
.ropc .use-reward-points {
    margin: 0 0 20px;
	font-size: 13px;
}
.ropc .payment-method .method-list {
	text-align: left;
}
.ropc .payment-method .payment-logo {
    display: inline-block;
    padding: 0 !important;
    margin: 0 15px 0 0 !important;
}
.ropc .payment-method .payment-logo img {
	display: block;
}
.ropc .payment-method .payment-details {
    display: inline-block !important;
    min-width: 0;
    margin: 0 !important;
}

.ropc .payment-info {
    margin: 30px 0 0;
	text-align: left;
}
.ropc .payment-info .info {
    border: none;
    padding: 0;
}
.ropc .payment-info p {
	text-align: left;
}
.ropc .payment-info td {
	padding: 5px 0;
}
.ropc .payment-info select {
    width: auto;
}

.ropc .cart {
	margin: 0;
}
.ropc .cart .sku {
	display: none;
}
.ropc .cart .qty-input {
	text-align: center;
	line-height: 32px;
    height: 34px;
}
.ropc .quantity label {
    display: none;
}
.ropc .remove-product {
    display: inline-block;
    vertical-align: middle;
	width: 18px;
	height: 18px;
	background: #fff url('delete.png') center no-repeat;
	cursor: pointer;
    font-size: 0;
    border: none;
}
.ropc .cart .attributes {
	margin: 10px 0;
}

.ropc .attribute-list {
	font-size: 13px;
}
.ropc .attribute-list > li {
    border: 0;
    display: block;
    padding: 0;
    margin: 0 0 10px;
}
.ropc .attribute-list .hidden {
    display: none;
}

.ropc .coupon-box-panel .hint,
.ropc .giftcard-box-panel .hint {
    margin: 0 0 10px;
	font-size: 13px;
}
.ropc .coupon-box-panel .coupon-code,
.ropc .giftcard-box-panel .coupon-code {
    display: inline-block;
}
.ropc .coupon-box-panel input[type="text"],
.ropc .giftcard-box-panel input[type="text"] {
    float: left;
    height: 40px;
}
.ropc .coupon-box-panel .coupon-code button,
.ropc .giftcard-box-panel .coupon-code button {
    display: inline-block;
    height: auto;
    margin: 13px 0 0;
    border-radius: 18px;
    padding: 7px 14px;
    font-size: 14px;
    border: 2px solid #eee;
    background: #eee;
    color: #555;
    text-transform: none;
}
.ropc .coupon-box-panel .coupon-code button:hover,
.ropc .giftcard-box-panel .coupon-code button:hover {
    background: #f9f9f9;
}
.ropc .coupon-box-panel .message,
.ropc .giftcard-box-panel .message {
    margin: 5px 0 0;
    color: #c00;
    font-size: 12px;
}
.ropc .coupon-box-panel .current-code {
    margin: 5px 0 0;
}

.ropc .order-totals-panel {
    max-width: 370px;
    margin: 50px auto 30px;
	font-size: 13px;
}
.ropc .checkout-page .total-info {
    border: 1px dashed #ccc;
    background: #fff;
    padding: 10px;
}
.ropc .coupon-box-panel .current-code button,
.ropc .coupon-box-panel .current-code span,
.ropc .total-info button {
    display: inline-block;
    vertical-align: middle;
}
.ropc .coupon-box-panel .current-code button,
.ropc .total-info button {
    width: 16px;
    height: 16px;
    background: #fff url('delete.png') no-repeat center;
    border: 0;
    font-size: 0;
}
.ropc .total-info button {
    position: relative;
    z-index: 1;
	margin: 0 -10px 0 0;
}
.ropc .error-list {
    color: #c00;
    margin: 0 0 20px;
}
.ropc .terms-of-service {
	margin: 0 0 30px;
	font-size: 13px;
	text-align: center;
}
.ropc .complete-button button {
    max-width: 320px;
    border: 3px solid #f98919;
    border-radius: 23px;
    background: #f98919;
    padding: 4px 24px;
    text-align: center;
    font-size: 23px;
    color: #fff;
    -webkit-appearance: none;
    text-transform: capitalize;
}
.ropc .complete-button button:hover {
    background: #faa147;
}

.ropc .addon-buttons {
    margin-top: 20px;
    text-align: right;
}

.ropc .addon-buttons > * {
    margin: 0 0 5px 5px;
}


@media all and (max-width: 980px) {

.panel {
	display: block;
	max-width: 550px;
	margin: auto;
}
.cart {
	display: block;
}
.cart colgroup,
.cart thead {
	display: none;
}
.cart tbody {
	display: block;
	overflow: hidden;
}
.cart tr {
	display: block;
	float: left;
	width: 99%;
	margin: 25px auto 0;
	border: 1px solid #ddd;
	background-color: #fff;
	text-align: center;
}
.cart tr:first-child {
	margin-top: 0;
}
.cart td {
	display: block;
	border: none;
	padding: 10px;
	text-align: center;
}
.cart td.remove-from-cart {
    margin: 0 0 -1px;
	/*border-bottom: 1px dashed #ccc;*/
	background-color: #eee;
	padding: 10px;
}
.cart td.product-picture {
	/*border-top: 1px dashed #ccc;*/
	padding: 15px 10px 5px;
}
.cart td.product {
	min-width: 0;
	border-bottom: 1px dashed #ccc;
	padding: 5px 10px 15px;
	text-align: center;
}
.cart td.quantity {
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
}
.cart td.unit-price,
.cart td.subtotal {
	display: inline-block;
	padding: 20px 10px;
	vertical-align: middle;
}

.ropc .addon-buttons {
    text-align: center;
}

.ropc .addon-buttons > * {
    margin: 0 5px 5px;
}

}

@media all and (min-width: 769px) {

.ropc .section-title {
	margin: 0 0 5px;
	border: none;
	text-align: left;
	padding: 0;
}
.ropc .section-title strong {
	background-image: none;
	padding: 0;
}
.ropc .section-body {
	display: block !important;
	border-width: 1px;
}
.ropc .inputs label {
	text-align: left;
}
.ropc .shipping-method .method-list, 
.ropc .payment-method .method-list {
	text-align: left;
}
.ropc .shipping-options .inputs {
	float: none;
	width: 100% !important;
	margin: 15px 0;
}
.ropc .coupon-box-panel input[type="text"], 
.ropc .giftcard-box-panel input[type="text"] {
	width: 100%;
}
.ropc .order-totals-panel {
	box-sizing: border-box;
	margin-top: 0;
	border: 1px dashed #ccc;
	padding: 10px 15px;
}

}

@media all and (min-width: 981px) {

.ropc .panel-group-left {
	width: 33%;
} /*override common css for 981~1000 width*/
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom {
	float: right;
	width: 65%;
} /*override common css for 981~1000 width*/

.ropc .inputs label {
	display: block;
	text-align: left;
}
.ropc .td-title {
	display: none !important;
}
.ropc .cart .unit-price,
.ropc .cart .subtotal {
    white-space: normal;
}
.ropc .remove-product {
	cursor: pointer;
}
.ropc .cart .product {
	min-width: 0;
}
.ropc .order-totals-panel {
	text-align: right;
	float: right;
	width: 48%;
}
.ropc .payment-info .info tr {
	text-align: left;
}
.ropc .payment-info .info td:first-child {
	text-align: left !important;
	margin: 0 0 10px !important;
}
.ropc .terms-of-service {
	padding: 0 !important;
}
.ropc .order-confirm,
.ropc .terms-of-service,
.ropc .complete-button {
	clear: both;
	text-align: right !important;
}

}