﻿/*=====================================================
    
    TABLETS PORTRAIT & SMARTPHONES LANDSCAPE

=====================================================*/

@media all and (min-width: 481px) {
	
/* GLOBAL STYLES */

.master-wrapper-content {
    width: 95%;
}
.side-2:after {
	content: "";
	display: block;
	clear: both;
}

/* GLOBAL FORMS */
/* NOTIFICATIONS & POPUPS */

.eu-cookie-bar-notification {
    width: 450px;
    max-width: 95%;
    margin-right: -225px;
}

/* HEADER */

.store-search-box input.search-box-text {
	width: 350px !important;
}
.ui-autocomplete {
	width: 386px !important; /*txtfield + button*/
	margin-left: -193px;
}

/* HEADER MENU */
/* FOOTER */

.newsletter-email input[type="text"] {
	width: 300px;
}
.newsletter-email .newsletter-subscribe-button {
    width: 300px;
}

/* LEFT/RIGHT COLUMN */

.block {
	float: right;
	width: 48%;
	margin: 0 1% 2%;
	text-align: right;
}
.block:nth-of-type(2n+1) {
	clear: both;
}
.block .tags li,
.product-tags-all-page li {
	margin: 0 5px;
}
.poll-options li,
.poll-results li {
	display: block;
}
.poll .buttons,
.poll-total-votes {
	text-align: right;
}

/* CATEGORY PAGE & GRIDS */

.breadcrumb ul {
    border: none;
}
.breadcrumb li > * {
    margin: -2px -1px 0;
    border: 2px solid #eee;
    padding: 9px 15px;
    font-size: 10px;
}
.breadcrumb li strong {
    max-width: none;
    white-space: normal;
}
.product-selectors {
    width: auto;
    text-align: center;
}
.product-selectors > div > span:first-child {
    width: auto;
}
.product-selectors .new_select {
    text-align: right;
}
.item-box {
    float: right;
	width: 49%; /*two per row*/
    max-width: none;
	margin-right: 2%;
}
.item-box:nth-child(2n+1) {
	clear: both;
	margin-right: 0;
}
.item-box .prices {
    min-height: 23px;
}
.item-box input[type="button"] {
    width: 82%;
    padding: 0 15px;
}
.item-box input.add-to-wishlist-button {
    width: 18%;
}
.home-page-category-grid {
    width: 100%;
    margin: 0 0 90px;
}
.home-page-category-grid .item-box {
    margin-bottom: 2%;
}
.sub-category-grid {
    width: 100%;
    margin: 0 0 30px;
}

/* PRODUCT PAGE */

.gallery {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 30px;
}
.gallery .thumb-item {
    width: 25%;
}
.ui-tabs .ui-tabs-nav li {
	display: inline-block;
    margin: 0 -1px -2px;
}
.ui-tabs.productTabs .ui-tabs-nav {
	margin: 0;
	text-align: right;
}
.ui-tabs.productTabs .ui-tabs-nav li {
	width: 50%;
}

/* REVIEW PAGE */
/* WISHLIST & COMPARE LIST */
/* TOPICS */

.enter-password-form input[type="password"] {
	width: 300px !important;
}

/* CONTACT PAGE & EMAILaFRIEND */
/* REGISTRATION, LOGIN, MY ACCOUNT */

.registration-page .fieldset:nth-child(2) select,
.account-page .fieldset:nth-child(3) select {
	width: 110px;
}
.login-page .checkout-as-guest-or-register-block .button-1 {
    max-width: 50%;
    padding: 14px 20px;
}

/* SHOPPING CART & CHECKOUT */

.shopping-cart-page .button-2.update-cart-button {
    background-image: url('../img/update.png');
	background-position: right center;
	background-repeat: no-repeat;
}
.order-review-data,
.order-details-area,
.shipment-details-area {
	display: table;
	width: 100%;
	margin: 0 0 60px;
}
.order-review-data > div,
.order-details-area > ul,
.shipment-details-area > div {
	display: table-cell;
    width: 50%;
}
#CreditCardType, 
#CardholderName,
#CardNumber {
    width: 390px !important;
}

/* SEARCH PAGE & SITEMAP */
/* BLOG & NEWS */
/* FORUM & PROFILE */

.forum-search-box-text,
.forum-search-text {
	width: 350px;
}
.forum-page .forum-actions .actions a {
    width: auto;
}
.forum-actions .actions a:first-child,
.topic-actions .actions a:first-child {
    margin: 0 0 0 -1px;
}


}
