﻿/*=====================================================
    
    TABLETS LANDSCAPE & NETBOOKS

=====================================================*/

@media all and (min-width: 769px) {

/* GLOBAL STYLES */

.page {
	clear: both;
    min-height: 200px;
	text-align: right;
}

/* GLOBAL FORMS */

.fieldset .title, 
.section .title {
    text-align: center;
}

/* NOTIFICATIONS & POPUPS */
/* HEADER */
/* HEADER MENU */
/* FOOTER */

.footer-block {
	display: inline-block;
	width: 45%;
	margin: 0 1% 15px;
	vertical-align: top;
}

/* LEFT/RIGHT COLUMN */

.block {
	width: 31.3333%;
	margin: 0 1% 2%;
}
.block:nth-of-type(2n+1) {
	clear: none;
}
.block:nth-of-type(3n+1) {
	clear: both;
}

/* CATEGORY PAGE & GRIDS */

.breadcrumb {
	text-align: right;
}
.breadcrumb ul {
    padding: 0 10px;
    border: 2px solid #eee;
    border-bottom: none;
}
.breadcrumb ul:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #eee;
}
.product-filters .product-filter {
    display: inline-block;
    width: 33.333%;
    margin: 0 0 2%;
    padding: 1%;
    text-align: center;
    vertical-align: top;
}
.product-selectors {
    position: relative;
	z-index: 2;
	text-align: center;
}
.product-selectors > div {
    margin: 0;
}
.product-selectors .product-viewmode {
    display: block;
	position: absolute;
    right: 0;
}
.product-selectors .product-viewmode > span:first-child {
    padding-right: 0;
}
.product-selectors .product-sorting {
    padding: 8px 0;
}
.product-selectors .product-page-size {
    position: absolute;
    left: 0;
    padding: 8px 0;
} 
.product-selectors .product-page-size > span:last-child {
    padding-left: 0;
}

.item-box {
	width: 32%; /*three per row*/
}
.item-box:nth-child(2n+1) {
	clear: none; /*revert the second item*/
	margin-right: 2%; /*revert the second item*/
}
.item-box:nth-child(3n+1) {
	clear: both;
	margin-right: 0;
}
.item-box .buttons {
	text-align: right;
}
.item-box input[type="button"] {
    width: 80%;
    padding: 0 10px;
}
.item-box input.add-to-wishlist-button {
    width: 20%;
}

.product-list {
    margin-top: 45px;
}
.product-list .item-box {
    float: none;
    width: auto;
    margin-right: 0;
}
.product-list .item-box .product-item:after {
    content: "";
    display: block;
    clear: both;
}
.product-list .item-box .picture {
    float: right;
    width: 200px;
    margin: 0;
}
.product-list .item-box .picture + .details {
    margin-right: 220px;
}
.product-list .item-box .product-title,
.product-list .item-box .description {
    height: auto;
}
.product-list .item-box .buttons input[type='button'] {
    width: auto;
    min-width: 150px;
}
.product-list .item-box .buttons input.add-to-wishlist-button{
    width: 48px;
    min-width: 0;
}

.pager {
    border: 2px solid #eee;
    text-align: center;
}
.pager ul {
    display: inline-block;
}
.pager li {
    float: right;
    margin: -2px 0; 
}
.pager li * {  
}

/* PRODUCT PAGE */

.product-essential {
    text-align: center;
}
.overview .qty-label,
.variant-overview .qty-label {
	position: static;
	left: 0;
	margin: 0 0 0 5px;
}

.ui-tabs.productTabs .ui-tabs-nav {
	text-align: center;
}
.ui-tabs.productTabs .ui-tabs-nav li {
	width: auto;
}
.ui-tabs.productTabs .ui-tabs-panel {
	padding: 20px 50px;
	text-align: center;
}

.tier-prices .prices-table {
	display: table;
	width: 100%;
	border: none;
	border-collapse: collapse;
}
.tier-prices .prices-row {
	display: table-row;
	float: none;
	width: auto;
}
.tier-prices .prices-row > div {
	display: table-cell;
	border: 2px solid #eee !important;
}
.tier-prices .field-header {
	min-width: 100px;
}

.rental-attributes dt {
	min-width: 75px;
}
.rental-attributes .datepicker {
	width: 120px;
}
.attribute-squares {
	text-align: center;
}
.giftcard label {
	display: inline-block;
	width: 150px;
	margin: 0 -156px 0 10px;
	text-align: left;
}

/* REVIEW PAGE */

.ui-tabs .product-review-list {
	text-align: right;
}
.ui-tabs .product-review-item:last-child {
	margin-bottom: 20px;
}
.product-review-item .review-title {
    float: right;
    width: 80%;
    margin: 0;
	color: #444;
}
.product-review-item .product-review-box {
    float: left;
}

/* WISHLIST & COMPARE LIST */

.wishlist-content .button-2 {
    display: inline-block;
    min-width: 200px;
	margin: 0 5px;
}


/* TOPICS */
/* CONTACT PAGE & EMAILaFRIEND */
/* REGISTRATION, LOGIN, MY ACCOUNT */

.date-of-birth select {
    max-width: 105px;
}
.address-list .buttons {
	position: absolute;
	top: 5px;
	left: 1px;
}
.recurring-payments .table-wrapper {
	max-width: 768px;
	margin: auto;
}
.recurring-payments .start-date {
	min-width: 120px;
}
.avatar-page {
    text-align: center;
}
.avatar-page .fieldset {
	/*float: left;
	margin-right: 10px;*/
    text-align: center;
}
.avatar-page .buttons {
	/*text-align: left;*/
}

/* SHOPPING CART & CHECKOUT */


.shopping-cart-page .common-buttons .button-2 {
    width: 49%;
    max-width: 390px;
}
.shopping-cart-page .common-buttons .button-2 + .button-2 {
    float: left;
}
.order-progress a {
    width: auto;
    padding: 15px 15px 15px 65px;
}
.cart-options .common-buttons input {
	margin: 0 10px 0 0;
}
.cart-options .checkout-attributes li {
	display: inline-block;
	margin: 0 5px;
}
.shopping-cart-page .totals,
.cart-collaterals {
	margin: 0 auto 25px;
    text-align: center;
}
.checkout-page .address-grid {
    max-width: 810px;
}
.checkout-page .address-item {
	float: right;
    max-width: 48%;
    margin: 0 1% 2%;
}
.checkout-page .address-item:only-child {
    max-width: none;
}
/*.address-item:nth-child(2n) {
    margin: 0 0 20px 2%;
}*/
.payment-details {
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
}
.payment-details > * {
    cursor: pointer;
}
.order-details-page .page-title a {
    width: auto;
    min-width: 170px;
	margin: 3px;
    text-align: center;
}
.order-details-page .actions input {
	min-width: 0;
}
.order-details-page .total-info {
	overflow: hidden;
}
.order-details-page .cart-total {
	float: left;
}

/* SEARCH & SITEMAP */

.sitemap-page {
    text-align: center;
}

/* BLOG & NEWS */

.post-head ~ *,
.news-head ~ * {
	display: block;
}
.blog-page .tags > *,
.blogpost-page .tags > * {
	float: right;
}
.blog-page .tags label,
.blogpost-page .tags label {
	margin: 0 0 0 10px;
	line-height: 24px;
}

.comment-list {
    text-align: center;
}
.news-list-homepage .news-items {
	margin: 0 160px 30px 0;
	border-right: 2px solid #ddd;
	padding: 5px 40px 5px 0;
}
.news-list-homepage .news-items .news-item {
    margin: 30px 0 0;
}
.news-list-homepage .news-items .news-item:first-child {
    margin: 0;
}
.news-list-homepage .news-items .news-item:before {
    content: "";
    position: absolute;
    top: 12px;
    right: -52px;
    width: 23px;
    height: 23px;
    background: url('../img/home-page-bullet.png') no-repeat center;
}
.news-list-homepage .news-head {
    margin: 0 0 5px;
}
.news-list-homepage .news-title {
    margin: 0;
}
.news-list-homepage .news-date {
    position: absolute;
    top: 0;
    right: -202px;
    width: 120px;
    text-align: left;
    line-height: 20px;
    color: #cc8a97;
}
.news-list-homepage .buttons {
    display: none;
}
.news-list-homepage .view-all {
    margin: 40px 0 0;
}

.blog-comment, 
.news-comment {
    position: relative;
    margin: 0 0 -2px;
    overflow: hidden;
    border: 2px solid #eee;
}
.comment-info {
	float: right;
    min-height: 220px;
	margin: 0;
    border: none;
}
.comment-info + .comment-content {
    min-height: 220px;
    margin: 0 172px 0 0;
    padding: 20px;
    text-align: right;
}
.comment-info:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 170px;
    height: 100%;
    width: 2px;
    background-color: #eee;
}

/* FORUM & PROFILE */


.forum-breadcrumb {
    margin: 0 0 30px !important;
}
.forums-main-page,
.forum-group-page,
.forum-page,
.forum-topic-page,
.active-discussions-page,
.profile-page,
.private-messages {
    text-align: center;
}
.current-time {
    font-weight: bold;
}
.forums-table-section-title {
    text-align: right;
}
.forums-table-section-title > a::after,
.forums-table-section-title strong:after {
    margin: 10px 0 0;
}
.forums-table-section-title .link-rss {
	float: left;
	margin: 0;
}
.forums-table-section .view-all {
    position: absolute;
    top: 5px;
    left: 0;
    margin: 0;
	text-align: center;
}

.forum-actions,
.topic-actions {
    display: block;
	overflow: hidden;
}
.forum-actions .actions,
.topic-actions .actions {
	/*float: left;*/
    margin: 0 0 30px;
}
.forum-actions .pager,
.topic-actions .pager {
	/*float: right;*/
    float: none !important;
	/*max-width: 450px;*/
}
.topic-actions.lower .actions {
	display: block;
}

.topic-posts {
    margin: 0 0 30px;
    box-shadow: 0 1px 12px 2px rgba(0, 0, 0, 0.17);
}
.topic-post {
	overflow: hidden;
    margin: 0;
    border-bottom: 2px solid #eee;
}
.topic-post:last-child {
    border-bottom: none;
}
.topic-post .post-info {
	float: right;
	width: 20%;
	margin: 0;
}
.topic-post .user-info {
	width: auto;
}
.topic-post .username {
}
.topic-post .avatar {
}
.topic-post .avatar img {
}
.topic-post .user-stats li {
	display: block;
	margin: 0;
}
.topic-post .post-content {
	float: left;
    position: relative;
	width: 80%;
}
.topic-post .post-content .post-body {
    padding: 0 20px 20px 0;
    text-align: right;
    overflow: hidden;
}
.topic-post .post-content:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 1000px;
    background-color: #eee;
}
.topic-post .post-body .post-text {
    float: right;
    max-width: 88%;
}
.topic-post .post-vote {
    float: left;
    margin: 0 0 0 20px;
}
.topic-post .post-head {
	overflow: hidden;
}
.topic-post .post-time {
	float: right;
	margin: 0;
    padding: 15px;
	background: none;
}
.topic-post .post-actions {
	float: left;
	margin: -2px 0 0 -2px;
}
.topic-post .post-actions a {
	margin: 0;
	line-height: 20px;
}
.topic-post .post-actions .post-link-button {
    margin: 0 0 0 10px;
    border: none;
}
.topic-post .post-actions .edit-post-button,
.topic-post .post-actions .delete-post-button {
    margin: 0 0 10px;
    border: none;
}
.topic-post .post-actions .edit-post-button {
	background: url('../img/forum_icon1.png') no-repeat right center;
}
.topic-post .post-actions .delete-post-button {
	background: url('../img/forum_icon2.png') no-repeat right center;
}
.topic-post .post-actions .edit-post-button, 
.topic-post .post-actions .delete-post-button {
    padding: 15px 35px 15px 15px;
}
.topic-post .post-actions .post-link-button {
    padding: 15px 10px 15px 15px;
}


.pager.lower {
	margin: 70px 0 0;
}
.forum-topic-page .topic-options {
	float: right;
}
.move-topic-page .inputs {
    text-align: center;
}
.move-topic-page .inputs label {
    display: block;
    margin: 0 auto 15px;
    text-align: center;
}
.forum-edit-page .buttons input, 
.move-topic-page .buttons input, 
.private-messages .buttons input {
    display: inline-block;
    min-width: 200px;
    margin: 0 5px;
}
.private-messages-page .pager {
    border: none;
}
.private-message-view-page .back-pm-button {
	float: right;
}

.profile-info-box .avatar {
	float: right;
	margin: 0 0 0 15px;
}
.profile-info-box .profile-stats {
    margin: 0 180px 20px 0;
    text-align: right;
}
.profile-info-box .profile-stats:before {
    content: "";
    position: absolute;
    top: 0;
    right: 175px;
    width: 2px;
    height: 1000px;
    background-color: #eee;
}
.profile-info-box .send-pm {
    float: right;
	margin: 0 15px 0 0;
}
.profile-page .pager {
    margin-top: 35px;
    border: none;
}

}