﻿/*=====================================================
    
    DESKTOP

=====================================================*/

@media all and (min-width: 1001px) {

/* GLOBAL STYLES */

.master-wrapper-content {
	width: 980px;
	margin: auto;
}
.master-wrapper-home .master-wrapper-content {
	margin-top: 60px;
}
.center-2 {
	float: right;
	width: 74%;
	margin: 0 0 120px;
}
.side-2 {
	float: left;
	width: 23%;
	margin: 0 0 120px;
}
.inputs {
	text-align: left;
}
.inputs label {
	display: inline-block;
	width: 305px;
	margin: 0 10px 0 0;
	text-align: right;
}
.center-2 .inputs label {
	width: 150px;
}
.responsive-nav-wrapper-parent {
	display: none;
}
.menu-title, .close-menu,
.header-menu .back-button {
	display: none;
}
.overlayOffCanvas {
	display: none !important;
}
.category-page .page-title,
.account-page .page-title {
	position: absolute;
	top: 30px;
	right: 0;
	left: 0;
}
.link-rss {
	display: none;
	position: absolute;
	top: 40px;
	right: 0;
	left: 0;
	margin: 0 auto;
}

/* GLOBAL FORMS */

.inputs .option-list {
	vertical-align: top;
}

.inputs .option-list li {
	float: none;
	margin: 10px 0;
}

.inputs .option-list li:first-child {
	margin-top: 0;
}

/* NOTIFICATIONS & POPUPS */
/* HEADER */

.header {
	position: relative;
	z-index: 1020;
	text-align: left;
	width: auto;
}
.header-upper {
	background-color: #cc8a97;
	padding: 5px 0;
}
.header-upper:after,
.header-lower:after {
	content: "";
	display: block;
	clear: both;
}
.header-options-wrapper {
	width: 980px;
	margin: auto;
}
.header-options-wrapper:after {
	content: "";
	display: block;
	clear: both;
}
.header-options {
	float: left;
	max-width: 700px;
}

.header-links-wrapper {
	float: left;
	margin: 0 10px 0 0;
}
.header-links li {
	margin: 0 20px 0 0;
}
.header-links span,
.header-links a {
	line-height: 30px;
	font-size: 11px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.6);
}
.header-links span:hover,
.header-links a:hover {
	color: rgba(255,255,255,1);
}

.header-selectors-wrapper {
	float: left;
}
.header-selectors-wrapper > div {
	float: left;
	margin: 0 0 0 10px;
	font-size: 11px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.6);
}
.header-selectors-wrapper > div:first-child {
	margin: 0;
}
.header-selectors-wrapper select {
	height: 30px;
	min-width: 45px;
	max-width: 55px;
	border: none;
	background-color: transparent;
	padding: 6px 6px 6px 0;
	font-size: 11px;
	color: rgba(255,255,255,0.6);
	text-transform: uppercase;
}
.tax-display-type-selector select {
	max-width: none !important;
}
.header-selectors-wrapper select:focus {
	color: rgba(255,255,255,1);
}
.new_select {
	background-image: url('../img/selector-button1.png');
}
.language-list a {
	height: 30px;
}

.store-search-box {
	position: relative;
	float: right;
}
.store-search-box form {
	border-color: rgba(255,255,255,0.2);
}
.store-search-box input.search-box-text {
	width: 240px !important;
	height: 29px;
	font-size: 12px;
	color: rgba(255,255,255,0.6);
}
.header-1 .store-search-box input.search-box-text::-webkit-input-placeholder {
	color: rgba(255,255,255,0.6);
}
.header-2 .store-search-box input.search-box-text::-webkit-input-placeholder {
	color: #888;
}
.store-search-box input.search-box-text:focus {
	color: #fff;
}
.store-search-box .search-box-button {
	width: 30px;
	height: 29px;
	background: rgba(0, 0, 0, 0) url("../img/search-button.png") no-repeat center;
}
.ui-autocomplete {
	z-index: 1015; /*should be lower than header but equal or higher than header-menu*/
	width: 270px !important;
	text-align: left;
}

.header-lower {
	display: table;
	table-layout: fixed; /*Chrome and IE fix*/
	width: 980px;
	margin: auto;
	padding: 20px 0;
}
.header-actions-wrapper {
	display: table-row;
}

.header-logo {
	display: table-cell;
	width: 27%;
	padding: 0 20px 0 0;
	vertical-align: middle;
	text-align: left;
}

#headerMenuParent {
	display: table-cell;
	width: 70%;
	vertical-align: middle;
}
.header-menu {
	display: table-row;
	position: relative;
	z-index: 1010;
	margin: 0 0 30px;
	text-align: left;
}
.header-menu > ul {
	display: table-cell;
	font-size: 0;
}
.header-menu > ul > li {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.header-menu > ul > li > a,
.header-menu > ul > li > span {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 5px 15px;
	font-size: 14px; /*reset zeroing*/
	text-transform: uppercase;
	font-weight: bold;
	color: #444;
	cursor: pointer;
}
.header-menu > ul > li > a:after,
.header-menu > ul > li > span:after {
	content: "";
	display: none;
	position: absolute;
	bottom: 0;
	left: 15px;
	width: 100%;
	height: 2px;
	background-color: #cc8a97;
}
.header-menu > ul > li:hover {
	z-index: 100;
}
.header-menu > ul > li:hover > a:after,
.header-menu > ul > li:hover > span:after {
	display: block;
}
.header-menu .sublist-wrap {
	display: none;
	position: absolute;
	top: 30px;
	left: 15px;
	min-width: 180px;
	background: #fff;
	padding: 2px 0 7px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
}
.header-menu .sublist-wrap.active {
	display: block;
}
.top-menu {
	display: block;
}
.header-menu .sublist li {
	position: relative;
	padding: 0 10px;
}
.header-menu .sublist .back-button {
	display: none;
}
.header-menu .sublist li a {
	display: block;
	border-bottom: 2px solid #eee;
	padding: 12px 10px 5px;
	font-size: 14px;
	color: #888;
    text-align:left;
}
.header-menu .sublist li:last-child a {
	border-bottom: none;
}
.header-menu .sublist li:hover > a {
	color: #cc8a97;
}
.header-menu .sublist-wrap .sublist-wrap {
	top: -2px;
	left: 100%;
}

.header-actions {
	display: table-cell;
	width: 15%;
	text-align: right;
	vertical-align: middle;
	font-size: 0;
}
.header-actions > a {
	display: inline-block;
	width: 48px;
	height: 48px;
	margin: 2px 0 2px 2px;
	vertical-align: middle;
}
.header-actions a.ico-wishlist {
	background: #444 url('../img/wishlist-button.png') no-repeat center;
}

.header-actions a.ico-cart {
	background: #cc8a97 url('../img/cart-button.png') no-repeat center;
}
.flyout-cart {
	display: block;
	position: fixed !important;
	top: 0;
	bottom: 0;
	right: -330px;
	z-index: 1030;
	width: 320px;
	border: none;
	/*box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);*/
	box-shadow: -8px 0px 8px rgba(0, 0, 0, 0.086);
	background: #fff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.admin-header-links ~ .header-1 .flyout-cart,
.admin-header-links ~ .header .flyout-cart-overlay {
	top: 35px;
}
/*.flyout-cart-overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1019;
}
.flyout-cart-overlay.move-left {
	display: block;
}*/
.flyout-cart.active {
	right: 0;
}
.mini-shopping-cart {
}
.mini-shopping-cart a {
}

.mini-shopping-cart a:hover {
	text-decoration: underline;
}
.mini-shopping-cart .count {
	position: relative;
	min-height: 40px;
	padding: 11px 40px 11px 20px;
	background-color: #cc8a97;
	text-align: left;
	font-size: 13px;
	color: #fff;
}
.mini-shopping-cart .count a {
	width: auto;
	height: auto;
	font-weight: bold;
}
.mini-shopping-cart .count .close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background: url('../img/flyout-cart-close-button.png') no-repeat center;
	cursor: pointer;
}
.mini-shopping-cart .item {
	overflow: hidden;
	padding: 20px 33px 0 10px;
}
.mini-shopping-cart .item.first {
}
.mini-shopping-cart .picture {
	float: left;
	width: 120px;
	text-align: center;
}
.mini-shopping-cart .picture a {
	display: block;
	position: relative;
	overflow: hidden;
}
.mini-shopping-cart .picture a:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.mini-shopping-cart .picture img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 100%;
}
.mini-shopping-cart .picture + .product {
	margin: 0 0 0 135px;
	text-align: left;
	font-size: 13px;
	color: #888;
}
.mini-shopping-cart .name {
	margin: 5px 0;
	font-size: 14px;
	font-weight: bold;
	color: #666;
}
.mini-shopping-cart .attributes {
	margin: 15px 0 10px;
	padding: 15px 0 0;
}
.mini-shopping-cart .price {
	margin: 0 0 4px;
}
.mini-shopping-cart .price span {
	font-size: 16px;
	font-weight: bold;
	color: #cc8a97;
}
.mini-shopping-cart .quantity span {
}
.mini-shopping-cart .totals {
	padding: 23px 10px;
	text-align: left;
	font-size: 16px;
	color: #666;
}
.mini-shopping-cart .totals strong {
	color: #cc8a97;
}
.mini-shopping-cart .buttons {
	padding: 0 10px;
	text-align: left;
}
.mini-shopping-cart input[type="button"] {
	display: inline-block;
	margin: 0 1px 2px 0;
	border: none;
	background-color: #cc8a97;
	padding: 13px 30px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.mini-shopping-cart input[type="button"]:hover {
	opacity: 0.9;
}

/* HEADER-2 */

.header-2 .header-upper {
	background-color: #fff;
	padding: 0px 0;
}
.admin-header-links ~ .header-2 .header-upper {
	border-top: 2px solid #eee;
}
.header-2 .header-options-wrapper {
	display: table;
}
.header-2 .header-logo {
	width: 36%;
}
.header-2 .store-search-box {
	display: table-cell;
	float: none;
	vertical-align: middle;
}
.header-2 .store-search-box form {
	border-bottom: 2px solid #eee;
}
.header-2 .store-search-box input.search-box-text {
	height: 33px;
	color: #888;
}
.header-2 .store-search-box input.search-box-text:focus {
	color: #444;
}
.header-2 .store-search-box .search-box-button {
	background-image: url("../img/search-button-mobile.png");
}
.header-2 .header-options {
	display: table-cell;
	width: 36%;
	float: none;
	vertical-align: middle;
	text-align: right;
}
.header-2 .header-options > div {
	display: inline-block;
	float: none;
	vertical-align: middle;
	text-align: left;
}
.header-2 .header-links-wrapper {
	margin: 0;
}
.header-2 .header-links ul {
	text-align: right;
}
.header-2 .header-links li {
	margin: 0 0 0 10px;
}
.header-2 .header-links a span:hover,
.header-2 .header-links a:hover {
	color: #cc8a97;
}
.header-2 .header-links span,
.header-2 .header-links a,
.header-2 .header-selectors-wrapper select {
	color: #888;
}
.header-2 .header-selectors-wrapper {
	margin: 0 0 0 10px;
}
.header-2 .header-selectors-wrapper > div {
	border-bottom: 2px solid #eee;
	padding: 0 5px;
}
.header-2 .new_select {
	background-image: url('../img/selector-button2.png');
	color: #888;
}
/*testing*/
.header-2 .header-selectors-wrapper .language-selector {
	border: none;
}
.header-2 .header-selectors-wrapper .language-selector {
	border-bottom: 2px solid #eee;
    width:100px;
}
.header-2 .header-lower {
	display: block;
	width: auto;
	background-color: #cc8a97;
	padding: 5px 0;
}
.header-2 .header-actions-wrapper {
	display: table;
	width: 980px;
	margin: auto;
}
.header-2 .header-lower .header-logo,
.header-2 .header-lower .search-box {
	display: none;
}
.header-2 #headerMenuParent {
	width: 89%;
	text-align: center;
}
.header-2 .header-menu > ul > li > a,
.header-2 .header-menu > ul > li > span {
	color: #fff;
}
.header-2 .header-menu > ul > li > a:after,
.header-2 .header-menu > ul > li > span:after {
	background-color: #fff;
}
.header-2 .header-menu > ul > li > .sublist-wrap,
.header-2 .header-menu > ul > li > .dropdown {
	margin-top: -2px;
}
.header-2 .header-actions a {
	margin: 0;
}
.header-2 .header-actions a.ico-cart {
	background-color: #d6a1ac;
}

/* FOOTER */

.footer-upper,
.footer-middle,
.footer-lower {
	padding-left: 0;
	padding-right: 0;
}
.footer-upper,
.footer-middle,
.footer-lower-center {
	width: 1000px;
	margin: auto;
}

.footer-upper {
	padding: 0 20px 50px;
}

.social-sharing {
	height: 65px;
	max-width: 600px;
	margin: auto;
	background: url('../img/social-icons-holder-shadow.png') no-repeat center top;
}
.social-sharing li {
	margin: 0 4px;
	vertical-align: top;
	box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.4);
}
.social-sharing li:hover {
	height: 65px;
}

.footer-block {
	float: left;
	width: 26%;
	margin: 0 0 15px;
	border: none;
	padding: 0 20px;
	text-align: left;
}
.footer-block.footer-links {
	width: 24%;
}
.footer-block .title {
	margin: 0 0 15px;
	padding: 0;
	font-size: 18px;
	letter-spacing: 3.3px;
	cursor: auto;
}
.footer-block .title + * {
	display: block;
	margin: 0;
}
.footer-block .title strong {
	padding: 0;
}
.footer-block .title strong:before,
.footer-block .title strong:after {
	display: none;
}
.footer-block .title + *:before {
	margin: 0;
}
.footer-block.footer-topic .title+*:before {
	margin-bottom: 20px;
}
.footer-block .topic-block-body {
	padding: 18px 0 0;
}
.footer-block .list li {
	padding: 10px 0;
}
.footer-block .list li:first-child {
	padding: 20px 0 10px;
}

.newsletter-description {
	padding: 20px 0 0;
}
.newsletter-email input[type="text"] {
	width: 220px;
}
.newsletter-email .newsletter-subscribe-button {
	width: 220px;
}
/*.footer-1 .footer-block.newsletter-block > .title,
.footer-1 .footer-block.newsletter-block > .title + *::before {
	display: none;
}*/

/* FOOTER-2 */

.footer-2 .footer-middle {
	padding: 60px 0;
}
.footer-2 .footer-block {
	margin: 0;
}
.footer-2 .newsletter-block {
	border-left: 2px solid #ddd;
	text-align: center;
}
.footer-2 .newsletter-block .title {
	height: 39px;
	width: 33px;
	margin: 10px auto;
	background: url('../img/about-us-icon.png') no-repeat center;
	background: #cc8a97 url('../img/footer-icon.png') no-repeat center;
}
.footer-2 .newsletter-block > .title {
	width: auto;
	margin: 0;
}
.footer-2 .newsletter-block .title strong {
	text-align: left;
}
.footer-2 .newsletter-block .newsletter:before {
	display: none !important;
}
/*.footer-2 .newsletter-block .title strong,
.footer-2 .newsletter-block .newsletter:before {
	display: none !important;
}*/
.footer-2 .newsletter-email .options {
	text-align: left;
}
.footer-2 .social-sharing {
	background: none;
	text-align: left;
}
.footer-2 .social-sharing li {
	margin: 0;
	box-shadow: none;
}
.footer-2 .social-sharing li:hover {
	height: 54px;
}

/* LEFT/RIGHT COLUMN */

.block {
	float: none;
	width: auto;
	margin: 0 0 40px;
}
.block .listbox {
	display: block;
}
.block .title {
	background: none;
	cursor: default;
}
.block-recently-viewed-products .list li > a {
	display: inline-block;
	padding-left: 10px;
}
.block .product-picture {
	display: inline-block;
	width: 25%;
	vertical-align: middle;
}
.block .product-picture img {
	display: block;
	max-width: 100%;
}
.block .product-name {
	display: inline-block;
	width: 72%;
	vertical-align: middle;
}

/* CATEGORY PAGE & GRIDS */


.category-page-body .master-wrapper-content {
	padding: 100px 0 0;
}
.breadcrumb {
	margin: 0 0 20px;
}
.breadcrumb li * {
	line-height: normal;
    font-weight: bolder;
}
.category-description,
.manufacturer-description,
.vendor-description {
	text-align: left;
}
.contact-vendor {
	text-align: left;
}

.home-page-category-grid .item-box {
	width: 32%;
	margin: 0 0 1% 1%;
}
.home-page-category-grid .item-box:nth-child(3n+1) {
	margin-left: 0;
}
.home-page-category-grid .title a:hover:after {
	content: "";
	position: absolute;
	top: 16px;
	right: 16px;
	bottom: 16px;
	left: 16px;
	border: 3px solid rgba(255,255,255,0.4);
}
.home-page-category-grid .hover-effect-2 .title a:hover:after {
	display: none;
}
.home-page-category-grid .item-box:hover .hover-effect-2 .title a span {
	bottom: 50%;
	margin-bottom: -30px;
}
.sub-category-grid .item-box:hover,
.manufacturer-grid .item-box:hover {
	opacity: 0.9;
}
.product-grid .item-box,
.manufacturer-grid .item-box,
.vendor-grid .item-box {
	width: 33.33333%;
	margin: 0 0 25px;
	padding: 15px;
}
.manufacturer-grid .item-box {
	margin: 0 0 40px !important;
}
.manufacturer-grid .item-box .title,
.vendor-grid .item-box .title {
	font-weight: normal;
}
.items-per-row-four .product-grid .item-box,
.items-per-row-four .manufacturer-grid .item-box,
.items-per-row-four .vendor-grid .item-box {
	width: 25%;
	margin: 0 0 35px;
	padding: 10px;
}
.items-per-row-four .product-grid .item-box:nth-child(3n+1),
.items-per-row-four .manufacturer-grid .item-box:nth-child(3n+1),
.items-per-row-four .vendor-grid .item-box:nth-child(3n+1) {
	clear: none; /*revert the third item*/
}
.items-per-row-four .product-grid .item-box:nth-child(4n+1),
.items-per-row-four .manufacturer-grid .item-box:nth-child(4n+1),
.items-per-row-four .vendor-grid .item-box:nth-child(4n+1) {
	clear: both;
}

.product-grid .item-box input[type="button"] {
	width: 76%;
}
.product-grid .item-box input.add-to-wishlist-button {
	width: 24%;
}
.product-grid .item-box:hover,
.manufacturer-grid .item-box:hover,
.vendor-grid .item-box:hover {
	box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.12);
}
.home-page .product-grid .item-box {
	width: 25%;
}
.home-page .product-grid .item-box:nth-child(3n+1) {
	clear: none;
}
.home-page .product-grid .item-box:nth-child(4n+1) {
	clear: both;
}
.items-per-row-four .product-grid .item-box input[type="button"] {
	width: 73%;
}
.items-per-row-four .product-grid .item-box input.add-to-wishlist-button {
	width: 27%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.items-per-row-four .product-grid .item-box .quick-view-button ~ input.add-to-wishlist-button {
	right: 23.4%;
	left: auto;
}
.items-per-row-four .product-grid .item-box .picture {
	position: relative;
}
.items-per-row-four .home-page .product-grid .item-box {
	width: 20%;
}
.items-per-row-four .home-page .product-grid .item-box:nth-child(4n+1) {
	clear: none;
}
.items-per-row-four .home-page .product-grid .item-box:nth-child(5n+1) {
	clear: both;
}
.product-grid.also-purchased-products-grid .item-box,
.product-grid.related-products-grid .item-box,
.product-grid.cross-sells .item-box {
	width: 25%;
}
.product-grid.also-purchased-products-grid .item-box:nth-child(3n+1),
.product-grid.related-products-grid .item-box:nth-child(3n+1),
.product-grid.cross-sells .item-box:nth-child(3n+1) {
	clear: none;
}
.product-grid.also-purchased-products-grid .item-box:nth-child(4n+1),
.product-grid.related-products-grid .item-box:nth-child(4n+1),
.product-grid.cross-sells .item-box:nth-child(4n+1) {
	clear: both;
}

/* PRODUCT PAGE */

.gallery {
	display: inline-block;
	width: auto;
	max-width: none;
	padding: 15px 0 0;
	vertical-align: top;
}
.gallery:after {
	content: "";
	display: block;
	overflow: hidden;
}
.gallery .picture {
	float: left;
	width: 600px;
	margin: 0;
}
.gallery .picture-thumbs {
	float: left;
	width: 150px;
	margin: 0 0 0 3px;
}
.gallery .thumb-item {
	width: 100%;
	height: 150px;
	margin: 0;
}

.product-variant-list {
	text-align: left;
}
.variant-picture {
	float: left;
}
.variant-picture + .variant-overview {
	width: auto;
	margin: 0 0 0 250px;
}

.ui-tabs.productTabs .ui-tabs-panel {
	padding: 30px 80px;
}
.ui-tabs .ui-tabs-panel .inputs label {
	width: 223px;
}

.two-columns .gallery {
	float: left;
}
.two-columns .gallery .picture {
	width: 452px;
}
.two-columns .picture-thumbs {
	width: 113px;
}
.two-columns .gallery .thumb-item {
	height: 113px;
}
.two-columns .gallery .picture-thumbs li {
	height: 113px;
}

.two-columns .overview {
	float: right;
	width: 380px;
	padding: 15px 0 0;
	text-align: left;
}
.two-columns .overview .discontinued-product {
	position: absolute;
	left: 0;
	width: 452px;
	border-width: 0;
	background: rgba(255,255,255,0.85);
	z-index: 1000;
}
.two-columns .overview .product-reviews-overview {
	text-align: left;
}

.two-columns .customer-entered-price {
	padding: 10px 10px 10px 0;
}
.two-columns .attribute-squares {
	text-align: left;
}
.two-columns .giftcard label {
	display: block;
	width: auto;
	margin: 0 0 5px;
	text-align: left;
}

/* REVIEW PAGE */
/* WISHLIST & COMPARE LIST */

.compare-products-page {
	overflow: hidden;
}
.compare-products-page .clear-list {
	position: absolute;
	top: 15px;
	right: 1%;
	width: auto;
}
.compare-products-table {
	display: table;
	width: 98%;
	margin: 12px auto;
}
.compare-products-table .full-description {
	display: none;
}
.compare-products-table-mobile {
	display: none;
}
.compare-products-page .button-2 {
	padding: 10px 30px;
}

/* TOPICS */
/* CONTACT PAGE & EMAILaFRIEND */
/* REGISTRATION, LOGIN, MY ACCOUNT */


.registration-page .inputs,
.login-page .inputs,
.account-page .inputs {
	margin: 0 0 15px;
}
.registration-page .inputs label {
	width: 238px;
	margin-right: 20px;
}
.registration-page .inputs input[type="text"],
.registration-page .inputs input[type="password"],
.registration-page .inputs select,
.registration-page .inputs textarea,
.login-page .inputs input[type="text"],
.login-page .inputs input[type="password"],
.account-page .inputs input[type="text"],
.account-page .inputs input[type="password"],
.account-page .inputs select,
.account-page .inputs textarea {
	border-width: 0 0 2px;
}

.gender {
	width: 350px;
}
.gender span {
	display: inline-block;
	margin: 0;
	width: 48.5%;
	border-bottom: 2px solid #eee;
}
.gender span:first-child {
	margin: 0 3% 0 0;
}
#check-availability-button {
	display: block;
	margin: 30px auto 0;
}

.login-page .new-wrapper {
	float: right;
	width: 49%;
}
.login-page .text {
	min-height: 186px;
}
.login-page .returning-wrapper {
	float: left;
	width: 49%;
}
.login-page .inputs label {
	width: 100px;
}
.login-page .inputs input[type="text"],
.login-page .inputs input[type="password"] {
	width: 300px;
}
.login-page .inputs.reversed > * {
	width: auto;
	margin: 0 5px;
	vertical-align: middle;
}
.account-page .page-title {
	padding-bottom: 12px;
	border-bottom: 2px solid #eee;
}

.account-page,
.block-account-navigation {
	margin-top: 100px;
}
.account-page .title {
	text-align: left;
}
.account-page .title strong:after {
	margin: 10px 0 0;
}
.account-page .master-wrapper-content {
	padding: 150px 0 0;
}
.account-page .inputs label {
	margin-right: 20px;
}
.account-page .date-of-birth select {
	max-width: 108px;
}
.account-page .revalidation-wrapper {
	display: inline-block;
	width: 350px;
	max-width: 100%;
	padding: 8px;
	vertical-align: middle;
}
.account-page .email-to-revalidate,
.account-page .email-to-revalidate-note {
	margin: 5px 0;
}
.address-list-page .info,
.order-list-page .info,
.return-request-list-page .details {
	max-width: none;
}
.order-list-page .table-wrapper {
	max-width: none;
}
.order-list-page .buttons {
	text-align: left;
}
.return-request-page label {
	width: 305px;
}
.avatar-page {
	text-align: left;
}
.avatar-page .message-error {
	text-align: left;
}
.avatar-page .fieldset {
	float: left;
	margin-right: 20px;
}
.avatar-page .buttons {
	text-align: left;
}

/*vendor info page*/
.vendorinfo-page .vendor-picture {
    padding: 20px 0 20px 170px;
}
.vendorinfo-page .vendor-picture .remove-picture-button {
    margin: 20px 0 0;
}


/* SHOPPING CART & CHECKOUT */

.shopping-cart-page .totals {
    float: right;
	width: 33%;
    max-width: 390px;
	margin: 40px 0 0;
}
.cart-collaterals {
    float: left;
	width: 66.66%;
	margin: 0;
}
.cart-collaterals .deals > div, 
.cart-collaterals .estimate-shipping {
    margin-top: 40px;
}
.cart-collaterals .deals > div + div {
    margin: 60px 0 30px;
}
.cart-collaterals > div {
    width: 390px;
    max-width: 50%;
    padding: 0 10px 0 0;
}
.cart-collaterals .deals {
	float: left;
	margin: 0;
}
.cart-collaterals .hint {
    margin: 0 auto;
}
.cart-collaterals .deals > div:first-child {
    margin-bottom: 20px;
}
.cart-collaterals .shipping {
	float: right;
	margin: 0;
}
.cart-collaterals .shipping .inputs {
    text-align: center;
}
.cart-collaterals .shipping .buttons {
	text-align: right;
}
.cart-collaterals .estimate-shipping label {
    display: block;
    text-align: left;
}
.cart-collaterals input[type="text"],
.cart-collaterals select {
    border-width: 0 0 2px;
}
.terms-of-service {
    text-align: left;
}
.terms-of-service > span {
    display: inline-block;
    width: 90%;
    margin-left: 10px;
    vertical-align: top;
}


.checkout-page .edit-address {
    margin: 0;
}
.checkout-page .edit-address input,
.checkout-page .edit-address select {
    border-width: 0 0 2px 0;
}
.new-billing-address .inputs label {
    display: inline-block;
    width: 238px;
    margin-right: 20px; 
    text-align: right;
}
.checkout-page .address-grid {
    display: block;
    max-width: none;
}
.checkout-page .address-item {
    max-width: 32%;
}
.checkout-page .address-item,
.checkout-page .address-item:nth-child(2n) {
    margin: 0 0 2% 2%;
}
.checkout-page .address-item:first-child {
    margin: 0 0 2%;
}
.checkout-page .address-item:nth-child(3n+1) {
    clear: both;
    margin: 0 0 2%;
}
.checkout-page .address-item:only-child {
    float: none;
    margin: 0 auto 20px !important;
}
.checkout-page .edit-address label {
	width: 238px; /* remove the comment if works properly all over */
    margin-right: 20px;
}
.checkout-page .opc .edit-address label {
	width: 295px;
}
.new-billing-address .inputs .required {
    position: absolute;
}
.shipping-method .method-list li,
.payment-method .method-list li {
    text-align: left;
}
.shipping-method .method-description {
    margin: 5px 0 0 22px;
}
.payment-method .payment-logo {
    position: absolute;
    top: 0;
	bottom: 0;
    left: 42px;
	height: 36px;
	margin: auto;
}
.payment-method .payment-details input[type="radio"] {
	position: absolute;
    top: 0;
	bottom: 0;
    left: 18px;
	margin: auto;
}
.payment-method .method-list .payment-details label,
.payment-method .method-list .payment-description {
	margin: 0 0 0 88px;
}

/* SEARCH & SITEMAP */

.search-page-body .master-wrapper-content {
    padding: 150px 0 0;
}
.search-page-body .page-title {
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;
    border-bottom: 2px solid #eee;
    padding-bottom: 12px;
}
.search-page .inputs label {
    width: 160px !important; 
    margin: 0 10px 0 0;
}
.basic-search input[type="text"] {
	width: 350px;
}
.advanced-search .price-range {
	margin-left: 85px;
}
.advanced-search .price-range input {
	height: auto;
}

/* BLOG & NEWS */

.news-pages-body .master-wrapper-content,
.blog-pages-body .master-wrapper-content {
    padding: 150px 0 0;
}
.news-pages-body .page-title,
.blog-pages-body .page-title {
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;
}

.page.blog-page,
.page.news-list-page {
    text-align: left;
}
.blog-posts .post {
    margin: 0 0 20px;
    border-bottom: 2px solid #eee;
    padding: 10px 20px 20px;
}
.news-items .news-item {
    margin: 0 0 15px;
    border-bottom: 2px solid #eee;
    padding: 10px 20px 30px;
}
.blog-posts .post:last-child,
.news-items .news-item:last-child {
    border: none;
}

.post-title:after,
.news-title:after {
    margin: 10px 0 0;
}
.blog-posts .buttons { 
}
.news-items .buttons {
    text-align: left;
} 
.blog-posts .read-comments {
    position: relative;
	display: inline-block;
    vertical-align: top;
    margin: 15px 0 0 10px;
    padding: 0 0 0 15px;
    line-height: 24px;   
}
.blog-posts .read-comments:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 13px;
    width: 2px;
    margin: auto;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #d9d9d9;
}
.blog-posts .read-more {
	display: block;
	width: 150px;
}

.page.news-item-page {
    text-align: left;
}
.blogpost-page .page-body,
.news-item-page .page-body {
    padding: 10px 20px;
}
.news-item-page .inputs:first-child label {
	display: inline-block;
    width: 141px;
}
.new-comment textarea {
	display: block;
	margin: auto;
}
.new-comment .title, 
.comment-list .title {
    text-align: left;
}
.new-comment .title strong::after, 
.comment-list .title strong::after {
    margin: 10px 0 0;
}
.news-list-homepage .news-item {
    border: none;
    padding: 0;
}



/* FORUM & PROFILE */

.forum-search-page .advanced-search .inputs label,
.forum-search-page .basic-search .inputs label {
	width: 305px;
}
.forum-edit-page label,
.private-message-send-page label {
	width: 304px;
}
.forum-edit-page .reversed > * {
    width: auto;
    margin: 0 3px;
}
.forum-edit-page .toolbar,
.private-message-send-page .toolbar {
	margin-left: 314px;
}
.forum-edit-page textarea,
.private-message-send-page textarea {
	width: 350px;
	height: 180px;
	margin-left: 314px;
}

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .header-menu .sublist-wrap {
        top: 29px;
    }
}

/* ie10 and ie11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    .gallery {
        width: 753px;
    }
    .two-columns .gallery {
        width: 663px !important;
    }
    .product-essential .picture:only-child {
        float: none;
        margin: 0 auto;
    }
    .header-menu .sublist-wrap {
        top: 29px;
    }
    .address-list .buttons {
        top: 4px;
        right: 1px;
    }

}

/* safari fixes only */
@media screen and (-webkit-min-device-pixel-ratio:0) {

    .address-list .buttons {
        top: -9px;
    }

}

.mini-shopping-cart {
    position: relative;
    overflow: hidden;
}