/* hover */

#goToTop:hover,
.newsletter-email .newsletter-subscribe-button:hover,
.item-box input[type="button"]:hover,
.overview-buttons div > *:hover,
.overview .add-to-cart-button:hover,
.variant-overview .add-to-cart-button:hover,
.write-review .button-1:hover,
.wishlist-content .button-2.wishlist-add-to-cart-button:hover,
.contact-page .button-1:hover,
.email-a-friend-page .button-1:hover,
.registration-page .button-1:hover,
.registration-result-page .button-1:hover,
.login-page .button-1:hover,
.password-recovery-page .button-1:hover,
.account-page .button-1:hover,
.return-request-page .button-1:hover,
.user-agreement-page .button-1:hover,
.account-page .button-2:hover,
.downloadable-products-page .download a:hover,
.shopping-cart-page .button-1:hover,
.checkout-page .button-1:hover,
.shopping-cart-page .button-2.update-cart-button:hover,
.order-details-page .button-2.print-order-button:hover,
.order-details-page .actions input:hover,
.search-input .button-1:hover,
.blog-posts .read-more:hover,
.news-items .read-more:hover,
.new-comment .button-1:hover,
.forum-search-box .basic .search-box-button:hover,
.topic-post .pm-button:hover,
.profile-info-box .pm-button:hover,
.forum-edit-page .buttons input.button-1:hover,
.move-topic-page .buttons input.button-1:hover,
.private-messages .buttons input.button-1:hover,
.mini-shopping-cart input[type="button"]:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);	
}

.social-sharing a {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);	
}
.social-sharing li:hover a,
.footer-2 .social-sharing li:hover a,
.opc .step-title {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}
.footer-2 .social-sharing a {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
.product-selectors .product-viewmode a {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}
.product-selectors .product-viewmode a.selected,
.ui-datepicker-header a:hover,
.opc .active .step-title,
.order-details-page input.return-items-button:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.ui-datepicker-header a {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

/* box shadow */

.styleSelect_item {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#26ffffff,endColorstr=#26ffffff);
}
.header-1 {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#26ffffff,endColorstr=#26ffffff);
}
.shopping-cart-page .cart-wrapper,
.order-details-page .total-info,
.shopping-cart-page .cart-wrapper,
.ui-dialog,
.eu-cookie-bar-notification {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#26ffffff,endColorstr=#26ffffff);
}

.product-grid .item-box, 
.manufacturer-grid .item-box {
    border: 2px solid transparent;
}
.product-grid .item-box:hover, 
.manufacturer-grid .item-box:hover {
    border: 2px solid #f3f3f3;
}
.flyout-cart {
    border-left: 2px solid #f3f3f3 !important;
}
.mini-shopping-cart .count {
    height: 40px !important; 
}

/* background color */

.home-page-category-grid .title a span {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#26ffffff,endColorstr=#26ffffff);
}

/* color */

.header-links span,
.header-links span:hover, 
.header-links a,
.header-links a:hover,
.header-selectors-wrapper > div,
.header-selectors-wrapper > div:hover {
    color: #fff;
}

/* background iamge*/

.store-search-box .search-box-button {
    background-image: url("../img/search-button.png");
}


/* header menu */

.header-2 .header-menu > ul > li > .sublist-wrap {
    top: 27px !important;
    border: 2px solid #f9f9f9;
    border-top: none;
}
.header-menu .sublist-wrap .sublist-wrap {
    top: -4px !important;
    border: 2px solid #f9f9f9;
}
.header-menu .sublist-wrap {
    top: 29px !important;
    left: 0;
    position: relative;
}


.home-page-category-grid .item-box, 
.sub-category-grid .item-box {
    display: inline-block !important;
    width: 300px !important;
    margin: 0 6px 50px !important;
}

.picture-thumbs {
    
    display: inline-block;
}
.gallery {
    display: block !important;
    width: 753px !important;
}
.two-columns .gallery {
    width: 663px !important;
}
.gallery .picture {
    float: none !important;
    display: inline-block !important;
    width: 600px !important;
}

.flyout-cart.active {   
   /*position:fixed !important;
   position: absolute; 
   top: 0;
   right: 0;
   z-index: 1555 !important;*/ 
}
  
#check-availability-button {
    width: 190px;
}
.date-of-birth select {
    width: 128px;
}


.account-page .title strong:after,
.new-comment .title strong:after, 
.comment-list .title strong:after, 
.forums-table-section-title strong:after {
    position: absolute;
    top: 15px;
    left: 0;
} 
.address-list .buttons {
    top: -9px !important;
    right: 1px !important;
    margin: 0 !important;
}

/* cart and checkout */


.shopping-cart-page .cart-wrapper,
.cart-footer .total-info,
.order-summary-content .cart,
.forum-table,
.topic-posts {
    border: 2px solid #eee;
}
.shopping-cart-page .cart {
    border: 2px solid #eee;
    border-width: 0 0 2px 0;
}
.checkout-page .address-item {
    width: 32%;
    margin: 0 0 2% 2% !important; 
}
.checkout-page .address-item:nth-child(3n+1) {
    margin: 0 !important;
} 
.new-billing-address .inputs .required {
    position: relative !important;
}
#terms-of-service-warning-box {
    border: 2px solid #eee;
    border-width: 0 2px 2px;
}

/* forum and profile */

.topic-posts .topic-post:last-child {
    border-bottom: none;
}
.forums-table-section-title > a:after {
    display: none;
}