﻿/* GLOBAL TABLES */

.table-wrapper {
	/*overflow-x: auto;*/
}
.cart, .data-table,
.compare-products-table {
	margin: 0 0 30px;
    box-shadow: 0 1px 12px 2px rgba(0, 0, 0, 0.17);
}
.forums-table-section table {
    margin: 0 0 70px;
    box-shadow: 0 1px 12px 2px rgba(0, 0, 0, 0.17);
}
table.data-table {
    box-shadow: none;
    border: 2px solid #eee;
}
.cart th, .data-table th,
.forums-table-section th {
	border-bottom: 2px solid #eee;
    padding: 12px 15px;
    white-space: nowrap;
    font-weight: normal;
}
.cart td, .data-table td,
.compare-products-table td,
.forums-table-section td {
	min-width: 60px;
    border-bottom: 2px solid #eee;
    background: #fff;
    padding: 12px 15px;
    font-weight: normal;
}
.data-table td.product a {
    font-style: normal;
}
.cart tr > *:first-child,
.data-table tr > *:first-child,
.compare-products-table tr > *:first-child,
.forums-table-section tr > *:first-child {
}
.cart tr:last-child td,
.data-table tr:last-child td,
.compare-products-table tr:last-child td,
.forums-table-section tr:last-child td {
    border-bottom: none;
}
.cart tr > *:last-child,
.data-table tr > *:last-child,
.compare-products-table tr > *:last-child,
.forums-table-section tr > *:last-child {
}
.cart a, .data-table a,
.compare-products-table a,
.forums-table-section a {
    font-weight: bold;
    color: #444;
}

.cart .product,
.data-table .product,
.data-table .message,
.data-table .info,
.data-table .name,
.forum-table .forum-details,
.forum-table .topic-details {
	text-align: center;
}
.cart .attributes,
.data-table .attributes {
    margin: 0;
    padding: 0;
    border: none;  
}
.cart .remove-from-cart,
.cart .add-to-cart,
.data-table .select-boxes,
.data-table .order {
    text-align: center;
}
.cart .product {
    min-width: 175px;
}
.cart .edit-item > a {
    color: #cc8a97;
}
.cart .edit-item > a:hover {
    text-decoration: underline;
}
.cart .unit-price {
    white-space: nowrap;
    font-size: 16px;
}
.cart .qty-input,
.cart .qty-dropdown {
    width: 48px;
    height: 48px;
    border: 2px solid #ddd;
    text-align: center;
    font-size: 16px;
}
.cart .qty-dropdown {
    padding: 3px;
}
.cart tbody .subtotal {
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
    color: #cc8a97; 
}
.cart tbody .subtotal .discount {
    white-space: normal;
}
.cart .discount-additional-info {
	margin: 5px 0 0;
	font-size: 14px;
	font-weight: normal;
	white-space: normal;
	color: #888;
}
.shopping-cart-page table.cart .product-name, 
.checkout-page table.cart .product-name {
    text-transform: uppercase;
}
.shopping-cart-page table.cart .quantity > span,
.checkout-page table.cart .quantity > span {
    display: inline-block;
    height: 48px;
    width: 48px;
    border: 2px solid #ddd;
    line-height: 43px;
    font-size: 16px;
}
.shopping-cart-page table.cart .quantity .td-title,
.checkout-page table.cart .quantity .td-title {
    display: none;
}



/* COMPARE PRODUCTS TABLE */

.compare-products-table .overview p:first-child {
    margin: 0 0 10px;
}
.compare-products-table .overview p:last-child {
    position: relative;
    max-width: 200px;
    height: 200px;
    overflow: hidden;
}
.compare-products-table .overview img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.compare-products-table .product-name td {
    background: #f6f6f6;
}
.compare-products-table .product-price td {
    font-weight: bold;
    color: #cc8a97;
}
.compare-products-table .product-price td:first-child {
    font-weight: normal;
    color: #666;
}

.compare-products-table-mobile img {
    max-width: 120px;
}


/********** FOOTABLE CUSTOM CSS **********/



.footable-first-column {
	text-align: center;
}
td.footable-first-column {
	position: relative;
	background: transparent !important; /*Firefox relative cell bug fix*/
}
td.footable-last-column {
    text-align: center;
    font-size: 16px;
    font-weight: bold !important;
    color: #cc8a97;
}

.footable-first-column .item-count {
	font-size: 16px !important;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin: -16px 0 0 -16px;
	overflow: hidden;
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
    cursor: pointer;
}
.footable-row-detail {
	text-align: left;
}
.footable-row-detail-cell {
	text-align: left !important;
}
.footable-row-detail-row {
	margin: 0 0 10px;
    display: table-row;
}
.footable-row-detail-name {
	margin: 0 0 5px;
	font-style: italic;
    display: table-cell;
    padding: 7px 10px;
}
.footable-row-detail-value {
    display: table-cell;
}

.footable-toggle {
	background-image: url('../img/expand-button.png');
}
.footable-detail-show .footable-toggle {
	background-image: url('../img/shrink-button.png');
}
.footable-toggle:before {
	display: none !important;
}

.compare-products-table-mobile .item-count,
.downloadable-products-page .data-table .item-count
/* remove downloads table item-count from here if "my account" is only one column on tablet landscape(768) */ {
	display: none;
}

.go-to-page {
	display: inline-block !important;
	font-size: 13px !important;
    color: #cc8a97 !important;
}

/*@media all and (max-width: 809px) {
    .order-summary-content .cart .item-count, 
    .section.products .data-table .item-count, 
    .section.shipments .data-table .item-count {
        display: none;
    }
}*/

@media all and (min-width: 612px) {
    .downloadable-products-page .data-table .item-count, 
    .return-request-page .data-table .item-count {
        display: block;
    }
}

/*@media all and (max-width: 506px) {
    .reward-points-history .data-table .item-count {
        display: none;
    }
}*/

@media all and (min-width: 768px) {
    .forum-table .forum-details,
    .forum-table .latest-post,
    .forum-table .topic-details {
        text-align: left !important;
    }
}

@media all and (min-width: 1281px) {
        .cart td, 
    .data-table td, 
    .compare-products-table td {
        padding: 20px;
    }
    
    .forums-table-section td {
        padding: 20px 20px 30px;
    }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .checkout-page .table-wrapper {
        box-shadow: 0px 1px 12px 2px rgba(0,0,0,0.17);
    }
}