﻿@{
    Layout = "";
}
@model ConfigurationModel
@using Actopus.Nop.Plugins.ZipCode.Models;
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()




    <div class="content-header clearfix">
        <div class="pull-right">
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
   
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Actopus.Nop.Plugin.ZipCode.notes")
            </div>
            <div class="panel-heading">
                Bestel extra adres-opzoek-acties bij <a href="https://www.insidertrader.biz/de-postcode-database-voor-nederland" target="_blank">InsiderTrader.biz</a>
            </div>
            <div class="panel-heading">
                Bekijk uw huidig verbruik op <a href="https://www.insidertrader.biz/customer/downloadableproducts" target="_blank">Mijn verbruik</a>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.CountryId_OverrideForStore, model => model.CountryId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.CountryId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.CountryId, Model.AvailableCountries)
                        @Html.ValidationMessageFor(model => model.CountryId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.WebServiceUrl_OverrideForStore, model => model.WebServiceUrl, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WebServiceUrl)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.WebServiceUrl, Model.AvailableWebServices)
                        @Html.ValidationMessageFor(model => model.WebServiceUrl)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.WebshopKey_OverrideForStore, model => model.WebshopKey, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WebshopKey)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.WebshopKey)
                        @Html.ValidationMessageFor(model => model.WebshopKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.WebshopSecret_OverrideForStore, model => model.WebshopSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WebshopSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.WebshopSecret)
                        @Html.ValidationMessageFor(model => model.WebshopSecret)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            @T("Actopus.Nop.Plugin.ZipCode.TestResult")
                        </div>
                    </div>
                    <div class="col-md-9">
                        @T(Model.TestResult)
                    </div>
                </div>
            </div>
        </div>
    </div>

}
