.estimate-shipping .shipping-results,
.payment-method .method-list,
.checkout-page .payment-info .info,
.panel.order-totals-panel .total-info {
	text-align: right;
}

.ropc .section-body {
    text-align: right;
}

.coupon-box-panel .current-code button,
.giftcard-box-panel .current-code button{
	margin-right: 5px;
	margin-left: 0;
}
.ropc .cart .qty-input{
	padding: 0 10px 0 0;
}
.ropc .cart td {
    border-left: 1px dotted #ddd !important;
    border-right: 1px dotted #ddd !important;
}

.ropc .order-totals-panel {
    text-align: left;
}

.estimate-shipping .buttons {
    float: none;
    text-align: center;
}
.ropc .method-name > * {
    float: none;
}
.buttons.complete-button {
    float: none;
}

@media all and (min-width: 481px) {

    .coupon-box-panel input.discount-coupon-code,
    .giftcard-box-panel input.gift-card-coupon-code {
        float: right;
    }
    .coupon-box-panel .coupon-code button,
    .giftcard-box-panel .coupon-code button {
        float: right;
        margin: 0 -1px 0 0;
    }

}

@media all and (max-width: 768px) {
    
    .ropc .section-title {
        text-align: right;
        background: url('table-plus.png') no-repeat left center;
    }   

    .ropc .section-body {
        text-align: center;
    }
    
}


@media all and (min-width: 601px) and (max-width: 980px) {
    .ropc .cart tr {
        float: right;
    }
}

@media all and (min-width: 769px) {

    .inputs  {
        float: none !important;
    }
    .ropc .inputs label {
        display: block;
        margin: 0 0 5px;
        text-align: right;
    }

}
@media all and (max-width: 980px) {
    .ropc .cart {
        text-align: right;
    }
    .ropc .order-totals-panel {
        text-align: center;
    }
    
}

@media all and (min-width: 981px) {
	
	.ropc .panel-group-right-top,
	.ropc .panel-group-right-middle,
	.ropc .panel-group-right-bottom {
		float: left;
	}
    .panel.order-totals-panel.ng-isolate-scope,
    .terms-of-service,
    .order-confirm,
    .buttons.complete-button {
        text-align: left;
    }

    .ropc .addon-buttons {
        text-align: left;
    }

    .ropc .addon-buttons > * {
        margin: 0 5px 5px 0;
    }
    
}