.coupon-code input {
	float: right;
}
.estimate-shipping-panel .shipping-results,
.payment-info .info,
.cart-total-left {
	text-align: right;
}
.payment-method .method-list{
	padding: 10px 10px 0 0;
	text-align: right;
}
.checkout-attributes input[type=text],
.checkout-attributes textarea{
	margin-right: auto;
	margin-left: auto;
}
.coupon-code button{
	float: right;
	margin-right: -1px;
	margin-left: 0;
}
.current-code span{
	margin: 0 0 0 5px;
}
.cart-total button,
.remove-product{
	margin-left: -7px;
	margin-right: 3px;
}

@media all and (min-width: 769px) {
	
.checkout-page .attribute-list > li,
.checkout-page .attribute-name {
	text-align: right;
}
.checkout-attributes li {
	margin: 0 0 0 10px;
}
	
}

@media all and (min-width: 981px) {
	
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom {
	float: left;
}
.order-totals-panel {
	margin: 0 auto 20px 0 !important;
}
.error-list,
.terms-of-service,
.complete-button {
	text-align: left;
}

.ropc .addon-buttons {
    text-align: left;
}

.ropc .addon-buttons > * {
    margin: 0 5px 5px 0;
}
	
}