﻿@model SubscriptionActivationModel
@using Nop.Web.Models.Newsletter;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //page class
    Html.AppendPageCssClassParts("html-newsletter-page");
}
<div class="page newsletter-page">
    <div class="page-title">
        <h1>@T("Newsletter.Title")</h1>
    </div>
    <div class="page-body">
        <strong>
            @Model.Result
        </strong>
    </div>
</div>
<!--Start Google Analytics-->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100731918-1', 'auto');
    ga('send', 'pageview');

</script>
<!--End Google Analytics--> 