﻿@model ProfileInfoModel
@using Nop.Web.Models.Profile;
<div class="profile-info-box">
    @if (!String.IsNullOrEmpty(Model.AvatarUrl))
    {
        <div class="avatar">
            <img src="@(Model.AvatarUrl)" class="avatar-img" alt="Avatar" />
        </div>         
    }
    <div class="profile-stats">
        <div class="title">
            <strong>@T("Profile.Statistics")</strong>
        </div>
        @Html.Widget("profile_page_info_userdetails", Model.CustomerProfileId)
        <ul class="stats">
            @if (Model.LocationEnabled)
            {
                <li class="location">
                    <label>@T("Profile.Country"):</label>
                    <span>@Model.Location</span>
                </li>
            }
            @if (Model.TotalPostsEnabled)
            {
                <li>
                    <label>@T("Profile.TotalPosts"):</label>
                    <span>@Model.TotalPosts</span>
                </li>          
            }
            @if (Model.JoinDateEnabled)
            {        
                <li>
                    <label>@T("Profile.JoinDate"):</label>
                    <span>@Model.JoinDate</span>
                </li>
            }
            @if (Model.DateOfBirthEnabled)
            {
                <li>
                    <label>@T("Profile.DateOfBirth"):</label>
                    <span>@Model.DateOfBirth</span>
                </li>
            }
        </ul>
        @Html.Widget("profile_page_info_userstats", Model.CustomerProfileId)
    </div>
    @if (Model.PMEnabled)
    {
        <div class="send-pm">
            @Html.RouteLink(T("Forum.PrivateMessages.PM").Text, "SendPM", new { toCustomerId = Model.CustomerProfileId }, new { @class = "pm-button" })
        </div>
    }
</div>
<!--Start Google Analytics-->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100731918-1', 'auto');
    ga('send', 'pageview');

</script>
<!--End Google Analytics--> 