﻿@model int

@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

    //page title
    ViewBag.Title = T("Nop4You.MarketingAutomation.RecommendedProduct.Product").Text;
    Html.SetActiveMenuItemSystemName("MarketingAutomation");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "recommendedproduct-form" }))
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Nop4You.MarketingAutomation.RecommendedProduct.CustomerRole") - @ViewBag.CustomerRoleName <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("(" + T("Nop4You.MarketingAutomation.RecommendedProduct.BackToList") + ")", "Configure", "RecommendedProduct")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>

        </div>
    </div>



    <div class="panel panel-default">
        <div class="panel-body">
            <div id="products-grid"></div>
        </div>
        <div class="panel-footer">
            <button type="submit" id="btnAddNewProduct"
                    onclick="javascript:OpenWindow('@(Url.Action("ProductAddPopup", "RecommendedProduct", new { Id = Model ,btnId = "btnRefreshProducts", formId = "recommendedproduct-form"}))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Nop4You.MarketingAutomation.RecommendedProduct.Products.AddNew")
            </button>
            <input type="submit" id="btnRefreshProducts" style="display: none" />
            <script type="text/javascript">
                        $(document).ready(function () {
                            $('#btnRefreshProducts').click(function () {
                                //refresh grid
                                var grid = $("#products-grid").data('kendoGrid');
                                grid.dataSource.read();

                                //return false to don't reload a page
                                return false;
                            });
                        });
            </script>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#products-grid").kendoGrid({
        dataSource: {
            transport: {
                read: {
                    url: "@Html.Raw(Url.Action("ProductList", "RecommendedProduct", new { Id = Model }))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                },
                update: {
                    url: "@Html.Raw(Url.Action("ProductUpdate", "RecommendedProduct"))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                },
                destroy: {
                    url: "@Html.Raw(Url.Action("ProductDelete", "RecommendedProduct"))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    id: "Id",
                    fields: {
                        Name: { editable: false, type: "string" },
                        DisplayOrder: { editable: true, type: "number" },
                    }
                }
            },
            requestEnd: function (e) {
                if (e.type == "create" || e.type == "update") {
                    this.read();
                }
            },
            error: function (e) {
                display_kendoui_grid_error(e);
                // Cancel the changes
                this.cancelChanges();
            },
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        },
        pageable: {
            refresh: true,
            numeric: false,
            previousNext: false,
            info: false
        },
        editable: {
            confirmation: "@T("Admin.Common.DeleteConfirmation")",
            mode: "inline"
        },
        scrollable: false,
        columns: [{
                    field: "Name",
                    title: "@T("Nop4You.MarketingAutomation.RecommendedProduct.Field.Name")",
                    width: 200,
                    },
                    {
                        field: "DisplayOrder",
                        title: "@T("Nop4You.MarketingAutomation.RecommendedProduct.Field.DisplayOrder")",
                        width: 100,
                        },
                {
                    command: [{
                        name: "edit",
                        text: {
                            edit: "@T("Admin.Common.Edit")",
                        update: "@T("Admin.Common.Update")",
                        cancel: "@T("Admin.Common.Cancel")"
                        }
                },
                {
                    name: "destroy",
                    text: "@T("Admin.Common.Delete")"
                }],
                width: 200
        }]
    });
});

</script>
