﻿@model SitemapModel
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Sitemap").Text);
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}
<div class="page sitemap-page">
    <div class="page-title">
        <h1>@T("Sitemap")</h1>
    </div>
    <div class="page-body">
        <div class="description">
            @T("Sitemap.Description")
        </div>
        @Html.Widget("sitemap_before")
        <div class="entity">
            <div class="entity-title">
                <h2>@T("Sitemap.General")</h2>
            </div>
            <div class="entity-body">
                <ul>
                    <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
                    <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a></li>
                    @if (Model.NewsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                    }
                    @if (Model.BlogEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                    }
                    @if (Model.ForumEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                    }
                    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                    <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                    @if (Model.Topics.Count > 0)
                    {
                        foreach (var item in Model.Topics)
                        {
                            <li><a href="@Url.RouteUrl("Topic", new {Sename = Html.GetTopicSeName(item.SystemName)})">@item.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        @if (Model.Categories.Count > 0)
        {
            <div class="entity">
                <div class="entity-title">
                    <h2>@T("Sitemap.Categories")</h2>
                </div>
                <div class="entity-body">
                    <ul>
                        @foreach (var category in Model.Categories)
                        { 
                            <li><a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        }
        @if (Model.Manufacturers.Count > 0)
        {
            <div class="entity">
                <div class="entity-title">
                    <h2>@T("Sitemap.Manufacturers")</h2>
                </div>
                <div class="entity-body">
                    <ul>
                        @foreach (var manufacturer in Model.Manufacturers)
                        { 
                            <li><a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        }
        @if (Model.Products.Count > 0)
        {
            <div class="entity">
                <div class="entity-title">
                    <h2>@T("Sitemap.Products")</h2>
                </div>
                <div class="entity-body">
                    <ul>
                        @foreach (var product in Model.Products)
                        { 
                            <li><a href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        }
        @Html.Widget("sitemap_after")
    </div>
</div>
<!--Start Google Analytics-->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100731918-1', 'auto');
    ga('send', 'pageview');

</script>
<!--End Google Analytics--> 