﻿@model Nop4you.Plugin.MarketingAutomation.Models.SchedulerModel
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Services;
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

    //page title
    ViewBag.Title = T("Nop4You.MarketingAutomation.scheduler.Edit").Text;
    Html.SetActiveMenuItemSystemName("MarketingAutomation");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "scheduleredit-form" }))
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Nop4You.MarketingAutomation.scheduler.Edit") <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("(" + T("Nop4You.MarketingAutomation.scheduler.BackToList") + ")", "Scheduler", "CustomerReminders")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>

        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.RuleId)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownListFor(model => model.RuleId, ((Nop4you.Plugin.MarketingAutomation.Domain.CustomerReminderRuleEnum)Model.RuleId).ToSelectList(), new { @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.RuleId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Enabled)
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Enabled)
                                @Html.ValidationMessageFor(model => model.Enabled)
                                <br />
                                <em>
                                    @T("Nop4You.MarketingAutomation.scheduler.text1")
                                </em>
                            </div>
                        </div>


                        <div id="tabscheduler">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.OccursId)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDropDownListFor(model => model.OccursId, ((Nop4you.Plugin.MarketingAutomation.Domain.OccursEnum)Model.OccursId).ToSelectList())
                                    @Html.ValidationMessageFor(model => model.OccursId)
                                </div>
                            </div>
                            <div class="form-group" id="dvRecursEvery">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.RecursEvery)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.RecursEvery)
                                    @Html.ValidationMessageFor(model => model.RecursEvery)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-9">
                                    @T("Nop4You.MarketingAutomation.scheduler.OccursOnceAtHour")
                                    @Html.EditorFor(model => model.OccursOnceAtHour)
                                    @T("Nop4You.MarketingAutomation.scheduler.OccursOnceAtMinute")
                                    @Html.EditorFor(model => model.OccursOnceAtMinute)
                                </div>
                            </div>
                            <div class="form-group" id="trOccursDay">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.OccursDay)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.OccursDay)
                                    @Html.ValidationMessageFor(model => model.OccursDay)
                                </div>
                            </div>

                            <div class="form-group" id="trMonthOnTheFirstDayOfWeek">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.MonthOnTheFirstDayOfWeek)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDropDownListFor(model => model.MonthOnTheFirstDayOfWeek, ((System.DayOfWeek)Model.MonthOnTheFirstDayOfWeek).ToSelectList())
                                    @Html.ValidationMessageFor(model => model.MonthOnTheFirstDayOfWeek)
                                </div>
                            </div>


                            <div class="form-group" id="trDayOfWeek">
                                <div class="col-md-3">
                                    <div class="label-wrapper">
                                        <label class="control-label" title="">@T("Nop4You.MarketingAutomation.scheduler.Field.DayOfWeek")</label>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.DayOfWeekMonday)
                                            @T("Nop4You.MarketingAutomation.scheduler.Field.DayOfWeekMonday")
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.DayOfWeekTuesday)
                                            @T("Nop4You.MarketingAutomation.scheduler.Field.DayOfWeekTuesday")
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.DayOfWeekWednesday)
                                            @T("Nop4You.MarketingAutomation.scheduler.Field.DayOfWeekWednesday")
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.DayOfWeekThursday)
                                            @T("Nop4You.MarketingAutomation.scheduler.Field.DayOfWeekThursday")
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.DayOfWeekFriday)
                                            @T("Nop4You.MarketingAutomation.scheduler.Field.DayOfWeekFriday")
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.DayOfWeekSaturday)
                                            @T("Nop4You.MarketingAutomation.scheduler.Field.DayOfWeekSaturday")
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.DayOfWeekSunday)
                                            @T("Nop4You.MarketingAutomation.scheduler.Field.DayOfWeekSunday")
                                        </label>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<script>
                $(document).ready(function () {

                    $("#@Html.FieldIdFor(model => model.Enabled)").change(toggleEnabled);
                    $("#@Html.FieldIdFor(model => model.OccursId)").change(toggleOccurs);

                    toggleEnabled();
                    toggleOccurs();

                    function toggleEnabled() {
                        if ($('#@Html.FieldIdFor(model => model.Enabled)').is(':checked')) {
                            $('#tabscheduler').show();

                        } else {
                            $('#tabscheduler').hide();
                        }
                    };

                    function toggleOccurs() {
                        var occurs = $("#@Html.FieldIdFor(model => model.OccursId)").val();

                        if (occurs == @(((int)Nop4you.Plugin.MarketingAutomation.Domain.OccursEnum.Hours).ToString())) {
                            $('#trDayOfWeek').hide();
                        $('#trMonthOnTheFirstDayOfWeek').hide();
                        $('#trOccursDay').hide();
                        $('#dvRecursEvery').hide();
                    }
                else if (occurs == @(((int)Nop4you.Plugin.MarketingAutomation.Domain.OccursEnum.Days).ToString())) {
                    $('#trDayOfWeek').hide();
                    $('#trMonthOnTheFirstDayOfWeek').hide();
                    $('#trOccursDay').hide();
                    $('#dvRecursEvery').show();

                }
                else if (occurs == @(((int)Nop4you.Plugin.MarketingAutomation.Domain.OccursEnum.Months).ToString())) {
                    $('#trDayOfWeek').hide();
                    $('#trMonthOnTheFirstDayOfWeek').show();
                    $('#trOccursDay').show();
                    $('#dvRecursEvery').show();
                }
                else if (occurs == @(((int)Nop4you.Plugin.MarketingAutomation.Domain.OccursEnum.Weeks).ToString())) {
                    $('#trDayOfWeek').show();
                    $('#trMonthOnTheFirstDayOfWeek').hide();
                    $('#trOccursDay').hide();
                    $('#dvRecursEvery').show();
                }
                else if (occurs == @(((int)Nop4you.Plugin.MarketingAutomation.Domain.OccursEnum.Years).ToString())) {
                    $('#trDayOfWeek').hide();
                    $('#trMonthOnTheFirstDayOfWeek').hide();
                    $('#trOccursDay').show();
                    $('#dvRecursEvery').show();
                }
                else {
                    $('#trDayOfWeek').hide();
                    $('#trMonthOnTheFirstDayOfWeek').hide();
                    $('#trOccursDayMonthly').hide();
                    $('#dvRecursEvery').show();
                }
                };

                });
</script>
