﻿/* GLOBAL STYLES */

.ui-tabs .product-specs-box,
.ui-tabs .product-reviews-page,
.ui-tabs .full-description  {
    display: block;
}

/* THEME STYLES */

.product-essential {
	margin-bottom: 80px;
}
.product-name {
	margin-bottom: 10px !important;
}
.full-description,
.product-specs-box,
.write-review .button-1,
.product-specs-box .data-table {
	margin-bottom: 0;
}