
/*** PLUGIN STYLES ***/

input.ng-invalid.ng-dirty, 
textarea.ng-invalid.ng-dirty, 
.has-error {
    border: 1px solid red !important;
}

.checkout-page {
    font-family: 'Open Sans', sans-serif;
    color: #888;
}
.checkout-page .section-title {
    margin: 0 0 15px;
    font-size: 18px;
	background: #eeece7;
	padding: 7px;
    text-align: center;
}
.checkout-page .section-title strong {
    font-weight: 400;
}
.checkout-page .section-title strong:before,
.checkout-page .section-title strong:after {
	content: "";
	display: inline-block;
	width: 18px;
	height: 13px;
}
.checkout-page .section-title strong:before {
	background: url('arrow-left.png') center no-repeat;
	margin: 0 5px 0 0;
}
.checkout-page .section-title strong:after {
	background: url('arrow-right.png') center no-repeat;
	margin: 0 0 0 5px;
}
.ropc .section {
    margin: 0;
}
.ropc .section-body {
    display: none;
    padding: 30px 15px;
}
.checkout-page .choose-address {
    margin: 0 auto 10px;
    text-align: center;
    width: 350px;
    max-width: 100%;
}
.panel-group-left .inputs {
    width: 350px;
    margin: 0 auto 10px;
    max-width: 100%;
}
.panel-group-left .inputs > span.ng-binding {
	display: block;
	color: #c00;
	margin: 5px 0 0;
}
.checkout-page select {
    max-width: 100%;
    height: 36px;
    line-height: 30px;
}
.checkout-page .description {
    margin: 5px 0 0;
}
.ropc .address-select {
    margin: 10px 0;
}
.ropc .ship-to-same-address {
    margin: 30px 0 0;
}
.estimate-shipping-panel .hint {
    margin: 0 0 15px;
    font-size: 13px;
}
.estimate-shipping-panel .shipping-options {
    margin: 0 0 24px;
}
.estimate-shipping-panel .buttons {
    margin: 25px 0 0;
}
.estimate-shipping-panel button {
    background: #A59B92;
    border: 1px solid #C9C3BE;
    color: #fff;
    display: inline-block;
    font-family: 'open sans';
    font-size: 14px;
    margin: 0 auto 15px;
    outline: 4px solid #A59B92;
    padding: 4px 19px;
    text-shadow: 0 1px 1px #847C75;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.estimate-shipping-panel button:disabled {
    opacity: .5;
    cursor: default;
}
.estimate-shipping-panel .shipping-results {
    margin: 0 auto 20px;
    border: 1px dotted #ccc;
    padding: 10px 15px;
    text-align: left;
    max-width: 420px;
}
.estimate-shipping-panel .shipping-results > li {
    margin: 10px 0;
}
.shipping-method .method-list {
	border: 0;
    padding: 0 15px;
	text-align: left;
}
.shipping-method .method-list li {
	margin: 10px;
	padding: 5px 0;
}
.use-reward-points {
  margin: 0 0 15px;
}
.payment-logo, 
.payment-details {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.payment-method .method-list {
    border-top: 1px dotted #ccc;
    padding: 10px 0 0 10px;
    margin: 0 0 20px;
    text-align: left;
}
.payment-method .method-list li {
    margin: 10px 0;
    padding: 5px;
    display: block;
}
.payment-info .info {
    margin: 0 auto;
    border: 1px dotted #ccc;
    padding: 10px 15px;
    text-align: left;
    font-size: 13px;
}
.payment-info td {
    padding: 10px 0;
}
.checkout-page .payment-info table {
    max-width: none;
}
.cart-total td {
    border: none;
    font-size: 14px;
}
.checkout-page .qty .td-title {
    display: none;
}
.cart .qty-input {
    height: 36px;
}
.cart .quantity .td-title {
    display: none;
}
.checkout-attributes input[type=text],
.checkout-attributes textarea {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.checkout-page .attribute-list {
    padding: 0 15px;
}
.checkout-page .attribute-list > li {
    margin: 0 0 15px;
}
.checkout-page .attribute-list input[type=text],
.checkout-page .attribute-list textarea {
    max-width: 100%;
}
.checkout-page .attribute-name {
	font-size: 14px;
}

.coupon-box-panel .hint, 
.giftcard-box-panel .hint {
    margin: 0 0 10px;
    font-size: 13px;
}
.coupon-box-panel .section-title strong,
.giftcard-box-panel .section-title strong {
    min-width: 190px;
}
.coupon-code {
    display: inline-block;
    margin: 0 0 5px;
}
.coupon-code input {
    float: left;
    width: 58%;
}
.coupon-code button {
    float: left;
    width: 42%;
    height: 32px;
    background: #A59B92;
    border: 1px solid #C9C3BE;
    color: #fff;
    font-family: 'open sans';
    font-size: 14px;
    margin-top: 2px;
    outline: 3px solid #A59B92;
    padding: 0 12px;
    text-shadow: 0 1px 1px #847C75;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.current-code input {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
}
.current-code button {
    display: inline-block;
    vertical-align: middle;
	width: 16px !important;
	height: 16px;
	border: 1px solid #ccc;
	background: #fff url(close.png) center no-repeat;
	cursor: pointer;
    font-size: 0;
}
.coupon-box-panel .message,
.giftcard-box-panel .message {
    color: #c03;
}
.coupon-box-panel .current-code > *,
.giftcard-box-panel .current-code > * {
    float: none !important;
} 

.order-totals-panel {
    padding: 15px;
    background: #F7F6F4;
    margin: 0 auto 20px;
    max-width: 400px;
}
.cart-total-left {
    text-align: left;
}
.cart-total-right {
    text-align: right;
}
.cart-total button,
.remove-product {
    display: inline-block;
    vertical-align: middle;
	width: 32px;
	height: 32px;
	border: 1px solid #ccc;
	background: #fff url(close.png) center no-repeat;
	cursor: pointer;
    font-size: 0;
    margin-right: -7px;
    margin-left: 3px;
    position: relative;
    z-index: 1;
}
.remove-product {
    margin: 0;
}
.order-confirm .error-list {
    margin: 0 0 20px;
}
.order-confirm .error-list li {
    margin: 0 0 10px;
    color: #c00;
    font-size: 14px;
}
.complete-button button {
    background: #A59B92;
    border: 1px solid #C9C3BE;
    color: #fff;
    display: inline-block;
    font-family: 'open sans';
    font-size: 20px;
    outline: 4px solid #A59B92;
    padding: 6px 30px;
	text-transform: uppercase;
    text-shadow: 0 1px 1px #847C75;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ropc .cart .sku {
    display: none ;
}
.master-column-wrapper {
    margin: 0;
}

.ropc .addon-buttons {
    text-align: right;
}

.ropc .addon-buttons > * {
    margin: 0 5px 5px;
}


@media all and (max-width: 600px) {
    .ropc .cart tr {
        margin: 0 auto 1% !important;
        width: 80%;
        max-width: 380px;
    }
}
@media all and (max-width: 768px) {
    
    .ropc .section {
        margin: 0;
    }

    .ropc .cart td .discount {
        font-size: 14px;
    }
    .ropc .cart tr {
        display: block;
        width: 300px;
        margin: 0 auto 10px;
        border-bottom: 1px dotted #ddd;
    }
}

@media all and (min-width: 601px) and (max-width: 980px) {
    .ropc .cart tr {
        float: left;
        margin: 0 0.5% 1%;
        width: 49%;
    }
    .ropc .cart tr:nth-child(2n+1) {
        clear: both;
    }
    .ropc .cart td.subtotal {
        border-bottom: 1px dotted #ddd;
    }
}

@media all and (max-width: 980px) {
   

    .ropc .cart td {
        display: block;
        width: 100%;
        max-width: none;
        border-bottom: none;
        text-align: center;
    }

    .cart colgroup,
    .cart thead {
        display: none;
    }

    .ropc .addon-buttons {
        text-align: center;
    }

}
@media all and (min-width: 600px) and (max-width: 980px) {
    .ropc .cart td.unit-price,
    .ropc .cart td.quantity,
    .ropc .cart td.subtotal {
        border-top: none;
    }
    
}

@media all and (min-width: 769px) {
.ropc .section-body {
    display: block !important;
}
.ropc .cart td.product {
    height: 58px;
}
.checkout-page .attribute-list > li {
    text-align: left;
    display: block !important;
}
.checkout-page .attribute-name {
    margin: 0 0 5px;
}
.coupon-box-panel .section-body,
.giftcard-box-panel .section-body {
	padding: 0 10px 20px;
	text-align: center;
}
.terms-of-service {
	text-align: center;
}
.ropc .coupon-code button,
.ropc .current-code button {
    width: 97%;
    float: none;
}
.ropc .current-code button,
.ropc .coupon-code input {
    width: 100%;
    float: none;
}
.coupon-box-panel .current-code,
.giftcard-box-panel .current-code {
    display: inline-block;
    float: none;
}

}

@media all and (min-width: 981px) {
.ropc .td-title {
    display: none !important;
}
.ropc .panel-group-left {
	width: 33%;
}
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom {
	float: right;
	width: 65%;
}
.ropc .cart .unit-price,
.ropc .cart .subtotal {
    white-space: normal;
}
.payment-method .method-list {
	float: left;
	width: 40%;
	border: none;
}
.payment-info .info {
	min-height: 200px;
}
.item-count {
	display: none !important;
}
.order-summary-content .section-body > .ng-binding {
	text-align: left;
}
.terms-of-service,
.complete-button {
    margin-right: 10px;
	text-align: right;
}
.order-totals-panel {
	margin: 0 0 20px auto;
}
.order-confirm .error-list {
    margin-right: 10px;
	text-align: right;
}
.inputs label {
	display: block;
	text-align: left;
	width: auto !important;
	margin: 0 0 5px;
}
.order-summary-content .section-body {
    padding: 0;
}
.checkout-attributes {
	float: none;
	max-width: none;
}
.checkout-attributes li {
	margin: 0 10px 0 0;
}
.ropc .coupon-code button,
.ropc .current-code button {
    width: 42%;
    float: left;
}
.ropc .current-code span,
.ropc .coupon-code input {
    width: 58%;
    float: left;
}

}