<div data-role="grid" class="k-grid k-widget">
    
    <div>
        <table role="grid">
            <colgroup>
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
            </colgroup>
            <thead class="k-grid-header" role="rowgroup">
            <tr role="row">
                <th role="columnheader" data-field="CustomerRoles" data-title="Customer Roles" class="k-header">
                    NopCommerce Template
                </th>
                <th role="columnheader" data-field="RoleCompareType" data-title="Role Comparison Strategy" class="k-header">
                    Email Subject
                </th>
                <th role="columnheader" data-field="RoleCompareType" data-title="Purchase History" class="k-header" ng-show="model.showStoreInfo">
                    Store Name
                </th>

                <th role="columnheader" data-field="ClientListName" data-title="Client List" class="k-header">Campaign Montior Client</th>

                <th role="columnheader" data-field="ClientName" data-title="Campaign Monitor Client" class="k-header">
                    Campaign Monitor Transactional Email
                </th>

                <th role="columnheader"></th>
            </tr>
            </thead>

            <tbody role="rowgroup">
                <tr ng-repeat="template in model.nopTemplates" ng-class="{'altrowstyle': rule.editable}" ng-class-even="rule.editable ? '' : 'k-alt'">

                    <td role="gridcell">{{template.Name}}</td>

                    <td role="gridcell">{{template.Subject}}</td>

                    <td role="gridcell" ng-show="model.showStoreInfo">{{template.StoreName}}</td>

                    <td role="gridcell">
                        <select ng-options="option.Name for option in model.NopClientListing track by option.Value"
                                ng-model="template.SelectedClient"
                                ng-change="getListForClient(template)"
                                ng-required="Required"
                                ng-disabled="template.IsLinked"></select>
                    </td>

                    <td role="gridcell">

                        <select ng-required="Required"
                                ng-show="template.SelectedClient"
                                ng-options="option.Name for option in template.ClientTransactionalTemplates track by option.Value"
                                ng-model="template.SelectedTransactionalTemplate"
                                ng-disabled="template.IsLinked"></select>
                    </td>

                    <td>
                        <button class="k-button" ng-click="linkMessageTemplate(template)" ng-show="!(template.IsLinked) && template.SelectedClient && template.SelectedTransactionalTemplate">Link</button>
                        <button class="k-button" ng-click="unlinkMessageTemplate(template)" ng-show="template.IsLinked">Unlink</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>