
.section .title {
	text-align: right;
}
.shipping-results {
	text-align: right;
}
.shipping-method .method-list,
.payment-method .method-list {
	text-align: right;
}
.payment-method .use-reward-points {
	text-align: right;
}
.payment-info {
	text-align: right;
}
.payment-info .info p {
	text-align: right;
}
.coupon-box-panel input[type="text"],
.giftcard-box-panel input[type="text"] {
	float: right;
}
.coupon-box-panel .coupon-code button,
.giftcard-box-panel .coupon-code button {
	float: right;
}
.total-info .cart-total button {
	margin-left: -10px;
}


@media all and (min-width:769px) {
	
.payment-method .payment-logo,
.payment-method .payment-details {
	margin: 0 0 0 10px;
    text-align: right;
}
.checkout-attributes li *:first-child {
	margin-right: 0 !important;
}
}

@media all and (min-width:1001px) {
	
.inputs label {
	text-align: right;
}
.ship-to-same-address {
	text-align: right !important;
}
.checkout-page .selected-checkout-attributes {
	text-align: left !important;
}
.payment-info .info tr {
	text-align: right;
}
.payment-info .info td:first-child {
	text-align: right !important;
}
.order-totals-panel {
	float: left;
	text-align: left;
}
.order-confirm,
.terms-of-service,
.complete-button {
	text-align: left !important;
}
.pickup-in-store .section-body {
    text-align: right;
}

.addon-buttons {
    text-align: left;
}

.addon-buttons > * {
    margin: 0 5px 5px 0;
}

}
