﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

@media all and (max-width: 768px) {

    .product-list .item-box .ribbon-wrapper {
        float: none;
    }

}

@media all and (min-width: 769px) {

    .product-list .item-box .ribbon-wrapper {
        width: 200px; /*set width according to theme design and layout*/
    }
    .product-list .item-box .ribbon-wrapper .picture {
        float: none;
        width: auto;
    }
	.product-list .item-box .ribbon-wrapper + .details {
		margin: 0 0 0 220px;
	}

}

@media all and (min-width: 1000px) {

    .gallery .ribbon-wrapper {
        float: left;
    }
    .jcarousel-item .ribbon-position {
        z-index: 0;
    }

}

@media all and (min-width: 1281px) {
	
	.product-list .item-box .ribbon-wrapper + .details {
		margin: 0 0 0 230px;
	}
	
}