﻿@{
    Layout = "";
}
@model FoxNetSoft.Plugin.ExternalAuth.Social.Models.ConfigurationModel
@using Nop.Web.Framework;
@using Nop.Core.Domain.Customers;
@using Nop.Services;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@Html.Action("Mode", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Settings.GeneralCommon")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.showDebugInfo)").click(toggleshowDebugInfo);
            toggleshowDebugInfo();

            $("#@Html.FieldIdFor(model => model.Facebook_Enable)").click(toggleRequireFacebook);
            $("#@Html.FieldIdFor(model => model.Yahoo_Enable)").click(toggleRequireYahoo);
            $("#@Html.FieldIdFor(model => model.Google_Enable)").click(toggleRequireGoogle);
            $("#@Html.FieldIdFor(model => model.Twitter_Enable)").click(toggleRequireTwitter);
            $("#@Html.FieldIdFor(model => model.LinkedIn_Enable)").click(toggleRequireLinkedIn);
            $("#@Html.FieldIdFor(model => model.MailRu_Enable)").click(toggleRequireMailRu);
            $("#@Html.FieldIdFor(model => model.Yandex_Enable)").click(toggleRequireYandex);
            $("#@Html.FieldIdFor(model => model.Vk_Enable)").click(toggleRequireVk);
            $("#@Html.FieldIdFor(model => model.Amazon_Enable)").click(toggleRequireAmazon);
            $("#@Html.FieldIdFor(model => model.Microsoft_Enable)").click(toggleRequireMicrosoft);
            $("#@Html.FieldIdFor(model => model.PayPal_Enable)").click(toggleRequirePayPal);
            $("#@Html.FieldIdFor(model => model.Instagram_Enable)").click(toggleRequireInstagram);
            $("#@Html.FieldIdFor(model => model.FoursQuare_Enable)").click(toggleRequireFoursQuare);
            $("#@Html.FieldIdFor(model => model.Pinterest_Enable)").click(toggleRequirePinterest);
            $("#@Html.FieldIdFor(model => model.GitHub_Enable)").click(toggleRequireGitHub);
            $("#@Html.FieldIdFor(model => model.AccountKit_Enable)").click(toggleRequireAccountKit);
            $("#@Html.FieldIdFor(model => model.Salesforce_Enable)").click(toggleRequireSalesforce);

            toggleRequireFacebook();
            toggleRequireYahoo();
            toggleRequireGoogle();
            toggleRequireTwitter();
            toggleRequireLinkedIn();
            toggleRequireMailRu();
            toggleRequireYandex();
            toggleRequireVk();
            toggleRequireAmazon();
            toggleRequireMicrosoft();
            toggleRequirePayPal();
            toggleRequireInstagram();
            toggleRequireFoursQuare();
            toggleRequirePinterest();
            toggleRequireGitHub();
            toggleRequireAccountKit();
            toggleRequireSalesforce();
        });

        function toggleshowDebugInfo() {
            if ($('#@Html.FieldIdFor(model => model.showDebugInfo)').is(':checked')) {
                $('#pnlclearlogfile, #pnlgetlogfile').show();
            }
            else {
                $('#pnlclearlogfile, #pnlgetlogfile').hide();
            }
        }

        function toggleRequireFacebook() {
            if ($('#@Html.FieldIdFor(model => model.Facebook_Enable)').is(':checked')) {
                $('#pnlFacebook_ClientKeyIdentifier, #pnlFacebook_ClientSecret, #pnlFacebook_CallbackURI, #pnlFacebook_UserRegistrationType, #pnlFacebook_UsePopUpForm, #pnlFacebook_Birthday, #pnlFacebook_Avatar').show();
            }
            else {
                $('#pnlFacebook_ClientKeyIdentifier, #pnlFacebook_ClientSecret, #pnlFacebook_CallbackURI, #pnlFacebook_UserRegistrationType, #pnlFacebook_UsePopUpForm, #pnlFacebook_Birthday, #pnlFacebook_Avatar').hide();
            }
        }

        function toggleRequireYahoo() {
            if ($('#@Html.FieldIdFor(model => model.Yahoo_Enable)').is(':checked')) {
                $('#pnlYahoo_UserRegistrationType').show();
            }
            else {
                $('#pnlYahoo_UserRegistrationType').hide();
            }
        }

        function toggleRequireGoogle() {
            if ($('#@Html.FieldIdFor(model => model.Google_Enable)').is(':checked')) {
                $('#pnlGoogle_ClientKeyIdentifier').show();
                $('#pnlGoogle_ClientSecret').show();
                $('#pnlGoogle_CallbackURI').show();
                $('#pnlGoogle_UserRegistrationType').show();
                $('#pnlGoogle_Birthday').show();
                $('#pnlGoogle_Avatar').show();
            }
            else {
                $('#pnlGoogle_ClientKeyIdentifier').hide();
                $('#pnlGoogle_ClientSecret').hide();
                $('#pnlGoogle_CallbackURI').hide();
                $('#pnlGoogle_UserRegistrationType').hide();
                $('#pnlGoogle_Birthday').hide();
                $('#pnlGoogle_Avatar').hide();
            }
        }

        function toggleRequireTwitter() {
            if ($('#@Html.FieldIdFor(model => model.Twitter_Enable)').is(':checked')) {
                $('#pnlTwitter_ClientKeyIdentifier').show();
                $('#pnlTwitter_ClientSecret').show();
                $('#pnlTwitter_CallbackURI').show();
                $('#pnlTwitter_UserRegistrationType').show();
            }
            else {
                $('#pnlTwitter_ClientKeyIdentifier').hide();
                $('#pnlTwitter_ClientSecret').hide();
                $('#pnlTwitter_CallbackURI').hide();
                $('#pnlTwitter_UserRegistrationType').hide();
            }
        }

        function toggleRequireLinkedIn() {
            if ($('#@Html.FieldIdFor(model => model.LinkedIn_Enable)').is(':checked')) {
                $('#pnlLinkedIn_ClientKeyIdentifier').show();
                $('#pnlLinkedIn_ClientSecret').show();
                $('#pnlLinkedIn_CallbackURI').show();
                $('#pnlLinkedIn_UserRegistrationType').show();
            }
            else {
                $('#pnlLinkedIn_ClientKeyIdentifier').hide();
                $('#pnlLinkedIn_ClientSecret').hide();
                $('#pnlLinkedIn_CallbackURI').hide();
                $('#pnlLinkedIn_UserRegistrationType').hide();
            }
        }

        function toggleRequireMailRu() {
            if ($('#@Html.FieldIdFor(model => model.MailRu_Enable)').is(':checked')) {
                $('#pnlMailRu_ClientKeyIdentifier').show();
                $('#pnlMailRu_ClientSecret').show();
                $('#pnlMailRu_CallbackURI').show();
                $('#pnlMailRu_UserRegistrationType').show();
            }
            else {
                $('#pnlMailRu_ClientKeyIdentifier').hide();
                $('#pnlMailRu_ClientSecret').hide();
                $('#pnlMailRu_CallbackURI').hide();
                $('#pnlMailRu_UserRegistrationType').hide();
            }
        }

        function toggleRequireYandex() {
            if ($('#@Html.FieldIdFor(model => model.Yandex_Enable)').is(':checked')) {
                $('#pnlYandex_ClientKeyIdentifier').show();
                $('#pnlYandex_ClientSecret').show();
                $('#pnlYandex_CallbackURI').show();
                $('#pnlYandex_UserRegistrationType').show();
            }
            else {
                $('#pnlYandex_ClientKeyIdentifier').hide();
                $('#pnlYandex_ClientSecret').hide();
                $('#pnlYandex_CallbackURI').hide();
                $('#pnlYandex_UserRegistrationType').hide();
            }
        }
        function toggleRequireVk() {
            if ($('#@Html.FieldIdFor(model => model.Vk_Enable)').is(':checked')) {
                $('#pnlVk_ClientKeyIdentifier').show();
                $('#pnlVk_ClientSecret').show();
                $('#pnlVk_CallbackURI').show();
                $('#pnlVk_UserRegistrationType').show();
            }
            else {
                $('#pnlVk_ClientKeyIdentifier').hide();
                $('#pnlVk_ClientSecret').hide();
                $('#pnlVk_CallbackURI').hide();
                $('#pnlVk_UserRegistrationType').hide();
            }
        }

        function toggleRequireAmazon() {
            if ($('#@Html.FieldIdFor(model => model.Amazon_Enable)').is(':checked')) {
                $('#pnlAmazon_ClientKeyIdentifier, #pnlAmazon_ClientSecret, #pnlAmazon_CallbackURI, #pnlAmazon_UserRegistrationType').show();
            }
            else {
                $('#pnlAmazon_ClientKeyIdentifier, #pnlAmazon_ClientSecret, #pnlAmazon_CallbackURI, #pnlAmazon_UserRegistrationType').hide();
            }
        }
        function toggleRequireMicrosoft() {
            if ($('#@Html.FieldIdFor(model => model.Microsoft_Enable)').is(':checked')) {
                $('#pnlMicrosoft_ClientKeyIdentifier').show();
                $('#pnlMicrosoft_ClientSecret').show();
                $('#pnlMicrosoft_CallbackURI').show();
                $('#pnlMicrosoft_UserRegistrationType').show();
            }
            else {
                $('#pnlMicrosoft_ClientKeyIdentifier').hide();
                $('#pnlMicrosoft_ClientSecret').hide();
                $('#pnlMicrosoft_CallbackURI').hide();
                $('#pnlMicrosoft_UserRegistrationType').hide();
            }
        }

        function toggleRequirePayPal() {
            if ($('#@Html.FieldIdFor(model => model.PayPal_Enable)').is(':checked')) {
                $('#pnlPayPal_Sandbox').show();
                $('#pnlPayPal_ClientKeyIdentifier').show();
                $('#pnlPayPal_ClientSecret').show();
                $('#pnlPayPal_CallbackURI').show();
                $('#pnlPayPal_UserRegistrationType').show();
            }
            else {
                $('#pnlPayPal_Sandbox').hide();
                $('#pnlPayPal_ClientKeyIdentifier').hide();
                $('#pnlPayPal_ClientSecret').hide();
                $('#pnlPayPal_CallbackURI').hide();
                $('#pnlPayPal_UserRegistrationType').hide();
            }
        }

        function toggleRequireInstagram() {
            if ($('#@Html.FieldIdFor(model => model.Instagram_Enable)').is(':checked')) {
                $('#pnlInstagram_ClientKeyIdentifier').show();
                $('#pnlInstagram_ClientSecret').show();
                $('#pnlInstagram_CallbackURI').show();
                $('#pnlInstagram_UserRegistrationType').show();
            }
            else {
                $('#pnlInstagram_ClientKeyIdentifier').hide();
                $('#pnlInstagram_ClientSecret').hide();
                $('#pnlInstagram_CallbackURI').hide();
                $('#pnlInstagram_UserRegistrationType').hide();
            }
        }

        function toggleRequireFoursQuare() {
            if ($('#@Html.FieldIdFor(model => model.FoursQuare_Enable)').is(':checked')) {
                $('#pnlFoursQuare_ClientKeyIdentifier').show();
                $('#pnlFoursQuare_ClientSecret').show();
                $('#pnlFoursQuare_CallbackURI').show();
                $('#pnlFoursQuare_UserRegistrationType').show();
            }
            else {
                $('#pnlFoursQuare_ClientKeyIdentifier').hide();
                $('#pnlFoursQuare_ClientSecret').hide();
                $('#pnlFoursQuare_CallbackURI').hide();
                $('#pnlFoursQuare_UserRegistrationType').hide();
            }
        }

        function toggleRequirePinterest() {
            if ($('#@Html.FieldIdFor(model => model.Pinterest_Enable)').is(':checked')) {
                $('#pnlPinterest_ClientKeyIdentifier, #pnlPinterest_ClientSecret, #pnlPinterest_CallbackURI, #pnlPinterest_UserRegistrationType').show();
            }
            else {
                $('#pnlPinterest_ClientKeyIdentifier, #pnlPinterest_ClientSecret, #pnlPinterest_CallbackURI, #pnlPinterest_UserRegistrationType').hide();
            }
        }

        function toggleRequireGitHub() {
            if ($('#@Html.FieldIdFor(model => model.GitHub_Enable)').is(':checked')) {
                $('#pnlGitHub_ClientKeyIdentifier, #pnlGitHub_ClientSecret, #pnlGitHub_CallbackURI, #pnlGitHub_UserRegistrationType').show();
            }
            else {
                $('#pnlGitHub_ClientKeyIdentifier, #pnlGitHub_ClientSecret, #pnlGitHub_CallbackURI, #pnlGitHub_UserRegistrationType').hide();
            }
        }

        function toggleRequireAccountKit() {
            if ($('#@Html.FieldIdFor(model => model.AccountKit_Enable)').is(':checked')) {
                $('#pnlAccountKit_ClientKeyIdentifier, #pnlAccountKit_ClientSecret, #pnlAccountKit_UserRegistrationType, #pnlAccountKit_Disable_CSRF').show();
            }
            else {
                $('#pnlAccountKit_ClientKeyIdentifier, #pnlAccountKit_ClientSecret, #pnlAccountKit_UserRegistrationType, #pnlAccountKit_Disable_CSRF').hide();
            }
        }
        function toggleRequireSalesforce() {
            if ($('#@Html.FieldIdFor(model => model.Salesforce_Enable)').is(':checked')) {
                $('#pnlSalesforce_ClientKeyIdentifier, #pnlSalesforce_ClientSecret, #pnlSalesforce_CallbackURI, #pnlSalesforce_UserRegistrationType').show();
            }
            else {
                $('#pnlSalesforce_ClientKeyIdentifier, #pnlSalesforce_ClientSecret, #pnlSalesforce_CallbackURI, #pnlSalesforce_UserRegistrationType').hide();
            }
        }
    </script>
    <div class="content">
        <div class="form-horizontal">
    @Html.ValidationSummary(false)
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    @if (Model.IsRegisted == true)
                    {
                        @T("FoxNetSoft.ExternalAuth.Social.IsRegisted")
                    }
                    else
                    {
                        @T("FoxNetSoft.ExternalAuth.Social.IsNoRegisted")
                        <br />
                        <a href="http://www.foxnetsoft.com/nopcommerce-exauthsocial" target="blank">Buy It Now</a>
                    }
                </p>
            <p>
                <b>Important:</b><br />
                <p>
                    It is important to do the following<br />
                    After installing the plug-in you shall:<br />
                    1. In menu, select “Configuration-External authentication methods” and check “Is active” box. <br />
                    <br />
                    The plug-in is fully functional. Unregistered version has one limitation – 50 users.
                </p>
            </p>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.IsActive)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.IsActive)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.AutoRegisterEnabled)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.AutoRegisterEnabled)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.RedirectUrlAfterLogin)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.RedirectUrlAfterLogin)
                    @Html.ValidationMessageFor(model => model.RedirectUrlAfterLogin)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ShowButtonOnRegisterPage)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.ShowButtonOnRegisterPage)
                    @Html.ValidationMessageFor(model => model.ShowButtonOnRegisterPage)
                </div>
            </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Facebook")</b>
                    <br />
                    Manage your applications <a href="https://developers.facebook.com/apps?ref=mb" target="blank">https://developers.facebook.com/apps?ref=mb</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Facebook_Enable_OverrideForStore, model => model.Facebook_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Facebook_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Facebook_Enable)
                        @Html.ValidationMessageFor(model => model.Facebook_Enable)
                    </div>
                </div>
                    <div class="form-group" id="pnlFacebook_ClientKeyIdentifier">
                        <div class="col-md-3">
                            @Html.OverrideStoreCheckboxFor(model => model.Facebook_ClientKeyIdentifier_OverrideForStore, model => model.Facebook_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.Facebook_ClientKeyIdentifier)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Facebook_ClientKeyIdentifier)
                        </div>
                    </div>
                    <div class="form-group" id="pnlFacebook_ClientSecret">
                        <div class="col-md-3">
                            @Html.OverrideStoreCheckboxFor(model => model.Facebook_ClientSecret_OverrideForStore, model => model.Facebook_ClientSecret, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.Facebook_ClientSecret)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Facebook_ClientSecret)
                        </div>
                    </div>
                    <div class="form-group" id="pnlFacebook_CallbackURI">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Facebook_CallbackURI)
                        </div>
                        <div class="col-md-9">
                            <b>@Model.Facebook_CallbackURI</b>
                        </div>
                    </div>
                    <div class="form-group" id="pnlFacebook_UserRegistrationType">
                        <div class="col-md-3">
                            @Html.OverrideStoreCheckboxFor(model => model.Facebook_UserRegistrationType_OverrideForStore, model => model.Facebook_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.Facebook_UserRegistrationType)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.Facebook_UserRegistrationType, ((UserRegistrationType)Model.Facebook_UserRegistrationType).ToSelectList())
                        </div>
                    </div>
                    <div class="form-group" id="pnlFacebook_UsePopUpForm">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Facebook_UsePopUpForm)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Facebook_UsePopUpForm)
                            @Html.ValidationMessageFor(model => model.Facebook_UsePopUpForm)
                        </div>
                    </div>
                    <div class="form-group" id="pnlFacebook_Birthday">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Facebook_Birthday)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Facebook_Birthday)
                            @Html.ValidationMessageFor(model => model.Facebook_Birthday)
                        </div>
                    </div>
                    <div class="form-group" id="pnlFacebook_Avatar">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Facebook_Avatar)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Facebook_Avatar)
                            @Html.ValidationMessageFor(model => model.Facebook_Avatar)
                        </div>
                    </div>
                </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                        <p>
                            <b>@T("FoxNetSoft.ExternalAuth.Social.Yahoo")</b>
                        </p>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.Yahoo_Enable_OverrideForStore, model => model.Yahoo_Enable, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.Yahoo_Enable)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Yahoo_Enable)
                            </div>
                        </div>
                        <div class="form-group"  id="pnlYahoo_UserRegistrationType">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.Yahoo_UserRegistrationType_OverrideForStore, model => model.Yahoo_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.Yahoo_UserRegistrationType)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownListFor(model => model.Yahoo_UserRegistrationType, ((UserRegistrationType)Model.Yahoo_UserRegistrationType).ToSelectList())
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                        <p>
                            <b>@T("FoxNetSoft.ExternalAuth.Social.Google")</b>
                            <br />
                            Manage your applications <a href="https://console.developers.google.com/project" target="blank">Google Developers Console</a>
                        </p>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.Google_Enable_OverrideForStore, model => model.Google_Enable, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.Google_Enable)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Google_Enable)
                            </div>
                        </div>
                        <div class="form-group"  id="pnlGoogle_ClientKeyIdentifier">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.Google_ClientKeyIdentifier_OverrideForStore, model => model.Google_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.Google_ClientKeyIdentifier)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Google_ClientKeyIdentifier)
                            </div>
                        </div>
                        <div class="form-group"  id="pnlGoogle_ClientSecret">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.Google_ClientSecret_OverrideForStore, model => model.Google_ClientSecret, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.Google_ClientSecret)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Google_ClientSecret)
                            </div>
                        </div>
                        <div class="form-group"  id="pnlGoogle_CallbackURI">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Google_CallbackURI)
                            </div>
                            <div class="col-md-9">
                                <b>@Model.Google_CallbackURI</b>
                            </div>
                        </div>
                        <div class="form-group"  id="pnlGoogle_UserRegistrationType">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.Google_UserRegistrationType_OverrideForStore, model => model.Google_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.Google_UserRegistrationType)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownListFor(model => model.Google_UserRegistrationType, ((UserRegistrationType)Model.Google_UserRegistrationType).ToSelectList())
                            </div>
                        </div>
                        @*<div class="form-group"  id="pnlGoogle_Birthday">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.Google_Birthday)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.Google_Birthday)
                                    @Html.ValidationMessageFor(model => model.Google_Birthday)
                                </div>
                            </div>*@
                        <div class="form-group"  id="pnlGoogle_Avatar">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Google_Avatar)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Google_Avatar)
                                @Html.ValidationMessageFor(model => model.Google_Avatar)
                    </div>
                </div>
            </div>
        </div>
<div class="panel panel-default">
    <div class="panel-body">
        <p>
                <b>@T("FoxNetSoft.ExternalAuth.Social.Twitter")</b>
                <br />
                Manage your applications <a href="https://dev.twitter.com/apps" target="blank">https://dev.twitter.com/apps</a>
                <br />
                Twitter doesn't give email. Plugin creates virtual email, etc username@twitter.com
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Twitter_Enable_OverrideForStore, model => model.Twitter_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Twitter_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Twitter_Enable)
                    </div>
                </div>
                <div class="form-group"  id="pnlTwitter_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Twitter_ClientKeyIdentifier_OverrideForStore, model => model.Twitter_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Twitter_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Twitter_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group"  id="pnlTwitter_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Twitter_ClientSecret_OverrideForStore, model => model.Twitter_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Twitter_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Twitter_ClientSecret)
                    </div>
                </div>
                <div class="form-group"  id="pnlTwitter_CallbackURI">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Twitter_CallbackURI)
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Twitter_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group"  id="pnlTwitter_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Twitter_UserRegistrationType_OverrideForStore, model => model.Twitter_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Twitter_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.Twitter_UserRegistrationType, ((UserRegistrationType)Model.Twitter_UserRegistrationType).ToSelectList())
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.LinkedIn")</b>
                    <br />
                    Manage your applications <a href="https://www.linkedin.com/secure/developer" target="blank">https://www.linkedin.com/secure/developer</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.LinkedIn_Enable_OverrideForStore, model => model.LinkedIn_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.LinkedIn_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.LinkedIn_Enable)
                    </div>
                </div>
                <div class="form-group"  id="pnlLinkedIn_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.LinkedIn_ClientKeyIdentifier_OverrideForStore, model => model.LinkedIn_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.LinkedIn_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.LinkedIn_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group"  id="pnlLinkedIn_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.LinkedIn_ClientSecret_OverrideForStore, model => model.LinkedIn_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.LinkedIn_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.LinkedIn_ClientSecret)
                    </div>
                </div>
                <div class="form-group"  id="pnlLinkedIn_CallbackURI">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.LinkedIn_CallbackURI)
                    </div>
                    <div class="col-md-9">
                        <b>@Model.LinkedIn_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group"  id="pnlLinkedIn_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.LinkedIn_UserRegistrationType_OverrideForStore, model => model.LinkedIn_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.LinkedIn_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.LinkedIn_UserRegistrationType, ((UserRegistrationType)Model.LinkedIn_UserRegistrationType).ToSelectList())
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
                <p>
                <b>@T("FoxNetSoft.ExternalAuth.Social.MailRu")</b>
                <br />
                Manage your applications <a href="http://api.mail.ru/sites/my/" target="blank">http://api.mail.ru/sites/my/</a>
                    </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MailRu_Enable_OverrideForStore, model => model.MailRu_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MailRu_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MailRu_Enable)
                    </div>
                </div>
                <div class="form-group"  id="pnlMailRu_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MailRu_ClientKeyIdentifier_OverrideForStore, model => model.MailRu_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MailRu_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MailRu_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group"  id="pnlMailRu_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MailRu_ClientSecret_OverrideForStore, model => model.MailRu_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MailRu_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MailRu_ClientSecret)
                    </div>
                </div>
                <div class="form-group"  id="pnlMailRu_CallbackURI">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.MailRu_CallbackURI)
                    </div>
                    <div class="col-md-9">
                        <b>@Model.MailRu_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group"  id="pnlMailRu_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MailRu_UserRegistrationType_OverrideForStore, model => model.MailRu_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MailRu_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.MailRu_UserRegistrationType, ((UserRegistrationType)Model.MailRu_UserRegistrationType).ToSelectList())
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Yandex")</b>
                    <br />
                    Manage your applications <a href="https://oauth.yandex.ru/" target="blank">https://oauth.yandex.ru/</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Yandex_Enable_OverrideForStore, model => model.Yandex_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Yandex_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Yandex_Enable)
                    </div>
                </div>
                <div class="form-group"  id="pnlYandex_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Yandex_ClientKeyIdentifier_OverrideForStore, model => model.Yandex_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Yandex_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Yandex_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group"  id="pnlYandex_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Yandex_ClientSecret_OverrideForStore, model => model.Yandex_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Yandex_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Yandex_ClientSecret)
                    </div>
                </div>
                <div class="form-group"  id="pnlYandex_CallbackURI">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Yandex_CallbackURI)
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Yandex_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group"  id="pnlYandex_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Yandex_UserRegistrationType_OverrideForStore, model => model.Yandex_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Yandex_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.Yandex_UserRegistrationType, ((UserRegistrationType)Model.Yandex_UserRegistrationType).ToSelectList())
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Vk")</b>
                    <br />
                    Manage your applications <a href="http://vk.com/dev" target="blank">http://vk.com/dev</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Vk_Enable_OverrideForStore, model => model.Vk_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Vk_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Vk_Enable)
                    </div>
                </div>
                <div class="form-group"  id="pnlVk_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Vk_ClientKeyIdentifier_OverrideForStore, model => model.Vk_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Vk_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Vk_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group"  id="pnlVk_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Vk_ClientSecret_OverrideForStore, model => model.Vk_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Vk_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Vk_ClientSecret)
                    </div>
                </div>
                <div class="form-group"  id="pnlVk_CallbackURI">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Vk_CallbackURI)
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Vk_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group"  id="pnlVk_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Vk_UserRegistrationType_OverrideForStore, model => model.Vk_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Vk_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.Vk_UserRegistrationType, ((UserRegistrationType)Model.Vk_UserRegistrationType).ToSelectList())
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Amazon")</b>
                    <br />
                    Manage your applications <a href="http://login.amazon.com/manageApps" target="blank">http://login.amazon.com/manageApps</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Amazon_Enable_OverrideForStore, model => model.Amazon_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Amazon_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Amazon_Enable)
                    </div>
                </div>
                <div class="form-group"  id="pnlAmazon_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Amazon_ClientKeyIdentifier_OverrideForStore, model => model.Amazon_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Amazon_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Amazon_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group"  id="pnlAmazon_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Amazon_ClientSecret_OverrideForStore, model => model.Amazon_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Amazon_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Amazon_ClientSecret)
                    </div>
                </div>
                <div class="form-group"  id="pnlAmazon_CallbackURI">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Amazon_CallbackURI)
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Amazon_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group"  id="pnlAmazon_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Amazon_UserRegistrationType_OverrideForStore, model => model.Amazon_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Amazon_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.Amazon_UserRegistrationType, ((UserRegistrationType)Model.Amazon_UserRegistrationType).ToSelectList())
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Microsoft")</b>
                    <br />
                    Manage your applications <a href="https://account.live.com/developers/applications" target="blank">https://account.live.com/developers/applications</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Microsoft_Enable_OverrideForStore, model => model.Microsoft_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Microsoft_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Microsoft_Enable)
                    </div>
                </div>
                <div class="form-group"  id="pnlMicrosoft_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Microsoft_ClientKeyIdentifier_OverrideForStore, model => model.Microsoft_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Microsoft_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Microsoft_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group"  id="pnlMicrosoft_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Microsoft_ClientSecret_OverrideForStore, model => model.Microsoft_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Microsoft_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Microsoft_ClientSecret)
                    </div>
                </div>
                <div class="form-group"  id="pnlMicrosoft_CallbackURI">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Microsoft_CallbackURI)
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Microsoft_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group"  id="pnlMicrosoft_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Microsoft_UserRegistrationType_OverrideForStore, model => model.Microsoft_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Microsoft_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.Microsoft_UserRegistrationType, ((UserRegistrationType)Model.Microsoft_UserRegistrationType).ToSelectList())
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.PayPal")</b>
                    <br />
                    Manage your applications <a href="https://developer.paypal.com/webapps/developer/applications/myapps" target="blank">https://developer.paypal.com/webapps/developer/applications/myapps</a>
                    <br />
                    Read our documentation <a href="http://foxnetsoft.com/t/nopexauthsocial#step18" target="blank">http://foxnetsoft.com/t/nopexauthsocial#step18</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PayPal_Enable_OverrideForStore, model => model.PayPal_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PayPal_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.PayPal_Enable)
                    </div>
                </div>
                <div class="form-group"  id="pnlPayPal_Sandbox">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PayPal_Sandbox_OverrideForStore, model => model.PayPal_Sandbox, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PayPal_Sandbox)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.PayPal_Sandbox)
                    </div>
                </div>
                <div class="form-group"  id="pnlPayPal_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PayPal_ClientKeyIdentifier_OverrideForStore, model => model.PayPal_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PayPal_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.PayPal_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group"  id="pnlPayPal_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PayPal_ClientSecret_OverrideForStore, model => model.PayPal_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PayPal_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.PayPal_ClientSecret)
                    </div>
                </div>
                <div class="form-group"  id="pnlPayPal_CallbackURI">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.PayPal_CallbackURI)
                    </div>
                    <div class="col-md-9">
                        <b>@Model.PayPal_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group"  id="pnlPayPal_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PayPal_UserRegistrationType_OverrideForStore, model => model.PayPal_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PayPal_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.PayPal_UserRegistrationType, ((UserRegistrationType)Model.PayPal_UserRegistrationType).ToSelectList())
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Instagram")</b>
                    <br />
                    Manage your applications <a href="http://instagram.com/developer/clients/manage/#" target="blank">http://instagram.com/developer/clients/manage/#</a>
                    <br />
                    Read our documentation <a href="http://instagram.com/developer/authentication/#" target="blank">http://instagram.com/developer/authentication/#</a>
                    <br />
                    Instagram doesn't give email. Plugin creates virtual email, etc username@instagram.com
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Instagram_Enable_OverrideForStore, model => model.Instagram_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Instagram_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Instagram_Enable)
                    </div>
                </div>
                <div class="form-group"  id="pnlInstagram_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Instagram_ClientKeyIdentifier_OverrideForStore, model => model.Instagram_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Instagram_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Instagram_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group"  id="pnlInstagram_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Instagram_ClientSecret_OverrideForStore, model => model.Instagram_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Instagram_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Instagram_ClientSecret)
                    </div>
                </div>
                <div class="form-group"  id="pnlInstagram_CallbackURI">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Instagram_CallbackURI)
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Instagram_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group"  id="pnlInstagram_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Instagram_UserRegistrationType_OverrideForStore, model => model.Instagram_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Instagram_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.Instagram_UserRegistrationType, ((UserRegistrationType)Model.Instagram_UserRegistrationType).ToSelectList())
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.FoursQuare")</b>
                    <br />
                    Manage your applications <a href="https://foursquare.com/developers/apps" target="blank">https://foursquare.com/developers/apps</a>
                    <br />
                    Read our documentation <a href="https://developer.foursquare.com/overview/auth" target="blank">https://developer.foursquare.com/overview/auth</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.FoursQuare_Enable_OverrideForStore, model => model.FoursQuare_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.FoursQuare_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.FoursQuare_Enable)
                    </div>
                </div>
                <div class="form-group"  id="pnlFoursQuare_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.FoursQuare_ClientKeyIdentifier_OverrideForStore, model => model.FoursQuare_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.FoursQuare_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.FoursQuare_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group"  id="pnlFoursQuare_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.FoursQuare_ClientSecret_OverrideForStore, model => model.FoursQuare_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.FoursQuare_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.FoursQuare_ClientSecret)
                    </div>
                </div>
                <div class="form-group"  id="pnlFoursQuare_CallbackURI">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.FoursQuare_CallbackURI)
                    </div>
                    <div class="col-md-9">
                        <b>@Model.FoursQuare_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group"  id="pnlFoursQuare_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.FoursQuare_UserRegistrationType_OverrideForStore, model => model.FoursQuare_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.FoursQuare_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.FoursQuare_UserRegistrationType, ((UserRegistrationType)Model.FoursQuare_UserRegistrationType).ToSelectList())
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Pinterest")</b>
                    <br />
                    Manage your applications <a href="https://developers.pinterest.com/manage/" target="blank">https://developers.pinterest.com/manage/</a>
                    <br />
                    Read our documentation <a href="https://developers.pinterest.com/docs/api/users/" target="blank">https://developers.pinterest.com/docs/api/users/</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Pinterest_Enable_OverrideForStore, model => model.Pinterest_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Pinterest_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Pinterest_Enable)
                    </div>
                </div>
                <div class="form-group"  id="pnlPinterest_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Pinterest_ClientKeyIdentifier_OverrideForStore, model => model.Pinterest_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Pinterest_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Pinterest_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group"  id="pnlPinterest_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Pinterest_ClientSecret_OverrideForStore, model => model.Pinterest_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Pinterest_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Pinterest_ClientSecret)
                    </div>
                </div>
                <div class="form-group"  id="pnlPinterest_CallbackURI">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Pinterest_CallbackURI)
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Pinterest_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group"  id="pnlPinterest_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Pinterest_UserRegistrationType_OverrideForStore, model => model.Pinterest_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Pinterest_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.Pinterest_UserRegistrationType, ((UserRegistrationType)Model.Pinterest_UserRegistrationType).ToSelectList())
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.GitHub")</b>
                    <br />
                    Manage your applications <a href="https://github.com/settings/developers" target="blank">https://github.com/settings/developers</a>
                    <br />
                    Read our documentation <a href="https://developer.github.com/v3/oauth" target="blank">https://developer.github.com/v3/oauth</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.GitHub_Enable_OverrideForStore, model => model.GitHub_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.GitHub_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.GitHub_Enable)
                    </div>
                </div>
                <div class="form-group"  id="pnlGitHub_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.GitHub_ClientKeyIdentifier_OverrideForStore, model => model.GitHub_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.GitHub_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.GitHub_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group"  id="pnlGitHub_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.GitHub_ClientSecret_OverrideForStore, model => model.GitHub_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.GitHub_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.GitHub_ClientSecret)
                    </div>
                </div>
                <div class="form-group"  id="pnlGitHub_CallbackURI">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.GitHub_CallbackURI)
                    </div>
                    <div class="col-md-9">
                        <b>@Model.GitHub_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group"  id="pnlGitHub_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.GitHub_UserRegistrationType_OverrideForStore, model => model.GitHub_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.GitHub_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.GitHub_UserRegistrationType, ((UserRegistrationType)Model.GitHub_UserRegistrationType).ToSelectList())
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.AccountKit")</b>
                    <br />
                    Manage your applications <a href="https://developers.facebook.com/apps?ref=mb" target="blank">https://developers.facebook.com/apps?ref=mb</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AccountKit_Enable_OverrideForStore, model => model.AccountKit_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AccountKit_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AccountKit_Enable)
                        @Html.ValidationMessageFor(model => model.AccountKit_Enable)
                    </div>
                </div>
                <div class="form-group"  id="pnlAccountKit_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AccountKit_ClientKeyIdentifier_OverrideForStore, model => model.AccountKit_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AccountKit_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AccountKit_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group"  id="pnlAccountKit_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AccountKit_ClientSecret_OverrideForStore, model => model.AccountKit_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AccountKit_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AccountKit_ClientSecret)
                    </div>
                </div>
        <div class="form-group" id="pnlAccountKit_Disable_CSRF">
            <div class="col-md-3">
                @Html.OverrideStoreCheckboxFor(model => model.AccountKit_Disable_CSRF_OverrideForStore, model => model.AccountKit_Disable_CSRF, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AccountKit_Disable_CSRF)
            </div>
            <div class="col-md-9">
                @Html.NopEditorFor(model => model.AccountKit_Disable_CSRF)
            </div>
        </div>
                <div class="form-group"  id="pnlAccountKit_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AccountKit_UserRegistrationType_OverrideForStore, model => model.AccountKit_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AccountKit_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.AccountKit_UserRegistrationType, ((UserRegistrationType)Model.AccountKit_UserRegistrationType).ToSelectList())
            </div>
        </div>
    </div>
</div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Salesforce")</b>
                    <br />
                    Manage your applications <a href="https://help.salesforce.com/articleView?id=connected_app_create.htm&language=en_US&type=0" target="blank">https://help.salesforce.com/articleView?id=connected_app_create.htm&language=en_US&type=0</a>
                    <br />
                    Read our documentation <a href="https://help.salesforce.com/articleView?id=connected_app_create.htm&language=en_US&type=0" target="blank">https://help.salesforce.com/articleView?id=connected_app_create.htm&language=en_US&type=0</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Salesforce_Enable_OverrideForStore, model => model.Salesforce_Enable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Salesforce_Enable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Salesforce_Enable)
                    </div>
                </div>
                <div class="form-group" id="pnlSalesforce_ClientKeyIdentifier">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Salesforce_ClientKeyIdentifier_OverrideForStore, model => model.Salesforce_ClientKeyIdentifier, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Salesforce_ClientKeyIdentifier)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Salesforce_ClientKeyIdentifier)
                    </div>
                </div>
                <div class="form-group" id="pnlSalesforce_ClientSecret">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Salesforce_ClientSecret_OverrideForStore, model => model.Salesforce_ClientSecret, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Salesforce_ClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Salesforce_ClientSecret)
                    </div>
                </div>
                <div class="form-group" id="pnlSalesforce_CallbackURI">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Salesforce_CallbackURI)
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Salesforce_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group" id="pnlSalesforce_UserRegistrationType">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Salesforce_UserRegistrationType_OverrideForStore, model => model.Salesforce_UserRegistrationType, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Salesforce_UserRegistrationType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.Salesforce_UserRegistrationType, ((UserRegistrationType)Model.Salesforce_UserRegistrationType).ToSelectList())
                    </div>
                </div>
            </div>
        </div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.showDebugInfo)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.showDebugInfo)
                    @Html.ValidationMessageFor(model => model.showDebugInfo)
                    <div id="pnlclearlogfile">
                        @*                       <input type="submit" name="clearfile" class="k-button" value="@T("FoxNetSoft.ExternalAuth.Social.ClearLogFile")" />*@
                        <a href="@Url.Action("ClearLogFile")" class="k-button">@T("FoxNetSoft.ExternalAuth.Social.ClearLogFile")</a>
                    </div>
                    <div id="pnlgetlogfile">
                        <a href="@Url.Action("GetLogFile")" class="k-button">@T("FoxNetSoft.ExternalAuth.Social.GetLogFile")</a>
                    </div>
                </div>
                        </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.StoreUrl)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopDisplayFor(model => model.StoreUrl)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.SerialNumber)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.SerialNumber)
                                    </div>
                                </div>
                                    <p>
                                        Installation and configuring plug-in at Youtube <a href="http://www.youtube.com/foxnetsoft" target="blank">www.youtube.com/foxnetsoft</a>
                                        <br />
                                        Installation and configuring plug-in at our site <a href="http://www.foxnetsoft.com/t/NopExAuthSocial" target="blank">http://www.foxnetsoft.com/t/NopExAuthSocial</a>
                                        <br />
                                        <a href="http://www.foxnetsoft.com" target="blank">www.foxnetsoft.com</a>
                                    </p>
                        </div>
                    </div>
                </div>
            </div>
   </div>
}
