﻿@using Nop.Web.Framework.UI
@using FoxNetSoft.Plugin.ExternalAuth.Social.Models
@model FoxNetSoft.Plugin.ExternalAuth.Social.Models.PublicInfoModel
@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/FoxNetSoft.ExAuthSocial/Content/socialstyles.css");   
}
<div class="social-login-blocks">
@if (Model.Facebook_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.Facebook.Login")</legend>
        @if (!Model.Facebook_UsePopUpForm)
        {
            <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.FacebookLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"]})" class="exoauth_btn social-facebook-btn"></a>
        }
        else
        {
            <div id="fb-root"></div> 
            <a href="#" onclick="fb_login();" class="exoauth_btn social-facebook-btn"></a>
        <script type="text/javascript">
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '@Model.Facebook_ClientKeyIdentifier',
                    oauth: true,
                    status: true, // check login status
                    cookie: true, // enable cookies to allow the server to access the session
                    xfbml: true // parse XFBML
                });

            };

            function fb_login() {
                FB.login(function (response) {

                    if (response.authResponse) {
                        console.log('Welcome!  Fetching your information.... ');
                        //console.log(response); // dump complete info
                        access_token = response.authResponse.accessToken; //get access token
                        user_id = response.authResponse.userID; //get FB UID
                        var returnurl = location.search.split('returnurl=')[1] ? location.search.split('returnurl=')[1] : '';
                        if ('@Model.ReturnUrl'.length > 0) {
                            returnurl = '@Model.ReturnUrl';
                        }

                        $.ajax({
                            cache: false,
                            url: '@Url.Action("FacebookLoginPopUp","ExternalAuthSocial")',
                                type: "POST",
                                data: { "access_token": access_token, "user_id": user_id, "returnurl": returnurl },
                                error: function () {
                                    alert("error logging in to your facebook account.");
                                },
                                success: function (response) {
                                    if (!response.success) {
                                        if (response.message)
                                            alert(response.message);
                                    }
                                    if (response.returnUrl && response.returnUrl.length > 0) {
                                        window.location.href = response.returnUrl;
                                    }
                                    else {
                                        window.location.reload();
                                    }
                                }
                            });

                        } else {
                        //user hit cancel button
                            console.log('User cancelled login or did not fully authorize.');

                        }
                }, {
                    scope: 'email'
                });
                }
                (function () {
                    var e = document.createElement('script');
                    e.src = document.location.protocol + '//connect.facebook.net/@(Model.Facebook_Locale)/all.js';
                    e.async = true;
                    document.getElementById('fb-root').appendChild(e);
                }());
        </script>
        }
    </fieldset>
}
@if (Model.Yahoo_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.Yahoo.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.YahooLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-yahoo-btn"></a>
    </fieldset>
}
@if (Model.Google_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.Google.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.GoogleLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-google-btn"></a>
    </fieldset>
}
@if (Model.LinkedIn_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.LinkedIn.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.LinkedInLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-linkedin-btn"></a>
    </fieldset>
}
@if (Model.MailRu_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.MailRu.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.MailRuLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-mailru-btn"></a>
    </fieldset>
}
@if (Model.Twitter_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.Twitter.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.TwitterLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-twitter-btn"></a>
    </fieldset>
}
@if (Model.Vk_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.Vk.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.VkLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-vk-btn"></a>
    </fieldset>
}
@if (Model.Yandex_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.Yandex.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.YandexLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-yandex-btn"></a>
    </fieldset>
}
@if (Model.Amazon_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.Amazon.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.AmazonLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-amazon-btn"></a>
    </fieldset>
}
@if (Model.Microsoft_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.Microsoft.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.MicrosoftLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-microsoft-btn"></a>
    </fieldset>
}
@if (Model.PayPal_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.PayPal.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.PayPalLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-paypal-btn"></a>
    </fieldset>
}
@if (Model.Instagram_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.Instagram.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.InstagramLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-instagram-btn"></a>
    </fieldset>
}
@if (Model.FoursQuare_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.FoursQuare.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.FoursQuareLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-foursquare-btn"></a>
    </fieldset>
}
@if (Model.Pinterest_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.Pinterest.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.PinterestLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-pinterest-btn"></a>
    </fieldset>
}
@if (Model.GitHub_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.GitHub.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.GitHubLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-github-btn"></a>
    </fieldset>
}
@if (Model.Salesforce_Enable == true)
{
    <fieldset class="social-login-block">
        <legend>@T("FoxNetSoft.ExternalAuth.Social.Salesforce.Login")</legend>
        <a href="@Url.RouteUrl("FoxNetSoft.Plugin.ExternalAuth.Social.SalesforceLogin", new { returnurl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="exoauth_btn social-salesforce-btn"></a>
    </fieldset>
}
</div>
