﻿@model Sws.Plugin.Payments.Ingenico.HostedPaymentPage.Models.ConfigurationModel
@{
    Layout = "";
}

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Steps to configure this plug-in:</h4>
                @*
                <ol>
                    <li>Log in to your <a href="https://secure.ogone.com/ncol/prod/backoffice/container/index" target="_blank">Ingenico account</a> or register.</li>
                    <li>Click on <b>Configuration</b>, <b>Users</b>.</li>
                    <li>Create a user with <b>Special user for API</b> and save and copy UserID and Password in the fields below.</li>
                    <li>Click on <b>Configuration</b>, <b>Technical information</b> and <b>Data and origin verification</b>.</li>
                    <li>Save and copy the SHA-IN pass phrase from <b>SHA-IN pass phrase</b> in the field SHA-IN pass phrase below.</li>
                    <li>Save your shops public IP address in the field IP address of Ingenico Admin interface.</li>
                </ol>
                *@
                <ol>
                    <li>Log in to your <a href="https://secure.ogone.com/ncol/prod/backoffice/container/index" target="_blank">Ingenico account</a> or register.</li>
                    <li>Click on <b>Configuration</b>, <b>Technical information</b> and <b>Data and origin verification</b>.</li>
                    <li>Save and copy the SHA-IN pass phrase from <b>SHA-IN pass phrase</b> in the field SHA-IN pass phrase below.</li>
                    <li>Click on <b>Configuration</b>, <b>Technical information</b> and <b>Transaction feedback</b>.</li>
                    <li>Save and copy the SHA-OUT pass phrase from <b>SHA-OUT pass phrase</b> in the field SHA-OUT pass phrase below.</li>
                    <li>Save your shops public IP address in the field IP address of Ingenico Admin interface.</li>
                </ol>
                <p>You are ready now to use this plug-in. Please do not hesitate to <a href="http://www.shop.sws-solutions.nl/contactus?utm_source=admin-panel&utm_medium=configure-ingenico-hosted-payment-page&utm_content=headerlink&utm_campaign=admin-panel" target="_blank">contact</a> us if you have any questions.</p>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PaymentDescriptionOverrideForStore, model => model.PaymentDescription, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PaymentDescription)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.PaymentDescription)
                        @Html.ValidationMessageFor(model => model.PaymentDescription)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFeeOverrideForStore, model => model.AdditionalFee, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFeePercentageOverrideForStore, model => model.AdditionalFeePercentage, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFeePercentage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFeePercentage)
                        @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MerchantIdOverrideForStore, model => model.MerchantId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MerchantId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MerchantId)
                        @Html.ValidationMessageFor(model => model.MerchantId)
                    </div>
                </div>

                @*
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MerchantAccountOverrideForStore, model => model.MerchantAccount, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MerchantAccount)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MerchantAccount)
                        @Html.ValidationMessageFor(model => model.MerchantAccount)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MerchantPasswordOverrideForStore, model => model.MerchantPassword, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MerchantPassword)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MerchantPassword)
                        @Html.ValidationMessageFor(model => model.MerchantPassword)
                    </div>
                </div>
                *@

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ShaInPassPhraseOverrideForStore, model => model.ShaInPassPhrase, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ShaInPassPhrase)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ShaInPassPhrase)
                        @Html.ValidationMessageFor(model => model.ShaInPassPhrase)
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ShaOutPassPhraseOverrideForStore, model => model.ShaOutPassPhrase, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ShaOutPassPhrase)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ShaOutPassPhrase)
                        @Html.ValidationMessageFor(model => model.ShaOutPassPhrase)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.HashAlgorithmIdOverrideForStore, model => model.HashAlgorithmId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.HashAlgorithmId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.HashAlgorithmId, Model.HashAlgorithmValues)
                        @Html.ValidationMessageFor(model => model.HashAlgorithmId)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.TransactModeIdOverrideForStore, model => model.TransactModeId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TransactModeId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.TransactModeId, Model.TransactModeValues)
                        @Html.ValidationMessageFor(model => model.TransactModeId)
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ShowPaymentInfoOverrideForStore, model => model.ShowPaymentInfo, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ShowPaymentInfo)
                    </div>
                    <div class="col-md-9">
                        @Html.CheckBoxFor(model => model.ShowPaymentInfo)
                        @Html.ValidationMessageFor(model => model.ShowPaymentInfo)
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.UseSandboxOverrideForStore, model => model.UseSandbox, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.UseSandbox)
                    </div>
                    <div class="col-md-9">
                        @Html.CheckBoxFor(model => model.UseSandbox)
                        @Html.ValidationMessageFor(model => model.UseSandbox)
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                Look and feel (optional)
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.TitlePageOverrideForStore, model => model.TitlePage, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TitlePage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.TitlePage)
                        @Html.ValidationMessageFor(model => model.TitlePage)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.BackgroundColorOverrideForStore, model => model.BackgroundColor, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.BackgroundColor)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.BackgroundColor)
                        @Html.ValidationMessageFor(model => model.BackgroundColor)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.TextColorOverrideForStore, model => model.TextColor, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TextColor)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.TextColor)
                        @Html.ValidationMessageFor(model => model.TextColor)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.TableBackgroundColorOverrideForStore, model => model.TableBackgroundColor, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TableBackgroundColor)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.TableBackgroundColor)
                        @Html.ValidationMessageFor(model => model.TableBackgroundColor)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.TableTextColorOverrideForStore, model => model.TableTextColor, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TableTextColor)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.TableTextColor)
                        @Html.ValidationMessageFor(model => model.TableTextColor)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ButtonBackgroundColorOverrideForStore, model => model.ButtonBackgroundColor, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ButtonBackgroundColor)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ButtonBackgroundColor)
                        @Html.ValidationMessageFor(model => model.ButtonBackgroundColor)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ButtonTextColorOverrideForStore, model => model.ButtonTextColor, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ButtonTextColor)
                    </div>
                    <div class="col-md-9">
                        @*Html.EditorFor(model => model.ButtonTextColor, "../../../Plugins/Sws.Payments.Ingenico.HostedPaymentPage/Views/Shared/EditorTemplates/ColorPicker")*@
                        @Html.NopEditorFor(model => model.ButtonTextColor)
                        @Html.ValidationMessageFor(model => model.ButtonTextColor)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.FontFamilyOverrideForStore, model => model.FontFamily, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.FontFamily)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.FontFamily)
                        @Html.ValidationMessageFor(model => model.FontFamily)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.LogoOverrideForStore, model => model.Logo, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Logo)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Logo)
                        @Html.ValidationMessageFor(model => model.Logo)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.TemplateOverrideForStore, model => model.Template, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Template)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Template)
                        @Html.ValidationMessageFor(model => model.Template)
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                Payment methods
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ActivePaymentMethodsOverrideForStore, model => model.ActivePaymentMethods, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ActivePaymentMethods)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ActivePaymentMethods)
                        @Html.ValidationMessageFor(model => model.ActivePaymentMethods)
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ExcludedPaymentMethodsOverrideForStore, model => model.ExcludedPaymentMethods, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ExcludedPaymentMethods)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ExcludedPaymentMethods)
                        @Html.ValidationMessageFor(model => model.ExcludedPaymentMethods)
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                SWS Solutions <a href="https://www.shop.sws-solutions.nl?utm_source=admin-panel&utm_medium=configure-ingenico-hosted-payment-page&utm_content=separatorlink&utm_campaign=admin-panel" target="_blank">(website)</a>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.LicenseKeyOverrideForStore, model => model.LicenseKey, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.LicenseKey)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.LicenseKey)
                        @Html.ValidationMessageFor(model => model.LicenseKey)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>

            </div>
        </div>
    </div>
}