﻿@model Sws.Plugin.Payments.Ingenico.HostedPaymentPage.Models.PaymentInfoModel
@{
    Layout = "";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            @T("Sws.Plugin.Payments.Ingenico.HostedPaymentPage.RedirectionTip")
        </td>
    </tr>
</table>