﻿@{
    Layout = "";
}
@model Nop.Plugin.Widgets.Newsletter.Models.ConfigurationModel
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.WidgetZone_OverrideForStore, model => model.WidgetZone, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WidgetZone)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.WidgetZone)
                    </div>
                </div>

            @(Html.LocalizedEditor<Nop.Plugin.Widgets.Newsletter.Models.ConfigurationModel, Nop.Plugin.Widgets.Newsletter.Models.NewsletterLocalizedModel>("newsletter-localized",
            @<div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Locales[item].Header)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => Model.Locales[item].Header)
                        @Html.ValidationMessageFor(model => model.Locales[item].Header)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Locales[item].Description)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => Model.Locales[item].Description, "RichEditor")
                        @Html.ValidationMessageFor(model => model.Locales[item].Description)
                    </div>
                </div>

                @Html.HiddenFor(model => model.Locales[item].LanguageId)
            </div>
            ,
            @<div>
            <div class="form-group">
                    <div class="col-md-3">
                       @* @Html.OverrideStoreCheckboxFor(model => model.Header_OverrideForStore, model => model.Header, Model.ActiveStoreScopeConfiguration)*@
                        @Html.NopLabelFor(model => model.Header)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Header)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                      @*   @Html.OverrideStoreCheckboxFor(model => model.Description_OverrideForStore, model => model.Description, Model.ActiveStoreScopeConfiguration) *@
                        @Html.NopLabelFor(model => model.Description)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Description, "RichEditor")
                    </div>
                </div>
            </div>))
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.CookiesDays_OverrideForStore, model => model.CookiesDays, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.CookiesDays)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.CookiesDays)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Delay_OverrideForStore, model => model.Delay, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Delay)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Delay)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.WithoutEmail_OverrideForStore, model => model.WithoutEmail, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WithoutEmail)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.WithoutEmail)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.CookiesName_OverrideForStore, model => model.CookiesName, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.CookiesName)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.CookiesName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Validuntil_OverrideForStore, model => model.Validuntil, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Validuntil)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Validuntil)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>                </div>
            </div>
        </div>

                }
