﻿@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Localization;
@using Nop.Services.Localization;
@using Nop.Core;
@model Nop.Plugin.Widgets.Newsletter.Models.ConfigurationModel
@{

    Html.AddScriptParts("~/Scripts/jquery.magnific-popup.js");
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");
    Html.AppendCssFileParts("~/Plugins/Widgets.Newsletter/Content/style.css");

}

<a class="popup-with-form" style="display:none;" data-mfp-src="#newsletter_modal"></a>

<div class="white-popup mfp-hide" id="newsletter_modal">
    <div class="modal-header">
        <h3>@Model.Header</h3>
    </div>
    <div class="modal-body" id="newsletter-block">
        <div class="newsletter-block-description">
            @Html.Raw(Model.Description)
        </div>
        @if (!Model.WithoutEmail)
        {
            <div class="newsletter-email">
                <input type="text" placeholder="@T("Plugins.Widgets.Newsletter.Email")" id="newsletteremail" class="inputtext-email">
            </div>
        }
    </div>
    <img id="mannequin" alt="" src="https://www.bivolino.com/Themes/Brooklyn/Content/img/model_BIVOLAST.png">
    <div id="newsletter-result-error" class="modal-body">
    </div>
    <div id="newsletter-result-ok" style="display: none;" class="modal-body">
    </div>
    <div class="modal-footer">
        @if (!Model.WithoutEmail)
        {
            <input type="button" value="@T("Plugins.Widgets.Newsletter.Save")" id="newsletter-button" class="btn btn-primary" />
        }
        else
        {
            <input type="button" value="@T("Plugins.Widgets.Newsletter.Ok")" class="btn btn-primary" id="newsletter-button-close" data-dismiss="modal" />
        }
    </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {
        $('.popup-with-form').magnificPopup({
            type: 'inline',
            preloader: false,
            showCloseBtn: true,
        });
    });


    function WHCreateCookie(name, value, days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        var expires = "; expires=" + date.toGMTString();
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function WHReadCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }



    if (WHReadCookie('@(Model.CookiesName)') != 'T') {
        window.setTimeout(function () {
            $('.popup-with-form').magnificPopup('open');
        }, '@(Model.Delay)')
        WHCreateCookie('@(Model.CookiesName)', 'T', '@(Model.CookiesDays)');
    }

    $(document).ready(function () {
        $('#newsletter-button').click(function () {
            var email = $("#newsletteremail").val();
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("SubscribeNewsletter"))",
                data: { "subscribe": 'true', "email": email },
                success: function (data) {
                    if (data.Success) {
                        $("#newsletter-result-ok").html(data.Result);
                        $('#newsletter-block').hide();
                        $('#newsletter-result-ok').show();
                        $('#button-close').show();
                        $('#newsletter-button').hide();
                    }
                    else {
                        $("#newsletter-result-error").html(data.Result);
                        $('#newsletter-result-error').fadeIn("slow").delay(2000).fadeOut("slow");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to subscribe.');
                }
            });
            return false;
        });
        $('#newsletter-button-close').click(function () {
            $('.popup-with-form').magnificPopup('close');
        });
    });

</script>

