﻿@model ProductDetailsModel
@using Nop.Core
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(storeName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(storeName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
}

@section ProductPage
{
    <!-- empty section to indicate that we are on a product page -->
}
<!--product breadcrumb-->
@section Breadcrumb
{
    @Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
}
@Html.Raw("<link href='../../Themes/Brooklyn/Content/css/modal.css' rel='stylesheet'>")
@Html.Raw("<script src='../../Themes/Brooklyn/Content/scripts/modal.js'></script>")
@Html.Widget("productdetails_after_breadcrumb", Model.Id)
<div class="page product-details-page">
    <div class="page-body">
        @Html.Widget("productdetails_top", Model.Id)
        @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
        {
            <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                <div class="product-name">
                    <h1 itemprop="name">@Model.Name</h1>
                    @Html.Widget("productname_bottom", Model.Id)
                </div>
                <div class="product-essential">
                    @Html.Widget("productdetails_before_pictures", Model.Id)
		            @{
                        var cloudZoom = Html.Widget("sevenspikes_cloud_zoom");
                    }
                    @if (!MvcHtmlString.IsNullOrEmpty(cloudZoom))
                    {
                        @cloudZoom
                    }
                    else
                    {
                        @Html.Partial("_ProductDetailsPictures", Model)
                    }
                    @Html.Widget("productdetails_after_pictures", Model.Id)
                    <div class="overview">
                        <!--product reviews-->
                        @Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)

                        @Html.Partial("_Discontinued", Model)
                        @if (!String.IsNullOrEmpty(Model.ShortDescription))
                        {
                            <div class="short-description">
                                @Html.Raw(Model.ShortDescription)
                            </div>
                        }

@{

 var workContext = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.IWorkContext>();
 var lid=workContext.WorkingLanguage.Id;
if (workContext.WorkingLanguage.Id == 2)
    {
lid=2;
            }
if (workContext.WorkingLanguage.Id == 9)
    {
lid=1;
            }
if (workContext.WorkingLanguage.Id == 10)
    {
lid=3;
            }
if (workContext.WorkingLanguage.Id == 11)
    {
lid=4;
            }
 var cur=workContext.WorkingCurrency.Id;
if (workContext.WorkingCurrency.Id == 6)
    {
cur=1;
}
if (workContext.WorkingCurrency.Id == 3)
    {
cur=2;
}
           
   if (Model.Breadcrumb.Enabled && Model.Breadcrumb.CategoryBreadcrumb.Count>0)
    {
        var categorySimpleModel = Model.Breadcrumb.CategoryBreadcrumb.LastOrDefault();
        if (categorySimpleModel != null)
        {
            int categoryId = categorySimpleModel.Id;

            if ((categoryId != 87) && (categoryId != 88) && (categoryId != 89) && (categoryId != 90) && (categoryId != 91) && (categoryId != 92) && (categoryId != 93) && (categoryId != 94))
            {
    if (workContext.WorkingLanguage.Id == 2)
    {
         <img id="Biometrische_Maten" alt="Biometrische Maten Technologie" src="https://www.bivolino.com/Themes/Brooklyn/Content/img/bio-patch2.jpg">
    }
    if (workContext.WorkingLanguage.Id == 9)
    {
         <img id="Biometrische_Maten" alt="Biometrische Maten Technologie" src="https://www.bivolino.com/Themes/Brooklyn/Content/img/bio-patch1.jpg">
    }
    if (workContext.WorkingLanguage.Id == 10)
    {
         <img id="Biometrische_Maten" alt="Biometrische Maten Technologie" src="https://www.bivolino.com/Themes/Brooklyn/Content/img/bio-patch3.jpg">
    }
    if (workContext.WorkingLanguage.Id == 11)
    {
         <img id="Biometrische_Maten" alt="Biometrische Maten Technologie" src="https://www.bivolino.com/Themes/Brooklyn/Content/img/bio-patch4.jpg">
    }
   }
  }
 }
}       


 
   

           

                
           
   

                        @Html.Widget("productdetails_overview_top", Model.Id)
                        <!--manufacturers-->
                        @Html.Partial("_ProductManufacturers", Model.ProductManufacturers)
                        <!--availability-->
                        @Html.Partial("_Availability", Model)
                        <!--SKU, MAN, GTIN, vendor-->
                        @Html.Partial("_SKU_Man_GTIN_Ven", Model)
                        <!--delivery-->
                        @Html.Partial("_DeliveryInfo", Model)
                        <!--attributes-->
                        @{
                            var dataDictAttributes = new ViewDataDictionary();
                            dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                            @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                        }
                        <!--wishlist, compare, email a friend-->
                        <div class="overview-buttons">
                            @Html.Widget("productdetails_inside_overview_buttons_before", Model.Id)
                            @{
                                var dataDictAddToWishlist = new ViewDataDictionary();
                                dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                @Html.Partial("_AddToWishlist", Model.AddToCart, dataDictAddToWishlist)
                            }
                            @Html.Partial("_CompareProductsButton", Model)
                            @Html.Partial("_ProductEmailAFriendButton", Model)
                            <!--sample download-->
                            @Html.Partial("_DownloadSample", Model)
                            @Html.Widget("productdetails_inside_overview_buttons_after", Model.Id)
                        </div>
                        <!--gift card-->
                        @{
                            var dataDictGiftCard = new ViewDataDictionary();
                            dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                            @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                        }
                        <!--rental info-->
                        @{
                            var dataDictRental = new ViewDataDictionary();
                            dataDictRental.TemplateInfo.HtmlFieldPrefix = string.Format("rental_{0}", Model.Id);
                            @Html.Partial("_RentalInfo", Model, dataDictRental)
                        }
                        <!--price & add to cart-->
                        @{
                            var dataDictPrice = new ViewDataDictionary();
                            dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                            @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)

                            var dataDictAddToCart = new ViewDataDictionary();
                            dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                            @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
                        }

				
				@if(EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name) == "Bivolino.com")
				{

				<!--	if(Model.Name.Contains("BLOUSE") || Model.Name.Contains("Blouse")|| Model.Name.Contains("blouse") || Model.Name.Contains("chemisier") || Model.Name.Contains("Chemisier")|| Model.Name.Contains("CHEMISIER") || Model.Name.Contains("BLUSE") || Model.Name.Contains("Bluse") || Model.Name.Contains("bluse"))
					{
				 	<div id="customize_button"><a href="https://www.bivolino.com/configurator-women?conflid=@lid&cur=@cur&SELID=@Model.Sku">Customise</a></div>

					}
					else--> if(Model.Name.Contains("OVERHEMD") || Model.Name.Contains("Overhemd") || Model.Name.Contains("overhemd") || Model.Name.Contains("SHIRT") || Model.Name.Contains("Shirt") || Model.Name.Contains("shirt")|| Model.Name.Contains("CHEMISE") || Model.Name.Contains("chemise") || Model.Name.Contains("Chemise")|| Model.Name.Contains("HEMD") || Model.Name.Contains("Hemd") || Model.Name.Contains("hemd"))
					{
                    var categorySimpleModel1 = Model.Breadcrumb.CategoryBreadcrumb.LastOrDefault();
       
                    int categoryId1 = categorySimpleModel1.Id;
					if(categoryId1 !=84){
					
					<div id="customize_button"><a href="https://www.bivolino.com/configurator?conflid=@lid&cur=@cur&SELID=@Model.Sku">Customise</a></div>
     				   }             
					}
				}

					else if(EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name) == "Bivoshop.com")
					{
					<table><tr><td><img src="http://www.bivoshop.com/FindYourSize.png" alt="Uw maat word voorspeld" onclick="window.open('http://sizepredictor.bivolino.com/nop/BivoAppMC.aspx','Uw maat word voorspeld.','width=600,height=600');"/>
					</td>
           			<td><input type="text" id="linosoft" name="linosoftname" size="40" style="font-size: 12pt;color: blue"></td>
       				</tr>
    				</table>
					}

 						@Html.Partial("_ShareButton", Model)
                        @Html.Widget("productdetails_overview_bottom", Model.Id)

                    </div>


                    @if (!String.IsNullOrEmpty(Model.FullDescription))
                    {
                        <div class="full-description" itemprop="description">
                            @Html.Raw(Model.FullDescription)
                        </div>
                    }
                </div>


                @Html.Widget("productdetails_before_collateral", Model.Id)
                <div class="product-collateral">
                    @Html.Partial("_ProductTierPrices", Model.TierPrices)
                    @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
                    @Html.Partial("_ProductTags", Model.ProductTags)
                </div>
                @Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })
                @Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
            </div>
        }
        @Html.Widget("productdetails_bottom", Model.Id)
    </div>
</div>

<!--Start Google Analytics-->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100731918-1', 'auto');
    ga('send', 'pageview');

</script>
<!--End Google Analytics--> 