﻿@model Nop4you.Plugin.MarketingAutomation.Models.CustomerReminderModel

@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;
@using Nop.Services;

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<script type="text/javascript">

        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.RuleId)").change(toggleRule);

            function toggleRule() {
                var selectedRuleId = $("#@Html.FieldIdFor(model => model.RuleId)").val();
                if (selectedRuleId == 1 || selectedRuleId == 2 || selectedRuleId == 3 || selectedRuleId == 4 || selectedRuleId == 5 || selectedRuleId == 6 || selectedRuleId == 7) {
                    $('[data-tab-name=tab-Conditions]').show();
                } else {
                    $('[data-tab-name=tab-Conditions]').hide();
                }

                if (selectedRuleId == 5 || selectedRuleId == 6 || selectedRuleId == 7) {
                    $('#crdays').show();
                    $('#crdays2').show();
                }
                else {
                    $('#crdays').hide();
                    $('#crdays2').hide();
                }
                if (selectedRuleId == 1 || selectedRuleId == 6 || selectedRuleId == 7) {
                    $('#fromAmount').show();
                    $('#toAmount').show();
                }
                else {
                    $('#fromAmount').hide();
                    $('#toAmount').hide();
                }
            }
            toggleRule();
        });

</script>

<div class="content">
    <div class="form-horizontal">
        <div id="contactattribute-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Nop4You.MarketingAutomation.CustomerReminder.Info"), true)
                @Html.RenderBootstrapTabHeader("tab-level", @T("Nop4You.MarketingAutomation.CustomerReminder.Level"))
                @Html.RenderBootstrapTabHeader("tab-Conditions", @T("Nop4You.MarketingAutomation.CustomerReminder.Conditions"))
                @Html.RenderBootstrapTabHeader("tab-history", @T("Nop4You.MarketingAutomation.CustomerReminder.History"))
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
                @Html.RenderBootstrapTabContent("tab-level", @TabLevel())
                @Html.RenderBootstrapTabContent("tab-Conditions", @TabConditions())
                @Html.RenderBootstrapTabContent("tab-history", @TabHistory())
            </div>
        </div>
    </div>
</div>


@helper TabInfo()
{

    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.Name)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.RuleId)
        </div>
        <div class="col-md-9">
            @if (Model.Id > 0)
            {
                @Html.NopDropDownListFor(model => model.RuleId, ((Nop4you.Plugin.MarketingAutomation.Domain.CustomerReminderRuleEnum)Model.RuleId).ToSelectList(), new { @disabled = "disabled" })
            }
            else
            {
                @Html.NopDropDownListFor(model => model.RuleId, ((Nop4you.Plugin.MarketingAutomation.Domain.CustomerReminderRuleEnum)Model.RuleId).ToSelectList())
            }
            @Html.ValidationMessageFor(model => model.RuleId)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            @T("nop4you.marketingautomation.customerreminder.ruletype.abandonedcart") <br />
            @T("nop4you.marketingautomation.customerreminder.ruletype.registeredcustomer") <br />
            @T("nop4you.marketingautomation.customerreminder.ruletype.lastpurchase") <br />
            @T("nop4you.marketingautomation.customerreminder.ruletype.lastactivity") <br />
            @T("nop4you.marketingautomation.customerreminder.ruletype.birthday")<br />
            @T("nop4you.marketingautomation.customerreminder.ruletype.completedorder")<br />
            @T("nop4you.marketingautomation.customerreminder.ruletype.unpaidorder")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.Active)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.StoreId)
        </div>
        <div class="col-md-9">
            @Html.NopDropDownListFor(model => model.StoreId, Model.AvailableStores)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.AllowRenew)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.AllowRenew)
            @Html.ValidationMessageFor(model => model.AllowRenew)
        </div>
    </div>
    <div id="fromAmount" class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.FromAmount)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.FromAmount)
            @Html.ValidationMessageFor(model => model.FromAmount)
        </div>
    </div>

    <div id="toAmount" class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.ToAmount)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.ToAmount)
            @Html.ValidationMessageFor(model => model.ToAmount)
        </div>
    </div>

    <div id="crdays" class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.Days)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.Days)
            @Html.ValidationMessageFor(model => model.Days)
        </div>
    </div>
    <div id="crdays2" class="form-group">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            @T("Nop4You.MarketingAutomation.CustomerReminder.Field.Days.Hint1") <br />
            @T("Nop4You.MarketingAutomation.CustomerReminder.Field.Days.Hint2") <br />
            @T("Nop4You.MarketingAutomation.CustomerReminder.Field.Days.Hint3")
        </div>
    </div>
    <div id="crfromDate" class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.FromDate)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.FromDate)
            @Html.ValidationMessageFor(model => model.FromDate)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.StartDateTimeUtc)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.StartDateTimeUtc)
            @Html.ValidationMessageFor(model => model.StartDateTimeUtc)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.EndDateTimeUtc)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.EndDateTimeUtc)
            @Html.ValidationMessageFor(model => model.EndDateTimeUtc)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.DisplayOrder)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.DisplayOrder)
            @Html.ValidationMessageFor(model => model.DisplayOrder)
        </div>
    </div>

}

@helper TabLevel()
{
if (Model.Id > 0)
{

        <div class="panel panel-default">
            <div class="panel-body">
                <div id="level-grid"></div>
            </div>
            <div class="panel-footer">
                <button type="submit" id="btnAddNewProduct"
                        onclick="javascript:OpenWindow('@(Url.Action("AddLevel", "CustomerReminders", new { CustomerReminderId = Model.Id, Id = 0, btnId = "btnRefreshProducts", formId = "customerreminder-form"}))', 800, 800, true); return false;"
                        class="btn btn-primary">
                    @T("Nop4You.MarketingAutomation.CustomerReminder.Level.AddNew")
                </button>
                <input type="submit" id="btnRefreshProducts" style="display: none" />
                <script type="text/javascript">
                        $(document).ready(function () {
                            $('#btnRefreshProducts').click(function () {
                                //refresh grid
                                var grid = $("#level-grid").data('kendoGrid');
                                grid.dataSource.read();

                                //return false to don't reload a page
                                return false;
                            });
                        });
</script>
            </div>
        </div>

        <script>
                $(document).ready(function () {
                    $("#level-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("Level", "CustomerReminders", new { Id = Model.Id }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("LevelDelete", "CustomerReminders", new RouteValueDictionary() { { "Namespaces", "Nop4You.Plugin.MarketingAutomation.Controllers" }, { "area", "" } })) ",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id"
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: 15,
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                                  field: "Level",
                                  title: "@T("Nop4You.MarketingAutomation.CustomerReminder.Field.Level")",
								  width: 150,
                                },{
                                  field: "Name",
                                  title: "@T("Nop4You.MarketingAutomation.CustomerReminder.Field.Level.Name")"
                                }, {
                                    field: "Subject",
                                    title: "@T("Nop4You.MarketingAutomation.CustomerReminder.Field.Level.Subject")"
                                }, {
                                  field: "Id",
                                  title: "@T("Admin.Common.Edit")",
                                  width: 100,
                                  template: '<a class="k-button k-button-icontext" onClick="javascript:OpenWindow(\'@(Url.Action("AddLevel", "CustomerReminders", new { CustomerReminderId = Model.Id, btnId = "btnRefreshProducts", formId = "customerreminder-form"}))&Id=#=Id#\', 800, 800, true); return false;"><span class="k-icon k-edit"></span> @T("Admin.Common.Edit")</a>'
                                }, {
                                  command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                                  title: "@T("Admin.Common.Delete")",
                                  width: 100
                                }]
                    });
                });
        </script>
}
else
{
        @T("Nop4You.MarketingAutomation.customerreminder.SaveBeforeEdit")
}
}

@helper TabConditions()
{

if (Model.Id > 0)
{



    if (Model.RuleId == 1 || Model.RuleId == 6 || Model.RuleId == 7)
    {
            @Html.Partial("~/Plugins/Nop4you.MarketingAutomation/Views/Admin/CustomerReminders/_ConditionProduct.cshtml", Model)
    }
    if (Model.RuleId == 2 || Model.RuleId == 3 || Model.RuleId == 3 || Model.RuleId == 4 || Model.RuleId == 5)
    {
            @Html.Partial("~/Plugins/Nop4you.MarketingAutomation/Views/Admin/CustomerReminders/_ConditionRegister.cshtml", Model)
    }

}
else
{
        @T("Nop4You.MarketingAutomation.customerreminder.SaveBeforeEdit")
}
}

@helper TabHistory()
{
if (Model.Id > 0)
{
        <div id="history-grid"></div>

        <script>
                $(document).ready(function () {
                    $("#history-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("History", "CustomerReminders", new { Id = Model.Id }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: 15,
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                                  field: "CreateDate",
                                  title: "@T("Nop4You.MarketingAutomation.CustomerReminder.Field.History.CreateDate")",
								  width: 150,
                                  type: "date",
                                  format: "{0:G}"
                                },{
                                  field: "User",
                                  title: "@T("Nop4You.MarketingAutomation.CustomerReminder.Field.History.User")"
                                },{
                                    field: "EmailId",
                                    title: "@T("Nop4You.MarketingAutomation.CustomerReminder.Field.History.EmailId")",
                                    width: 50,
                                    template: '<a href="../../Admin/QueuedEmail/Edit/#=EmailId#">@T("Admin.Common.Edit")</a>'
                                }
                                ]
                    });
                });
        </script>


}
else
{
        @T("Nop4You.MarketingAutomation.customerreminder.SaveBeforeEdit")
}
}