﻿@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Nop4You.MarketingAutomation.CustomerReminder").Text;
    Html.SetActiveMenuItemSystemName("MarketingAutomation");

}
@using Nop.Web.Framework.UI;
@Html.AntiForgeryToken()

<div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Nop4You.MarketingAutomation.CustomerReminder")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("Create", "CustomerReminders", new RouteValueDictionary() { { "Namespaces", "Nop4You.Plugin.MarketingAutomation.Controllers" }, { "area", "" } })" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
        </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
			<div class="panel panel-default">
                @if (Nop4you.Plugin.MarketingAutomation.n4yPlugin.TrialVersion)
                {
                    <div class="callout bg-gray-light no-margin">
                        TRIAL VERSION - support max display 50 banners, 50 sent emails - Buy full version: http://nop4you.com/marketing-automation-for-nopcommerce
                    </div>
                }
            <div class="panel-body">
				<div id="customerreminder-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#customerreminder-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "CustomerReminders", new RouteValueDictionary() { { "Namespaces", "Nop4You.Plugin.MarketingAutomation.Controllers" }, { "area", "" } }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("Delete", "CustomerReminders", new RouteValueDictionary() { { "Namespaces", "Nop4You.Plugin.MarketingAutomation.Controllers" }, { "area", "" } })) ",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id"
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "Name",
                            title: "@T("Nop4You.MarketingAutomation.CustomerReminders.Field.Name")"
                        },{
                            field: "Active",
                            title: "@T("Nop4You.MarketingAutomation.CustomerReminders.Field.Active")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '# if(Active) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                        }, {
                            field: "DisplayOrder",
                            title: "@T("Nop4You.MarketingAutomation.CustomerReminders.Field.DisplayOrder")",
                            width: 100
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            template: '<a class="k-button k-button-icontext" href="Edit/#=Id#"><span class="k-icon k-edit"></span> @T("Admin.Common.Edit")</a>'
                        }, {
                            command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                            title: "@T("Admin.Common.Delete")",
                            width: 100
                        }]
                    });
                });
            </script>

				</div>
			</div>
        </div>
    </div>
</div>