﻿.social-login-blocks {
    text-align:center;
}
fieldset.social-login-block > legend{
    display: none;
}

fieldset.social-login-block {
    display: inline;
    margin: 0px;
    padding: 5px;
}
.social-login-block {
    border: medium none !important;
}

.social-facebook-btn {
    background-image: url("images/facebook-account-logo.png");
    background-repeat: no-repeat;
}

.social-yahoo-btn {
    background-image: url('images/yahoo-account-logo.png');
    background-repeat: no-repeat;
}
.social-google-btn {
    background-image: url('images/google-account-logo.png');
    background-repeat: no-repeat;
}
.social-linkedin-btn {
    background-image: url('images/linkedin-account-logo.png');
    background-repeat: no-repeat;
}
.social-mailru-btn {
    background-image: url('images/mailru-account-logo.png');
    background-repeat: no-repeat;
}
.social-twitter-btn {
    background-image: url('images/twitter-account-logo.png');
    background-repeat: no-repeat;
}
.social-vk-btn {
    background-image: url('images/vk-account-logo.png');
    background-repeat: no-repeat;
}
.social-yandex-btn {
    background-image: url('images/yandex-account-logo.png');
    background-repeat: no-repeat;
}
.social-amazon-btn {
    background-image: url('images/amazon-account-logo.png');
    background-repeat: no-repeat;
}
.social-microsoft-btn {
    background-image: url('images/microsoft-account-logo.png');
    background-repeat: no-repeat;
}
.social-paypal-btn {
    background-image: url('images/paypal-account-logo.png');
    background-repeat: no-repeat;
}
.social-instagram-btn {
    background-image: url('images/instagram-account-logo.png');
    background-repeat: no-repeat;
}
.social-foursquare-btn {
    background-image: url('images/foursquare-account-logo.png');
    background-repeat: no-repeat;
}
.social-pinterest-btn {
    background-image: url('images/pinterest-account-logo.png');
    background-repeat: no-repeat;
}
.social-github-btn {
    background-image: url('images/github-account-logo.png');
    background-repeat: no-repeat;
}
.social-accountkit-btn-email {
    background-image: url('images/accountkit-email-account-logo.png');
    background-repeat: no-repeat;
}
.social-accountkit-btn-phone {
    background-image: url('images/accountkit-phone-account-logo.png');
    background-repeat: no-repeat;
}
.social-accountkit-form {
    max-width:500px !important;
    width: 95% !important;
    z-index: 9999 !important ;
}
.social-salesforce-btn {
    background-image: url('images/salesforce-account-logo.png');
    background-repeat: no-repeat;
}

.exoauth_btn {
    /*border: 1px solid #DDDDDD;*/
    float: left;
    height: 35px;
    width: 230px;
}
