<div ng-class="{ fielderror : !rule.selectedRoles.length }">
    <div ng-repeat="role in model.roles">
        <label>
            <input ng-disabled="!rule.editable"
                   type="checkbox"
                   ng-checked="rule.selectedRoles.indexOf(role.Value) > -1"
                   ng-click="addRemoveFromRole(this, role.Value)"
                   name="SelectedCustomerRoleIds{{id}}" id="{{role.Name}}{{role.Value}}">
            {{role.Name}}
        </label>
        <br>
    </div>
</div>