<div>
    <table width="100%">
        <tbody>
            <tr>
                <td colspan="2" class="adminTitle">
                    <p>Send additional customer information to Campaign Monitor for use in your e-mail templates.</p>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <p>
                        <span class="fa fa-question-circle" title="When sending customers details to Campaign Monitor, either billing or shipping address fields can be used as the source.">&nbsp;</span>
                        <label>Get customer details from</label>
                    </p>
                </td>
                <td class="adminData">
                    <label>
                        <input type="radio"
                               value="0"
                               ng-model="settings.CustomerInformationSource"
                               name="CustomerInformationSource">Billing Address
                    </label>
                    <label>
                        <input type="radio"
                               value="1"
                               ng-model="settings.CustomerInformationSource"
                               name="CustomerInformationSource">Shipping Address
                    </label>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <label for="FirstName">First Name</label>
                </td>
                <td class="adminData">
                    <input id="FirstName" type="checkbox" ng-model="settings.FirstName">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <label for="LastName">Last Name</label>
                </td>
                <td class="adminData">
                    <input id="LastName" type="checkbox" ng-model="settings.LastName">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <label for="Company">Company</label>
                </td>
                <td class="adminData">
                    <input id="Company" type="checkbox" value="true" ng-model="settings.Company">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <label for="CountryName">Country</label>
                </td>
                <td class="adminData">
                    <input id="CountryName" type="checkbox" value="true" ng-model="settings.CountryName">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <label for="CountryCode">Country Code</label>
                </td>
                <td class="adminData">
                    <input id="CountryCode" type="checkbox" value="true" ng-model="settings.CountryCode">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <label for="City">City</label>
                </td>
                <td class="adminData">
                    <input id="City" type="checkbox" value="true" ng-model="settings.City">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <label for="Address1">Address 1</label>
                </td>
                <td class="adminData">
                    <input id="Address1" type="checkbox" value="true" ng-model="settings.Address1">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <label for="Address2">Address 2</label>
                </td>
                <td class="adminData">
                    <input id="Address2" type="checkbox" value="true" ng-model="settings.Address2">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <label for="ZipPostalCode">Zip/Postal Code</label>
                </td>
                <td class="adminData">
                    <input id="ZipPostalCode" type="checkbox" value="true" ng-model="settings.ZipPostalCode">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <label for="PhoneNumber">Phone Number</label>
                </td>
                <td class="adminData">
                    <input id="PhoneNumber" type="checkbox" value="true" ng-model="settings.PhoneNumber">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <label for="FaxNumber">Fax Number</label>
                </td>
                <td class="adminData">
                    <input id="FaxNumber" type="checkbox" value="true" ng-model="settings.FaxNumber">
                </td>
            </tr>
        </tbody>
    </table>
    
    <p></p>
    <input type="button" name="savesettings" class="k-button" value="Save Settings" ng-click="saveSettings()">
</div>