﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid">
        <div class="title">
            <strong>@T("HomePage.RecommendedProducts")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @Html.Partial("~/Views/Shared/_ProductBox.cshtml", item)
                </div>
            }
        </div>
    </div>
}