
/*** PLUGIN STYLES ***/



.checkout-page .page-body {
    width: 95%;
    margin-left: auto!important;
    margin-right: auto!important;
}

input.ng-invalid.ng-dirty, 
textarea.ng-invalid.ng-dirty, 
.has-error {
    border: 1px solid red !important;
}

.checkout-page .choose-address,
.panel-group-left .inputs {
    width: 350px;
    margin: 0 auto 10px;
    max-width: 95%;
    padding: 0 5px;
}
.checkout-page .choose-address {
    margin-bottom: 30px;
}
.checkout-page select {
    max-width: 100%;
    line-height: 26px; /* safari fix */
}
.panel-group-left .inputs > span.ng-binding {
    display: block;
    color: #c00;
    margin: 5px 0 0;
    font-size: 14px;
}
.checkout-page .description {
    margin: 5px 0 0;
}
.estimate-shipping-panel .shipping-options {
    margin: 0 0 24px;
}
.estimate-shipping-panel .buttons {
    margin: 20px 0 0;
}
.estimate-shipping-panel button {
    border: 0;
    background: 0;
    background-image: url(bg-button-big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 6px 15px;
    font: normal 18px "Open Sans Condensed",Arial,sans-serif;
}
.estimate-shipping-panel .shipping-results {
    margin: 0 auto 20px;
    border: 1px dotted #ccc;
    padding: 10px 15px;
    text-align: left;
    max-width: 420px;
}
.estimate-shipping-panel .shipping-results > li {
    margin: 10px 0;
}
.ropc .pickup-points-map {
    max-width: 100%;
    margin: 15px auto 0;
}
.shipping-method .method-list {
    border: 0;
    padding: 0 15px;
}
.shipping-method .method-list li {
	text-align: center;
}
.use-reward-points {
  margin: 0 0 15px !important;
  padding: 0 0 25px;
  text-align: center;
  border-bottom: 1px dotted #ccc;
}
.payment-logo, 
.payment-details {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.payment-method .method-list {
    padding: 10px 0 0 10px;
    margin: 0 0 20px;
    text-align: left;
}
.payment-method .method-list li {
    margin: 10px 0;
    padding: 5px;
    display: block;
}
.payment-info .info {
    margin: 0 auto 20px;
    border: 1px dotted #ccc;
    padding: 10px 15px;
    text-align: left;
}
.payment-info td {
    padding: 10px 0;
}

.checkout-page .cart tbody tr td:first-child {
    border-left: 1px dotted #d0d0d0;
    border-top: 1px dotted #d0d0d0;
}
.checkout-page .cart tbody tr td:last-child {
    border-right: 1px dotted #d0d0d0;
}
.checkout-page .cart tbody tr:last-child td {
    border-bottom: 1px dotted #d0d0d0;
}
.order-summary-panel .section-body {
    padding: 0 1px;
}
.checkout-page .qty .td-title {
    display: none;
}
.cart .qty-input{
  height: 40px;
  line-height: 40px;
}

.order-summary-content .section-body > .ng-binding {
    line-height: 20px;
    padding: 0 15px 15px;
    border-bottom: 1px solid #ddd;
}
.checkout-attributes input[type=text],
.checkout-attributes textarea {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.checkout-page .attribute-list {
    margin: 0 10px;
}
.checkout-page .attribute-list > li {
    margin: 0 0 15px;
}
.checkout-page .attribute-list input[type=text],
.checkout-page .attribute-list textarea {
    max-width: 100%;
}
.checkout-page .attribute-name {
    color: #af825d;
    font-size: 19px;
    margin: 0 0 5px;
}

.coupon-box-panel .hint, 
.giftcard-box-panel .hint {
    margin: 0 0 10px;
}
.coupon-box-panel .section-title strong,
.giftcard-box-panel .section-title strong {
    min-width: 190px;
}
.coupon-code {
    display: inline-block;
    margin: 0 0 5px;
}
.coupon-code input {
    float: left;
    width: 140px;
}
.coupon-code button {
    float: left;
    border: 0;
    background: 0;
    background-image: url(bg-button-big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 6px 12px;
    font: normal 16px "Open Sans Condensed",Arial,sans-serif;
    margin: -3px 0 0;
    height: 37px;
}
.current-code span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
}
.current-code button {
    display: inline-block;
    vertical-align: middle;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
	background: #fff url(close.png) center no-repeat;
	cursor: pointer;
    font-size: 0;
}
.coupon-box-panel .message,
.giftcard-box-panel .message {
    color: #c03;
}

.order-totals-panel {
    margin: 0 auto 20px;
    max-width: 350px;
	padding: 15px;
	border: 1px dotted #ccc;
}
.cart-total .order-total {
    font-size: 20px;
}
.cart-total button,
.remove-product {
    display: inline-block;
    vertical-align: middle;
	width: 32px;
	height: 32px;
	border: 1px dotted #ddd;
	background: #fff url(close.png) center no-repeat;
	cursor: pointer;
    font-size: 0;
    margin-right: -7px;
    margin-left: 3px;
    position: relative;
    z-index: 1;
}
.remove-product {
    margin: 0;
}

.order-confirm .error-list {
    margin: 0 0 20px;
}
.order-confirm .error-list li {
    margin: 0 0 10px;
    color: #c00;
}
.complete-button button {
    border: 0;
    background: 0;
    background-image: url(bg-button-big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 8px 35px;
    font: normal 20px "Open Sans Condensed",Arial,sans-serif;
    text-transform: capitalize;
}

button:disabled {
	opacity: 0.5;
	cursor: default;
}
.ropc .cart .sku {
    display: none;
}

.ropc .addon-buttons {
    text-align: right;
}

.ropc .addon-buttons > * {
     margin: 0 0 5px 5px;
}


@media all and (max-width: 1000px) {

    .ropc .section {
        margin: 0 0 20px;
    }

    .ropc .section-body {
        display: none;
        padding: 30px 0 20px;
    }

    .ropc .section-title {
        margin: 0;
        text-align: left;
    }
    .ropc .section-title strong {
        padding: 0 17% 0 0;
        background: url('icon-dropdown.png') no-repeat 95% center;
    }
    .ropc .cart {
        text-align: left;
    }
    .ropc .cart tr {
        display: block;
        width: 70%;
        min-width: 300px;
        margin: 0 auto 20px !important;
    }
    .ropc .cart tr:first-child {
        margin: 0;
    }
    .ropc .cart td {
        display: block;
        border-bottom: 1px dotted #ddd;
        border-top: none;
        padding: 10px;
        text-align: center;
    }

    .ropc .cart .quantity > div {
        display: inline-block;
    }

    .ropc .unit-price,
    .ropc .quantity {
        border-bottom: none !important;
    }
    .ropc .cart colgroup,
    .ropc .cart thead {
        display: none;
    }
    .ropc .addon-buttons {
        text-align: center;
    }

    .ropc .addon-buttons > * {
         margin: 0 5px 5px;
    }
}

@media all and (min-width: 601px) and (max-width: 1000px) {

    .ropc .cart tr {
        display: inline-block;
        vertical-align: top;
        min-width: 0;
        width: 49%;
        margin: 0 0.5% 2% !important;
        
    }

}

@media all and (min-width: 769px) {

.shipping-method-panel .section {
	margin: 0 0 15px;
}
.shipping-method .method-list li {
	text-align: left;
}

.checkout-page .attribute-list > li {
    display: block !important;
}
.checkout-page .attribute-name {
    margin: 0 0 5px;
}
.checkout-attributes li {
	margin: 0 10px 0 0;
}

.ship-to-same-address,
.order-confirm,
.pickup-in-store {
	text-align: center;
}
.ropc .coupon-box-panel,
.ropc .giftcard-box-panel {
    width: 100%;
}
.ropc .section-body {
    display: block !important;
}
.coupon-box-panel .section-body,
.giftcard-box-panel .section-body {
	padding: 0 15px;
	text-align: center;
}
.order-summary-panel .section-body {
    overflow-x: auto;
}
.terms-of-service {
	text-align: center;
}

}

@media all and (min-width: 810px) {

.order-summary-content .cart .item-count {
	display: block;
}

}

@media all and (min-width: 1001px) {
.ropc .td-title {
    display: none !important;
}
.method-list label {
	font-weight: normal !important;
}
.payment-method .method-list {
	float: left;
	width: 40%;
}
.payment-info {
	float: left;
	width: 60%;
}
.payment-info .info {
	min-height: 200px;
	border-width: 0 0 0 1px;
	padding-left: 30px;
}
.ropc .coupon-box-panel,
.ropc .giftcard-box-panel {
    width: 48%;
}
.ropc .attribute-list {
    text-align: left;
}

.ropc .cart .unit-price,
.ropc .cart .subtotal {
    white-space: normal;
}

.item-count {
	display: none !important;
}
.order-summary-content .section-body > .ng-binding {
	text-align: left;
}
.terms-of-service,
.complete-button {
	text-align: right;
}
.order-totals-panel {
	margin: 0 0 20px auto;
}

.checkout-page .page-body {
	width: 1000px;
}

.inputs label {
	display: block;
	text-align: left;
	width: auto !important;
	margin: 0 0 5px;
}
.order-confirm .error-list {
    text-align: right;
}
.order-confirm {
	text-align: left;
}

}